<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header">
	    			<div class="row">
			    		<div class="col-4">
					    	<h2>Ade Campus<small class="h5"> - évènements</small></h2>
					    </div>
					    <div class="col-8">
						    <div class="row float-end">
								<div class="col-auto">
									<form th:action="@{/{ctx}/manager/adeCampus(ctx=${eContext})}" id="projetForm">
										<th:block th:if="${isAdeConfigOk}" >
											 <p class="fw-bold mt-2" th:text="${projects.get(idProject)}"/></p>
										</th:block>
										<th:block th:unless="${isAdeConfigOk}">
											<select class="form-select mb-2" name="projet" id="projet">
												<option value="">----Projets----</option>
												<option th:each="proj : ${projects}"
													th:value="${proj.key}" th:text="${proj.value}"
													th:selected="${idProject eq proj.key}"></option>
											</select>
										</th:block>
									</form>
								</div>
								<div class="col-auto">
									<a title="Synchros" th:href="@{/{ctx}/manager/adeCampus/tasks(ctx=${eContext})}"
										class="btn btn-primary"><i class="fa-solid fa-tasks "></i></a>
									<a title="Salles" th:href="@{/{ctx}/manager/adeCampus/salles(ctx=${eContext})}"
										class="btn btn-primary"><i class="fa-solid fa-people-roof"></i></a>
									<a title="Paramètres" th:href="@{/{ctx}/manager/adeCampus/params(ctx=${eContext})}"
										class="btn btn-warning"><i class="fa-solid fa-gear"></i></a>
									<a title="Reconnexion session Ade Campus" th:href="@{/{ctx}/manager/adeCampus/disconnect(ctx=${eContext})}"
										class="btn btn-danger"><i class="fa-solid fa-sign-out"></i></a>
									<a title="Ade Campus" target="_blank" th:href="${adeHomeUrl}"
										class="btn btn-info">ADE</a>
								</div>								
						    </div>
					    </div> 
	    			</div>
		    	</div>
	 			<div class="card-body" id="gridEvents">
	 				<div class="alert alert-danger text-center fw-bold" th:if="${#ctx.containsVariable('message')}">
	 					Vous n"avez pas de sélection dans l'arborescence Ade Campus afin de planifier des tâches d'import.
	 				</div>
	 				<div class="row">
                    	<div class="col-xl-3 col-lg-3 col-sm-6 border-right vh-100">
							<div class="row">
								<div th:class="${!#lists.isEmpty(valuesFormation)? 'col' : 'col-12'}">
									<select class="form-select mb-2" id="codeComposante1">
										<option value="myEvents" th:selected="${codeComposante eq 'myEvents'}">Mes évènements</option>
										<option th:each="value : ${values}" th:if="${!#lists.isEmpty(values)}"
											th:value="${#strings.substringAfter(value,'@@')}" th:text="${#strings.substringBefore(value,'@@')}" 
											th:selected="${#strings.substringAfter(value,'@@') eq codeComposante}"></option>
									</select>
								</div>
								<div th:if="${category6 ne null}" th:class="${!#lists.isEmpty(values)? 'col' : 'col-12'}">
									<select class="form-select mb-2" id="codeFormation" th:if="${!#lists.isEmpty(valuesFormation)}">
										<option value="">----Formations----</option>
										<option th:each="value : ${valuesFormation}"
											th:value="${#strings.substringAfter(value,'@@')}" th:text="${#strings.substringBefore(value,'@@')}" 
											th:selected="${#strings.substringAfter(value,'@@') eq codeFormation}"></option>
									</select>
								</div>
								<div th:if="${#lists.isEmpty(values)}" class="alert alert-warning">
									Vous pouvez choisir les composantes dans l'onglet "Paramètres"</div>
							</div>
							<div class="d-flex justify-content-center mt-3 d-none" id="spinnerComps">
							  <div class="spinner-border spinner-border-sm text-primary" role="status">
							    <span class="visually-hidden">Loading...</span>
							  </div>
							</div>	
	 						 <div id="frmt" class="px-2 overflow-auto h-100"></div>
	 					</div>
	 					<div class="col-xl-9 col-lg-9 col-sm-6">
							<div class="d-flex d-none justify-content-center mb-4" id="spinnerLoad">
							  <div class="spinner-border" role="status">
							    <span class="sr-only">Loading...</span>
							  </div>
							</div>
		 					<div th:unless="${#ctx.containsVariable('noProject')}">
			 						<form th:action="@{/{ctx}/manager/adeCampus(ctx=${eContext})}" id="displayEvents" class="float-start">
										<input type="hidden" name ="idList" id="idList" required="required"/>
										<input type="hidden" name="codeComposante" id="hiddenCodeComposante" value="myEvents"/>
			 							<div id="toolbar float-start">
											<div class="row">
												<div class="col-auto">
													<label class="col-form-label col-form-label-sm ms-2 mt-1">Date min</label>
												</div>
												<div class="col-auto">
													<input type="date" id="strDateMin" name="strDateMin"
														class="form-control datetimepicker-input"
														th:value="${strDateMin}">
												</div>
												<div class="col-auto">
													<label class="col-form-label col-form-label-sm ms-2 mt-1">Date max</label>
												</div>
												<div class="col-auto">
													<input type="date" id="strDateMax" name="strDateMax"
														class="form-control datetimepicker-input"
														th:value="${strDateMax}">
												</div>
												<div class="col-auto">
													<div class="form-check">
													  <input class="form-check-input mt-2" type="checkbox" value="true" id="existingSe" name="existingSe" th:checked="${existingSe} ? 'checked'">
													  <label class="col-form-label col-form-label-sm form-check-label ms-2 mt-1" for="existingSe">
													    Déjà importés
													  </label>
													</div>
												</div>
												<div class="col-auto">
													<input type="submit" class="btn btn-success btn-sm mt-1 me-3" id="submitSearchEvents" value="Rechercher"/>
												</div>
											</div>
										</div>
									</form>
									<form th:action="@{/{ctx}/manager/adeCampus/importEvents(ctx=${eContext})}" method="post" id="displayEventsImport">
										<input type="hidden" name ="libelles" id="textListTask" required="required"/>
										<input type="hidden" name ="params" id="idListTask" required="required"/>
										<input type="hidden" name="strDateMin" th:value="${strDateMin}" id="strDateMinImport">
										<input type="hidden" name="strDateMax" th:value="${strDateMax}"id="strDateMaxImport">
										<input type="hidden" name="codeComposante" th:value="${codeComposante}" id="hiddenCodeComposante1"/>
										<input type="hidden" name ="idProject" id="idProject" th:value="${idProject}"/>
										<input type="hidden" name ="idList" id="idListImport"/>
										<div class="row mb-3 p-1 bg-light">
											<div class="col-auto">
												<select class="form-select form-select-sm" id="campus" name="campus" required>
													<option value="">--Choisir site d'import--</option>
													<option th:each="campus : ${campuses}" th:value="${campus.id}" 
													th:selected="${campus.isDefault != null and campus.isDefault}" th:text="${campus.site}"></option>
												</select>
											</div>
											<div class="col-auto">
												<button th:if="${isCreateGroupeAdeEnabled}" class="btn btn-sm btn-info mt-1" type="button"
													data-bs-toggle="collapse" data-bs-target="#collapseExample">
													Groupe
												</button>
											</div>
											<div class="col-auto">
												<button id="importBtn" class="btn btn-primary btn-sm btn-outline mt-1" type="submit">Importer</button>
												<button th:formaction="@{/{ctx}/manager/adeCampus/createTask(ctx=${eContext})}" class="btn btn-warning btn-sm btn-outline mt-1" type="submit">Planifier</button>
											</div>
										</div>
										<div class="collapse" id="collapseExample">
											<div class="alert alert-info">
												<div class="row">
													<div class="col-5">
														<select id="blackListGroupe" name="existingGroupe" class="form-check" multiple>
															<option th:each="groupe : ${allGroupes}" th:value="${groupe.id}" 
															th:text="${groupe.nom}"></option>
														</select>
													</div>
													<div class="col-auto">
														<input type="text" class="form-control" name="newGroupe" placeholder="Nouveau groupe.." value="">
													</div>
												</div>
											</div>
										</div>				
										<table class="table table-bordered table-striped tableFoo display compact" id="grid" style="width:100%">
											<thead>
											<tr>
												<th>Ids</th>
												<th><input type="checkbox" id="checkAll"></th>
												<th class="none">Id Evènement</th>
												<th class="none">Id Activité</th>
												<th class="none">Id Groupe</th>
												<th class="none">Id Enseignants</th>
												<th class="none">Id Salles</th>
												<th class="none">Id Formation</th>
												<th class="dateItem">Maj</th>
												<th>Import</th>
												<th>Type</th>
												<th>Nom</th>
												<th class="dateItem">Date</th>
												<th>Début</th>
												<th>Fin</th>
												<th>Groupe</th>
												<th>Enseignants</th>
												<th>Salles</th>
												<th>Formation</th>
											</tr>
											</thead>
											<tbody id="tableEvents"></tbody>
										</table>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
