<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header">
	    			<div class="row">
			    		<div class="col-4">
					    	<h2>Ade Campus<small class="h5"> - évènements</small></h2>
					    </div>
					    <div class="col-8">
						    <div class="row float-end">
								<div class="col-auto">
									<a title="Salles" th:href="@{/{ctx}/manager/adeCampus/salles(ctx=${eContext})}"
										class="btn btn-primary"><i class="fa-solid fa-people-roof"></i></a>
								</div>						    
								<div class="col-auto">
									<a title="Paramètres" th:href="@{/{ctx}/manager/adeCampus/params(ctx=${eContext})}"
										class="btn btn-warning"><i class="fa-solid fa-gear"></i></a>
								</div>
								<div class="col-auto">
									<a title="Reconnexion session Ade Campus" th:href="@{/{ctx}/manager/adeCampus/disconnect(ctx=${eContext})}"
										class="btn btn-danger"><i class="fa-solid fa-sign-out"></i></a>
								</div>
								<div class="col-auto">
									<a title="Ade Campus" target="_blank" th:href="${adeHomeUrl}"
										class="btn btn-info">ADE</a>
								</div>								
						    </div>
					    </div> 
	    			</div>
		    	</div>
	 			<div class="card-body" id="gridEvents">
	 				<div class="row">
                    	<div class="col-xl-3 col-lg-3 col-sm-6 border-right vh-100">
							<div class="row">
								<div th:class="${!#lists.isEmpty(valuesFormation)? 'col' : 'col-12'}">
									<select class="form-select mb-2" id="codeComposante1">
										<option value="">----Composantes----</option>
										<option value="myEvents" th:selected="${codeComposante eq 'myEvents'}">Mes évènements</option>
										<option th:each="value : ${values}" th:if="${!#lists.isEmpty(values)}"
											th:value="${#strings.substringAfter(value,'@@')}" th:text="${#strings.substringBefore(value,'@@')}" 
											th:selected="${#strings.substringAfter(value,'@@') eq codeComposante}"></option>
									</select>
								</div>
								<div th:class="${!#lists.isEmpty(values)? 'col' : 'col-12'}">
									<select class="form-select mb-2" id="codeFormation" th:if="${!#lists.isEmpty(valuesFormation)}">
										<option value="">----Formations----</option>
										<option th:each="value : ${valuesFormation}"
											th:value="${#strings.substringAfter(value,'@@')}" th:text="${#strings.substringBefore(value,'@@')}" 
											th:selected="${#strings.substringAfter(value,'@@') eq codeFormation}"></option>
									</select>
								</div>
							</div>
							<div class="d-flex justify-content-center mt-3 d-none" id="spinnerComps">
							  <div class="spinner-border spinner-border-sm text-primary" role="status">
							    <span class="visually-hidden">Loading...</span>
							  </div>
							</div>	
	 						 <div id="frmt" class="px-2 overflow-auto h-100"></div>
	 					</div>
	 					<div class="col-xl-9 col-lg-9 col-sm-6">
							<div class="d-flex d-none justify-content-center mb-4" id="spinnerLoad">
							  <div class="spinner-border" role="status">
							    <span class="sr-only">Loading...</span>
							  </div>
							</div>
				 			<div th:if="${#ctx.containsVariable('noProject')}" class="alert alert-warning fw-bold" >
				 			Vous devez choisir un projet dans les paramètres pour pouvoir continuer
				 			</div>
		 					<div th:unless="${#ctx.containsVariable('noProject')}">
				 				<div th:if="${#lists.isEmpty(values)}" class="alert alert-warning">
									Veuillez choisir les composantes de la liste dans l'onglet "Paramètres"</div>
								<div th:unless="${#lists.isEmpty(values)}">
			 						<form th:action="@{/{ctx}/manager/adeCampus(ctx=${eContext})}" id="displayEvents" class="float-start">
										<input type="hidden" name ="idList" id="idList" required="required"/>
										<input type="hidden" name="codeComposante" id="hiddenCodeComposante"/>
			 							<div id="toolbar float-start">
											<div class="row">
												<div class="col-auto">
													<label class="col-form-label col-form-label-sm ms-2 mt-1">Date min</label>
												</div>
												<div class="col-auto">
													<input type="date" id="strDateMin" name="strDateMin"
														class="form-control datetimepicker-input"
														th:value="${strDateMin}">
												</div>
												<div class="col-auto">
													<label class="col-form-label col-form-label-sm ms-2 mt-1">Date max</label>
												</div>
												<div class="col-auto">
													<input type="date" id="strDateMax" name="strDateMax"
														class="form-control datetimepicker-input"
														th:value="${strDateMax}">
												</div>
												<div class="col-auto">
													<div class="form-check">
													  <input class="form-check-input mt-2" type="checkbox" value="true" id="existingSe" name="existingSe" th:checked="${existingSe} ? 'checked'">
													  <label class="col-form-label col-form-label-sm form-check-label ms-2 mt-1" for="existingSe">
													    Déjà importés
													  </label>
													</div>
												</div>
												<div class="col-auto">
													<input type="submit" class="btn btn-success btn-sm mt-1 me-3" id="submitSearchEvents" value="Rechercher"/>
												</div>
											</div>
										</div>
									</form>
									<div id="contentToRefresh">
									<form th:action="@{/{ctx}/manager/adeCampus/importEvents(ctx=${eContext})}" method="post" id="displayEventsImport">
										<input type="hidden" name="strDateMin" th:value="${strDateMin}" id="strDateMinImport">
										<input type="hidden" name="strDateMax" th:value="${strDateMax}"id="strDateMaxImport">
										<input type="hidden" name="codeComposante" th:value="${codeComposante}" id="hiddenCodeComposante1"/>
										<input type="hidden" name ="idList" id="idListImport"/>
										<div id="toolbar float-start" class="mb-3">
										 <button class="btn btn-primary btn-sm btn-outline mt-1" type="submit">Importer</button>
										</div>
										<table  class="table table-bordered table-striped tableFoo" id="grid" style="width:100%">
											<thead>
											<tr>
												<th><input type="checkbox" id="checkAll"></th>
												<th>Id</th>
												<th>Maj</th>
												<th>Import</th>
												<th>Type</th>
												<th>Nom</th>
												<th>Date</th>
												<th>Début</th>
												<th>Fin</th>
												<th>Groupe</th>
												<th>Enseignants</th>
												<th class="table-warning">Site</th>
												<th>Salles</th>
												<th>Formation</th>
											</tr>
											</thead>
											<tbody id="tableEvents"></tbody>
										</table>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
