<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header">
	    			<div class="row">
			    		<div class="col-4">
					    	<h2>Ade Campus<small class="h5"> - paramètres</small></h2>
					    	<span class="fw-bold h5">Projet : </span>
						    <th:block th:each="element : ${mapProjets}" class="selected">
						    	<span th:if="${valueProject != null and 
									#strings.contains(valueProject, element.key)}" th:text="${element.value}"/></span>
						    </th:block>
					    </div>
					    <div class="col-8">
						    <div class="row float-end">
								<div class="col">
									<a title="Evènements" th:href="@{/{ctx}/manager/adeCampus(ctx=${eContext})}"
										class="btn btn-info"><i class="fa-solid fa-home"></i></a>
								</div>
								<div class="col">
									<a title="Salles" th:href="@{/{ctx}/manager/adeCampus/salles(ctx=${eContext})}"
										class="btn btn-primary"><i class="fa-solid fa-people-roof"></i></a>
								</div>
								<div class="col-auto">
									<a title="Ade Campus" target="_blank" th:href="${adeHomeUrl}"
										class="btn btn-info">ADE</a>
								</div>									
						    </div>
					    </div> 
	    			</div>
		    	</div>
	 			<div class="card-body">
	 				<div class="row">
			 			<div class="col">
			 				<form th:action="@{/{ctx}/manager/adeCampus/savePref(ctx=${eContext})}" method="post">
			 					<input type="hidden" name="type" value="adeStoredComposante"/>
								<table class="table table-bordered table-striped caption-top" id="composantesTable">
									<caption><span class="fw-bold h4">Composantes</span> <button class="btn btn-success btn-sm float-end" type="submit">Enregister</button></caption>
									<thead>
									<tr>
										<th></th>
										<th>Libellé</th>
									</tr>
									</thead>
								    <tr th:each="element : ${mapComposantes}" class="selected">
								    	<td><input name="btSelectItem" type="checkbox" th:value="${element.value + '@@' + element.key}" 
								    	th:checked="${valuesComposantes != null and #strings.contains(valuesComposantes, element.key)}"/></td>
								        <td class="d-none"></td>
										<td th:text="${element.value}"></td>
								    </tr>
								</table>
							</form>
							<div th:if="${valueProject eq ''}" class="alert alert-warning fw-bold" >
				 				Vous n'avez pas de projet de défini.
				 			</div>
						</div>
			 			<div class="col">
			 				<form th:action="@{/{ctx}/manager/adeCampus/savePref(ctx=${eContext})}" method="post">
			 					<input type="hidden" name="type" value="adeStoredFormation"/>
								<table class="table table-bordered table-striped caption-top" id="formationsTable">
									<caption><span class="fw-bold h4">Formations</span> <button class="btn btn-success btn-sm float-end" type="submit">Enregister</button></caption>
									<thead>
									<tr>
										<th></th>
										<th>Libellé</th>
									</tr>
									</thead>
								    <tr th:each="element : ${mapFormations}" class="selected">
								    	<td><input name="btSelectItem" type="checkbox" th:value="${element.value + '@@' + element.key}" 
								    	th:checked="${valuesFormations != null and #strings.contains(valuesFormations, element.key)}"/></td>
								        <td class="d-none"></td>
										<td th:text="${element.value}"></td>
								    </tr>
								</table>
							</form>
							<div th:if="${valueProject eq ''}" class="alert alert-warning fw-bold" >
				 				Vous n'avez pas de projet de défini.
				 			</div>
						</div>
			 			<div class="col">
			 				<form th:action="@{/{ctx}/manager/adeCampus/savePref(ctx=${eContext})}" method="post">
			 					<input type="hidden" name="type" value="adeStoredSalle"/>
								<table class="table table-bordered table-striped caption-top" id="composantesTable">
									<caption><span class="fw-bold h4">Salles</span> <button class="btn btn-success btn-sm float-end" type="submit">Enregister</button></caption>								
									<thead>
									<tr>
										<th></th>
										<th>Libellé</th>
									</tr>
									</thead>
								    <tr th:each="element : ${mapSalles}">
								    	<td><input name="btSelectItem" type="checkbox" th:value="${element.value + '@@' + element.key}" 
								    	th:checked="${valuesSalles!=null and #strings.contains(valuesSalles, element.key)}"/></td>
								    	<td th:text="${element.value}"></td>
								    </tr>
								</table>
							</form>
							<div th:if="${valueProject eq ''}" class="alert alert-warning fw-bold" >
				 				Vous n'avez pas de projet de défini.
				 			</div>
						</div>
	 				</div>
	 			</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
