<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sd="http://www.thymeleaf.org/spring-data">
	<tbody id="tableEvents" style="width:100%">
	    <tr th:each="event : ${listEvents}" th:class="${event.isAlreadyimport}? table-success : table-light">
	    	<td></td>
	    	<td th:text="${event.eventId}" class="degree" th:attr="data-degree=${event.degreeId}"></td>
	    	<td th:text="${#dates.format(event.lastUpdate,'dd-MM-yy HH:mm')}" ></td>
	    	<td th:text="${#dates.format(event.sessionEpreuve.dateCreation,'dd-MM-yy HH:mm')}" ></td>
	    	<td>
	    		<span th:text="${event.typeEvent}"></span>
	    	</td>
	        <td th:text="${event.sessionEpreuve.nomSessionEpreuve}"></td>
			<td th:text="${#dates.format(event.sessionEpreuve.dateExamen,'dd-MM-yy')}" ></td>
			<td th:text="${#dates.format(event.sessionEpreuve.heureEpreuve,'HH:mm')}" ></td>
			<td th:text="${#dates.format(event.sessionEpreuve.finEpreuve,'HH:mm')}" ></td>
			<td>
				<span th:each="element : ${event.trainees}">
			         <span th:each="entry: ${element}">
				        <span th:text="${'[' + entry.value + ']'}"></span> 
				    </span>
			    </span>
			</td>										
			<td>
				<span th:each="element : ${event.instructors}">
			         <span th:each="entry: ${element}">
				        <span th:text="${'[' + entry.value + ']'}"></span> 
				    </span>
			    </span>
			</td>										
			<td>
				<span th:each="element : ${event.classrooms}">
			         <span th:each="entry: ${element}">
				        <span th:text="${'[' + entry.value + ']'}"></span> 
				    </span>
			    </span>
			</td>
			<td>
				<span th:each="element : ${event.category6}">
			         <span th:each="entry: ${element}">
				        <span th:text="${'[' + entry.value + ']'}"></span> 
				    </span>
			    </span>
			</td>								
	    </tr>
    </tbody>
</html>