<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sd="http://www.thymeleaf.org/spring-data">
	<div th:fragment="buttons">
		<a th:if="${isSessionLibre and !isCapaciteFull and sessionEpreuve !=null and sessionLocation !=null}"
			title="Ajouter un inscrit" data-bs-toggle="collapse"
			href="#collapseExample" class="btn btn-primary mb-1"><i
			class="fa fa-plus fa-lg"></i></a>		
		<a href="#" title="Tout émarger" class="btn btn-success mb-1 me-1" data-bs-toggle="modal" data-bs-target="#checkModal"
			th:if="${!isSessionLibre and sessionEpreuve !=null and sessionLocation !=null}">
			<i class="fa-solid fa-check"></i>
		</a>
		<div class="btn-group ms-1" th:if="${sessionEpreuve !=null and sessionLocation !=null}">
			<button type="button" class="btn btn-danger dropdown-toggle mb-1" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fas fa-tasks"></i>
			</button>
			<ul class="dropdown-menu zindexDropdown">
				<li>
					<a th:if="${tagCheckPage!=null and !tagCheckPage.isEmpty()}" class="dropdown-item"
						th:href="@{|/${eContext}/supervisor/exportPdf?sessionLocation=${sessionLocation.id}&sessionEpreuve=${sessionEpreuve.id}|}"
						title="Exporter les émargements en PDF" target="_blank">Export PDF</a>
				</li>
				<li><a th:if="${tagCheckPage!=null and !tagCheckPage.isEmpty()}" class="dropdown-item"
						th:href="@{|/${eContext}/supervisor/exportCsv/${sessionEpreuve.id}|}"
						title="Exporter les émargements en CSV">Export CSV</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a href="#" class="dropdown-item" title="Ajouter une pièce jointe" data-bs-toggle="modal" data-bs-target="#pjModal">Ajouter une pièce jointe</a>				
				</li>
				<li>
					<a href="#" class="dropdown-item" title="ajouter un comentaire sur la session/PDF" th:if="${tagCheckPage!=null and !tagCheckPage.isEmpty() or isSessionLibre}" 
						data-bs-toggle="modal" data-bs-target="#commentModal">
						Ajouter un commentaire
					</a>
				</li>
				<li>
					<a href="#" class="dropdown-item" title="Destinataires mail"
						th:if="${tagCheckPage!=null and !tagCheckPage.isEmpty() or isSessionLibre}"
						 data-bs-toggle="modal" data-bs-target="#emailModal">Ajouter emails pour l'envoi du PDF</a>
				</li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a th:if="${isSessionQrCodeEnabled}" th:href="@{|/${eContext}/supervisor/qrCodePage/${currentLocation}|}"
					target="_blank" class="dropdown-item" title="Afficher QrCode de session"> QR Code de session</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li th:if="${isCommunicationEnabled}">
			      <a class="dropdown-item"  title="Envoyer un email aux personnes de la liste d'émargement" 
				  th:href="@{|/${eContext}/supervisor/communication/${sessionEpreuve.id}/${sessionLocation.id}|}">Communication</a>
			    </li>
				<li>
					<a class="dropdown-item" target="_blank" title="Liste pour émargement manuel"
					   th:href="@{|/${eContext}/supervisor/emargementPdf?sessionEpreuveId=${sessionEpreuve.id}&sessionLocationId=${sessionLocation.id}|}">
					   Liste pour émargement manuel
					</a>
				</li>
			</ul>
		</div>
		<button th:if="${isQrCodeEnabled or isUserQrCodeEnabled or isCardQrCodeEnabled}"
			title="Activer/Désactiver visuel Webcam" class="btn btn-secondary active mb-1" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasWebcam" aria-controls="offcanvasScrolling"><i
				class="fas fa-video"></i></button>
	</div>
</html>