<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<div th:fragment="modals">
		<div class="modal fade" id="checkModal" tabindex="-1" aria-hidden="true" th:if="${!isSessionLibre and sessionEpreuve !=null and sessionLocation !=null}">
			<div class="modal-dialog">
				<div class="modal-content">
				<form id="command" th:hx-post="@{/{ctx}/supervisor/checkAll/{id}(id=${sessionLocation.id},ctx=${eContext})}">
					<div class="modal-header">
						<h5 class="modal-title">Tout émarger</h5>
						<button type="button" class="btn-close"
							data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
		                <div class="alert alert-danger text-center">Confirmez-vous l'émargement de toutes les personnes de cette salle? : <br />
		                	<br />
		                	 <div class="alert alert-warning text-center mt-2">
								<div class="form-check form-check-inline">
								  <input class="form-check-input" type="radio" name="check" id="checkAll1" value="true">
								  <label class="form-check-label" for="checkAll1">Oui</label>
								</div>
								<div class="form-check form-check-inline">
								  <input class="form-check-input" type="radio" name="check" id=checkAll2 value="false" checked="checked">
								  <label class="form-check-label" for="checkAll2">Non</label>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success">Valider</button>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal fade" id="commentModal" tabindex="-1"
			aria-hidden="true" th:if="${sessionLocation !=null}">
			<div class="modal-dialog">
				<form
					th:action="@{/{ctx}/supervisor/savecomment(ctx=${eContext})}"
					method="post">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Commentaire</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="sessionId" name="sessionLocationId"
							th:value="${sessionLocation.id}" /> <input type="hidden"
							id="sessionEpreuveId" name="sessionEpreuveId"
							th:value="${sessionEpreuve.id}" />
							<textarea class="form-control" rows="6" name="comment"
								th:text="${sessionEpreuve.comment}"></textarea>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Sauvegarder</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="emailModal" tabindex="-1"
			aria-hidden="true" th:if="${sessionLocation !=null}">
			<div class="modal-dialog">
				<form
					th:action="@{/{ctx}/supervisor/sendEmailPdf(ctx=${eContext})}"
					method="post">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Destinataires</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Le PDF d'émargement sera envoyé aux destinataires suivants : </p>
							<input type="hidden" id="sessionId" name="sessionLocationId"
							th:value="${sessionLocation.id}" /> <input type="hidden"
							id="sessionEpreuveId" name="sessionEpreuveId"
							th:value="${sessionEpreuve.id}" />
							<div >
								<div class="form-check" th:each="email : ${emails}">
								  <input class="form-check-input" type="checkbox" th:value="${email}" name="emails" checked="checked" id="emails">
								  <label class="form-check-label" for="emails" th:text="${email}">
								  </label>
								</div>
							</div>
							<select class="form-select initTags" id="validationTagsJson"
								name="courriels" multiple data-allow-new="false"
								th:attr="data-server=${'/' + eContext + '/supervisor/searchEmails'}"
								data-live-server="1" data-max="30"
								data-suggestionsThreshold='4' data-allow-clear="true">
								<option disabled value="">Ajouter des adresses</option>
							</select>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal fade" id="pjModal" tabindex="-1" aria-hidden="true" th:if="${sessionLocation !=null}">
			<div class="modal-dialog modal-lg">
				<form th:action="@{/{ctx}/supervisor/saveAttachment(ctx=${eContext})}"
					method="post" enctype="multipart/form-data">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Pièces jointes</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="sessionId" name="sessionLocationId"
							th:value="${sessionLocation.id}" />
							<input type="hidden" id="sessionEpreuveId" name="sessionEpreuve"
							th:value="${sessionEpreuve.id}"/>
		                    <div class="file-loading">
			 					<input type="file" class="form-control-file" id="files" name="files" multiple>
			 				</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success">Enregistrer</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal" tabindex="-1" id="commentTagCheckModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post"
						th:action="@{/{ctx}/supervisor/tagCheck/updateComment(ctx=${eContext})}"
						id="formCommentTc">
						<input type="hidden" id="tcIdComment" name="idComment" value=""/>
						<div class="modal-header">
							<h5 class="modal-title" id="nomComment"></h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<textarea class="form-control"
								placeholder="votre commentaire" name="comment" id="tcComment">
						   </textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Fermer</button>
							<button type="submit" class="btn btn-primary">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>		
		<div class="modal" tabindex="-1"  id="absenceTagCheckModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<form method="post"
						th:action="@{/{ctx}/supervisor/tagCheck/updateAbsence(ctx=${eContext})}"
						id="formAbsenceTc">
						<input type="hidden" id="tcIdAbsence" name="tc" value=""/>
						<div class="modal-header">
							<h5 class="modal-title" id="nomAbsence"></h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div th:if="${#lists.isEmpty(motifAbsences)}">
								Aucun motif d'absence existant. Ils doivent être créés dans le menu Gestionnaire.
							</div>
							<div th:unless="${#lists.isEmpty(motifAbsences)}">
								<p class="fw-bold">Choisr un motif d'absence :</p>
							<div id="motifAbsenceWrapper">
								<div id="motifAbsenceSelectContainer">
								    <select id="motifAbsence" name="motifAbsence" class="mb-2" required="required"
								        hx-target="#motifAbsence">
										<option th:if="${motifAbsences.size()>1}" value="">----Choisir----</option>
								        <option th:each="motif : ${motifAbsences}" th:value="${motif.id}"
											th:text="${motif.libelle + ' [' + motif.typeAbsence + ' - ' + motif.statutAbsence +'] '}"></option>
								    </select>
								</div>
							</div>
							<div th:each="type : ${T(org.esupportail.emargement.domain.MotifAbsence.TypeAbsence).values()}" class="form-check form-check-inline">
							    <input class="form-check-input" type="radio" th:id="${'type' + type}" name="type" th:value="${type}"
							        hx-trigger="change" hx-get="absence/motifs" hx-target="#motifAbsenceSelectContainer"
							        hx-swap="innerHTML" hx-include=".form-check input[name='statut']">
							    <label class="form-check-label size08" th:for="${'type' + type}" th:text="${type}"></label>
							</div>
							<div class="float-end">
								<div th:each="statut : ${T(org.esupportail.emargement.domain.MotifAbsence.StatutAbsence).values()}" class="form-check form-check-inline">
								    <input class="form-check-input" type="radio" th:id="${'statut' + statut}" name="statut" th:value="${statut}"
								        hx-trigger="change" hx-get="absence/motifs" hx-target="#motifAbsenceSelectContainer"
								        hx-swap="innerHTML" hx-include=".form-check input[name='type']">
								    <label class="form-check-label size08" th:for="${'statut' + statut}" th:text="${statut}"></label>
								</div>
							</div><br />
		                        <label for="comment" class="form-label mt-3">Commentaire</label>
		                        <textarea name="comment" class="form-control" ></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">Fermer</button>
							<button type="submit" class="btn btn-success">Enregistrer</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		  <div class="offcanvas-header">
		    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Actions</h5>
		    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		  </div>
		  <div class="offcanvas-body">
			  <div  th:if="${sessionEpreuve.isProcurationEnabled}">
				<p>Personne à qui est donné la procuration pour :<br /> <span id="procurationPerson" class="fw-bold"> </span></p> 
				<form th:action="@{/{ctx}/supervisor/saveProcuration(ctx=${eContext})}" method="POST">
					<select id="substituteId" name="substituteId" class="mt-2">
						<option value="">---Aucun---</option>
					    <option th:each="tagCheck : ${tagCheckPage}" th:value="${(tagCheck.person != null)? tagCheck.person.id : tagCheck.guest.id }" 
					    		th:text="${(tagCheck.person != null)?  tagCheck.person.prenom + ' ' + tagCheck.person.nom : tagCheck.guest.prenom + ' ' + tagCheck.guest.nom }" />
					</select>
					<input type="hidden" id="tcId" name="tcId" value="" />
					<input type="submit" value="Valider" class="btn btn-success mt-2">
				</form>	
			  </div>
		  </div>
		</div>		
	</div>
</html>