<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<div th:fragment="select">
		<div class="row row-cols-auto g-2 align-items-center">
			<div class="col">
			  <form th:action="@{/{ctx}/supervisor/presence(ctx=${eContext})}" id="presenceForm" class="row row-cols-auto g-2 align-items-center">
				<!-- Sessions disponibles -->
				<div class="col small text-muted fs-5">
				  <span th:if="${allSessionEpreuves.isEmpty()}">Aucune session</span>
				  <span th:unless="${allSessionEpreuves.isEmpty()}" class="badge text-bg-info"
				        th:text="${#lists.size(allSessionEpreuves)}" th:title="${#lists.size(allSessionEpreuves) + ' session(s)'}"></span>
				</div>
				<th:block th:if="${!allSessionEpreuves.isEmpty()}">
				    <!-- Session -->
				    <div class="col">
				      <select name="sessionEpreuve" id="sessionEpreuvePresence"
				              class="slimSelectClass me-2"
				              hx-get="sessionLocation/searchSessionLocations"
				              hx-target="#location"
				              hx-trigger="change"
				              hx-indicator=".loading-spinner">
				        <option data-placeholder="true">Session...</option>
				        <option th:each="se : ${allSessionEpreuves}" th:with="dateSes=${(se ne null and se.statutSession.key ne 'OPENED' )? ' | ' + #dates.format(se.dateExamen, 'dd-MM-yy') : ''}"
				                th:selected="(${se.id == sessionEpreuve.id})"
				                th:value="${se.id}"
				                th:text="${#dates.format(se.heureEpreuve, 'HH:mm') + dateSes
									+ ' | ' + se.nomSessionEpreuve}">
				        </option>
				      </select>
				    </div>
				    <!-- Location -->
				    <div class="col">
				      <select name="location" id="location" class="slimSelectClass me-2">
				        <option th:each="sl : ${allSessionLocations}"
				                th:selected="${sessionLocation ne null and sl.id eq sessionLocation.id}"
				                th:value="${sl.id}"
				                th:text="${sl.location.nom}">
				        </option>
				      </select>
				    </div>
				</th:block>
				<div class="col">
					<select name="keyStatut"
					        class="slimSelectClass me-2"
							th:hx-get="@{|/${eContext}/supervisor/presence|}"
					        hx-trigger="change"
							 hx-target="html" hx-swap="outerHTML">
					    <option value="OPENED" th:selected="${keyStatut eq 'OPENED'}">En cours</option>
					    <option value="STANDBY" th:selected="${keyStatut eq 'STANDBY'}">En attente</option>
					    <option value="ENDED" th:selected="${keyStatut eq 'ENDED'}">Terminé</option>
					</select>
				</div>
			  </form>
		  </div>
			<div class="col">
				<form th:if="${sessionLocation ne null}" th:action="@{/{ctx}/supervisor/updateSecondTag(ctx=${eContext})}"
					method="post" id="formSecondTag">
					<div class="form-check form-switch" th:if="${sessionEpreuve.id != null}">
						<input class="form-check-input" type="checkbox" role="switch" id="updateSecondTag"
							th:checked="${sessionEpreuve.isSecondTag !=null and sessionEpreuve.isSecondTag}">
						<input type="hidden" name="id" th:value="${sessionLocation.id}" />
						<label class="form-check-label" for="updateSecondTag">Double badgeage</label>
					</div>
				</form>
			</div>
		</div>
	</div>
</html>