<th:block th:fragment="tablePresence">
	<table class="table table-hover table-striped table-bordered table-sm"  data-sticky-header-offset-y="true" 
		id="tablePresence" style="width:100%;" th:with="secondTag=${sessionEpreuve.isSecondTag == true}">
		<thead class="sticky-top">
			<tr>
				<th scope="col" data-priority="1">Personne</th>
				<th th:if="${isGroupeDisplayed}" scope="col">Groupe</th>
				<th scope="col">Type</th>
				<th scope="col">N°</th>
				<th scope="col" th:attr="data-priority=${(secondTag)? 3 : 2}">Présent</th>
				<th scope="col" th:if="${sessionEpreuve.isProcurationEnabled}">Procuration</th>
				<th scope="col" class="dateItem" th:attr="data-priority=${(secondTag)? 4 : 3}">Heure</th>
				<th scope="col" th:attr="data-priority=${(secondTag)? 5 : 4}">Emargement</th>
				<th:block th:if="${secondTag}">
					<th scope="col" data-priority="2">Présent2</th>
					<th scope="col" th:if="${sessionEpreuve.isProcurationEnabled}">Procuration2</th>
					<th scope="col" class="dateItem" data-priority="3">Heure2</th>
					<th scope="col" data-priority="4">Emargement2</th>
				</th:block>
				<th scope="col">Lieu</th>
				<th scope="col" th:text="${surveillantTerme}"></th>
				<th scope="col" th:if="${sessionEpreuve.isSecondTag !=null and sessionEpreuve.isSecondTag}" th:text="${surveillantTerme + '2'}"></th>
				<th scope="col">Commentaire</th>
				<th scope="col" class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${displayTagCheckers}" th:each="tagChecker : ${tagCheckers}" class="center priority" th:classappend="${tagChecker.tagDate!=null}? 'table-secondary' : ''">
				<td th:text="${tagChecker.userApp.nom + '  ' + tagChecker.userApp.prenom}"></td>
				<td th:if="${isGroupeDisplayed}"></td>
				<td  th:text="${surveillantTerme}"></td>
				<td>--</td>
				<th:block th:if="${secondTag}">
					<td class="center">	<input type="checkbox" class="presenceCheck" name="presenceCheck" disabled /></td>		
				</th:block>
				<th:block th:unless="${secondTag}">
					<td><input type="checkbox" class="presenceChecker" name="presence" th:value="${'tagchecker,' + tagChecker.userApp.eppn + ',' + sessionLocation.id}"
					th:checked="${tagChecker.tagDate!=null}"/></td>
				</th:block>
				<td th:if="${sessionEpreuve.isProcurationEnabled}">--</td>
				<td>
					<th:block  th:if="${tagChecker.tagDate!=null}">
						<span th:text="${#dates.format(tagChecker.tagDate, 'dd/MM/yy')}"></span>
						<strong class="me-2"><span th:text="${#dates.format(tagChecker.tagDate, ' HH:mm:ss')}"></span></strong>
					</th:block>									
				</td>
				<td class="center checkedByCard">
				    <span th:replace="~{supervisor/table :: typeEmargement(${tagChecker.typeEmargement}, ${participantTerme})}"></span>
				</td>				
				<th:block th:if="${secondTag}">
					<td><input type="checkbox" class="presenceChecker" name="presence" 
						th:value="${'tagchecker,' + tagChecker.userApp.eppn + ',' + sessionLocation.id}"
						th:checked="${tagChecker.tagDate2!=null}"/></td>
					<td th:if="${sessionEpreuve.isProcurationEnabled}">--</td>
					<td>
						<th:block  th:if="${tagChecker.tagDate2!=null}">
							<span th:text="${#dates.format(tagChecker.tagDate2, 'dd/MM/yy')}"></span>
							<strong class="me-2"><span th:text="${#dates.format(tagChecker.tagDate2, ' HH:mm:ss')}"></span></strong>
						</th:block>	
					</td>
					<td class="center checkedByCard">
					    <span th:replace="~{supervisor/table :: typeEmargement(${tagChecker.typeEmargement2}, ${participantTerme})}"></span>
					</td>							
				</th:block>
				<td th:text="${tagChecker.sessionLocation.location.nom}"></td>
				<td th:if="${tagChecker.tagValidator!=null}" th:text="${tagChecker.tagValidator.nom + ' ' + tagChecker.tagValidator.prenom}"></td>
				<td th:unless="${tagChecker.tagValidator!=null}"></td>
				<td th:if="${secondTag}"></td>
				<td>--</td>
				<td>--</td>
			</tr>
			<tr th:each="tagCheck : ${tagCheckPage}" 
				th:class="${ (tagCheck.tagDate == null and tagCheck.tagDate2 == null) ? 'table-danger' 
		         : (tagCheck.tagDate != null and tagCheck.tagDate2 == null) ? 'table-success'
		         : (tagCheck.tagDate != null and tagCheck.tagDate2 != null) ? 'table-info'
		         : (tagCheck.tagDate == null and tagCheck.tagDate2 != null) ? 'table-warning' 
		         : '' }"
			 	th:id="${tagCheck.id}">
				<td th:if="${tagCheck.person != null}"  th:classappend="${tagCheck.isUnknown and !tagCheck.sessionEpreuve.isSessionLibre}? table-warning : ''" class="nomPrenom">
					<a href="#" class="me-1 userToast"	th:attr="data-whatever=${tagCheck.person.eppn + '//' + tagCheck.person.nom + '//' + tagCheck.person.prenom + '//' + tagCheck.person.numIdentifiant+ '//' + tagCheck.codeEtape}">
						<i class="fa fa-user" aria-hidden="true"></i></a>
						<span th:text="${(tagCheck.person.nom != null)? tagCheck.person.nom + ' ' + tagCheck.person.prenom : tagCheck.person.eppn}"></span><span class="fw-bold" 
						th:text="${(tagCheck.isUnknown and tagCheck.comment != '') ? ' (' + tagCheck.comment + ')' : '' }"></span>
						<button th:if="${tagCheck.isUnknown}" class="btn btn-danger btn-delete btn-sm ms-2"  type="button"><i class="fa fa-trash"></i></button>
				</td>
				<td th:if="${tagCheck.guest != null}"  th:classappend="${tagCheck.isUnknown}? table-warning : ''" class="nomPrenom">
					<a href="#" class="me-1 userToast" 
					th:attr="data-whatever=${'inconnu//' + tagCheck.guest.nom + '//' + tagCheck.guest.prenom}">
					<i class="fa fa-user" aria-hidden="true"></i></a>
					<span th:text="${(tagCheck.guest.nom != null)? tagCheck.guest.nom + ' ' + tagCheck.guest.prenom : tagCheck.guest.email}"></span><span class="fw-bold" 
					th:text="${(tagCheck.isUnknown) ? ' (' + tagCheck.comment + ')' : '' }"></span>
				</td>
				<td th:if="${isGroupeDisplayed}">
					<span th:if="${tagCheck.person != null}" th:text="${#strings.listJoin(tagCheck.person.groupes.![nom], ',')}"></span>
					<span th:if="${tagCheck.guest != null}" th:text="${#strings.listJoin(tagCheck.guest.groupes.![nom], ',')}"></span>
				</td>
				<td th:if="${tagCheck.person != null}" th:text="#{person.type  + '.' + ${tagCheck.person.type}}"></td>
				<td th:unless="${tagCheck.person != null}">Externe</td>
				<td th:if="${tagCheck.person != null}" th:text="${tagCheck.person.numIdentifiant}"></td>
				<td th:unless="${tagCheck.person != null}"></td>
				<th:block th:if="${tagCheck.absence ne null}">
					<td>
						<span>
					        <th:block th:if="${tagCheck.absence.motifAbsence != null and tagCheck.absence.motifAbsence.color ne null}">
					            <input class="colorBox" type="color" th:value="${tagCheck.absence.motifAbsence.color}" disabled>
					        </th:block>
					        <th:block th:if="${tagCheck.absence.motifAbsence != null}">
					            <span th:text="${tagCheck.absence.motifAbsence.libelle}" class="align-middle ms-0"></span>
					        </th:block>
					    </span>
				   </td>
				</th:block>			
				<th:block th:unless="${tagCheck.absence ne null}">
					<th:block th:if="${secondTag}">
						<td class="center" th:attr="data-order=${tagCheck.tagDate}">
							<input type="checkbox" class="presenceCheck" name="presenceCheck" disabled />
						</td>		
					</th:block>
					<th:block th:unless="${secondTag}">
						<td class="center"  th:id="${'#' + tagCheck.id}" th:attr="data-order=${tagCheck.tagDate}">
							<input th:if="${tagCheck.person != null and tagCheck.tagDate==null}" type="checkbox" class="presenceCheck" name="presenceCheck" 
							th:value="${tagCheck.person.eppn + ',' + sessionLocation.id}">
							<input th:if="${tagCheck.person != null and tagCheck.tagDate!=null}"  type="checkbox" class="presenceCheck" name="presenceCheck" 
							th:value="${tagCheck.person.eppn + ',' + sessionLocation.id}" 
								th:disabled="${tagCheck.isUnknown or isSessionLibre}" checked="checked" >
							<input th:if="${tagCheck.guest != null and tagCheck.tagDate==null}" type="checkbox" class="presenceCheck" name="presenceCheck" 
							th:value="${'' + ',' + sessionLocation.id + ',' + tagCheck.guest.email}">
							<input th:if="${tagCheck.guest != null and tagCheck.tagDate!=null}"  type="checkbox" class="presenceCheck" name="presenceCheck" 
							th:value="${'' + ',' + sessionLocation.id + ',' + tagCheck.guest.email}" 
								th:disabled="${tagCheck.isUnknown or isSessionLibre}" checked="checked">
						</td>												</th:block>
				</th:block>
				<td class="center" th:if="${sessionEpreuve.isProcurationEnabled}">
					<span th:if="${tagCheck.person != null}" class="procuration">
						<input th:if="${tagCheck.tagDate==null and tagCheck.proxyPerson==null and !isOver}" type="checkbox" class="proxyPersonCheck" name="proxyPersonCheck" 
						th:value="${tagCheck.id + ',' +  tagCheck.person.prenom + ' ' + tagCheck.person.nom}" />
						<a th:if="${tagCheck.proxyPerson!=null}" href="#" data-bs-toggle="modal" class="proxyPersonCheck btn btn-primary btn-sm" 
						 th:attr="data-whatever=${tagCheck.id + ',' +  tagCheck.person.prenom + ' ' + tagCheck.person.nom + ',' + tagCheck.proxyPerson.id}"> 
						<i class="fa fa-user me-2" aria-hidden="true"></i><span th:text="${tagCheck.proxyPerson.prenom + ' ' + tagCheck.proxyPerson.nom}"></span></a>
					</span>
				</td>
				<td th:if="${tagCheck.tagDate!=null}" class="center" id="tagDate" th:attr="data-order=${#dates.format(tagCheck.tagDate, 'dd/MM/yy HH:mm:ss')}">
					<span th:text="${#dates.format(tagCheck.tagDate, 'dd/MM/yy')}"></span>
					<strong class="me-2"><span th:text="${#dates.format(tagCheck.tagDate, ' HH:mm:ss')}"></span></strong>
				</td>
				<td th:unless="${tagCheck.tagDate!=null}"></td>
				<td class="center checkedByCard">
				    <span th:replace="~{supervisor/table :: typeEmargement(${tagCheck.typeEmargement}, ${participantTerme})}"></span>
				</td>		
				<th:block th:if="${secondTag}">
					<th:block th:if="${tagCheck.absence ne null}">
						<td>
							<span>
						        <th:block th:if="${tagCheck.absence.motifAbsence != null and tagCheck.absence.motifAbsence.color ne null}">
						            <input class="colorBox" type="color" th:value="${tagCheck.absence.motifAbsence.color}" disabled>
						        </th:block>
						        <th:block th:if="${tagCheck.absence.motifAbsence != null}">
						            <span th:text="${tagCheck.absence.motifAbsence.libelle}" class="align-middle ms-0"></span>
						        </th:block>
						    </span>
					   </td>
					</th:block>
					<td th:unless="${tagCheck.absence ne null}" class="center"  th:id="${'#' + tagCheck.id}"  th:attr="data-order=${tagCheck.tagDate2}">
						<input th:if="${tagCheck.person != null and tagCheck.tagDate2==null}" type="checkbox" class="presenceCheck" name="presenceCheck" 
						th:value="${tagCheck.person.eppn + ',' + sessionLocation.id}">
						<input th:if="${tagCheck.person != null and tagCheck.tagDate2!=null}"  type="checkbox" class="presenceCheck" name="presenceCheck" 
						th:value="${tagCheck.person.eppn + ',' + sessionLocation.id}" 
							th:disabled="${tagCheck.isUnknown}" checked="checked" >
						<input th:if="${tagCheck.guest != null and tagCheck.tagDate2==null}" type="checkbox" class="presenceCheck" name="presenceCheck" 
						th:value="${'' + ',' + sessionLocation.id + ',' + tagCheck.guest.email}">
						<input th:if="${tagCheck.guest != null and tagCheck.tagDate2!=null}"  type="checkbox" class="presenceCheck" name="presenceCheck" 
						th:value="${'' + ',' + sessionLocation.id + ',' + tagCheck.guest.email}" 
							th:disabled="${tagCheck.isUnknown}" checked="checked" >	
					</td>
					<td class="center" th:if="${sessionEpreuve.isProcurationEnabled}">
						<span th:if="${tagCheck.person != null}" class="procuration">
							<input th:if="${tagCheck.tagDate2==null and tagCheck.proxyPerson==null and !isOver}" type="checkbox" class="proxyPersonCheck" name="proxyPersonCheck" 
							th:value="${tagCheck.id + ',' +  tagCheck.person.prenom + ' ' + tagCheck.person.nom}" />
							<a th:if="${tagCheck.proxyPerson!=null}" href="#" data-bs-toggle="modal" class="proxyPersonCheck btn btn-primary btn-sm" 
							 th:attr="data-whatever=${tagCheck.id + ',' +  tagCheck.person.prenom + ' ' + tagCheck.person.nom + ',' + tagCheck.proxyPerson.id}"> 
							<i class="fa fa-user me-2" aria-hidden="true"></i><span th:text="${tagCheck.proxyPerson.prenom + ' ' + tagCheck.proxyPerson.nom}"></span></a>
						</span>
					</td>
					<td th:if="${tagCheck.tagDate2!=null}" class="center" id="tagDate2" th:attr="data-order=${#dates.format(tagCheck.tagDate2, 'dd/MM/yy HH:mm:ss')}">
						<span th:text="${#dates.format(tagCheck.tagDate2, 'dd/MM/yy')}"></span>
						<strong class="me-2"><span th:text="${#dates.format(tagCheck.tagDate2, ' HH:mm:ss')}"></span></strong>
					</td>
					<td th:unless="${tagCheck.tagDate2!=null}"></td>
					<td class="center checkedByCard">
					    <span th:replace="~{supervisor/table :: typeEmargement(${tagCheck.typeEmargement2}, ${participantTerme})}"></span>
					</td>							
				</th:block>
				<td class="center sessionLocationBadged">
					<th:block th:if="${(secondTag) or (
							(sessionEpreuve.isSecondTag eq null or !sessionEpreuve.isSecondTag) and tagCheck.tagDate ne null)}">
						<span th:if="${tagCheck.sessionLocationBadged!=null}" th:class="${(tagCheck.sessionLocationBadged != tagCheck.sessionLocationExpected)? 'fw-bold' : ''}" 
							th:text="${tagCheck.sessionLocationBadged.location.nom}"></span>
					</th:block>
				</td>
				<td class="center tagChecker" th:text="${(tagCheck.tagChecker!=null)? tagCheck.tagChecker.userApp.prenom + ' ' + tagCheck.tagChecker.userApp.nom : ''}"> </td>
				<td  th:if="${secondTag}" class="center tagChecker" th:text="${(tagCheck.tagChecker2!=null)? tagCheck.tagChecker2.userApp.prenom + ' ' + tagCheck.tagChecker2.userApp.nom : ''}"> </td>
				<td class="center tagChecker" th:text="${tagCheck.comment}"> </td>
				<td class="text-center">
					<div class="dropdown">
						<button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="commentTC dropdown-item" href="#" title="Ajouter un commentaire" data-bs-toggle="modal" 
									data-bs-target="#commentTagCheckModal"
									th:attr="data-bs-tcid=${tagCheck.id}, data-bs-comment=${tagCheck.comment}, data-bs-nom=${tagCheck.person != null ? 
								    (tagCheck.person.nom != null ? tagCheck.person.nom + ' ' + tagCheck.person.prenom : tagCheck.person.eppn) : 
								    (tagCheck.guest.nom != null ? tagCheck.guest.nom + ' ' + tagCheck.guest.prenom : tagCheck.guest.email)}"
									>Ajpute un commentaire
								</a>
							</li>
							<th:block th:if="${tagCheck.absence eq null}">
								<li>
									<a class="dropdown-item"href="#" title="Ajouter une absence" data-bs-toggle="modal" th:if="${tagCheck.tagDate eq null}"
									data-bs-target="#absenceTagCheckModal" th:attr="data-bs-tcid=${tagCheck.id},data-bs-nom=${tagCheck.person != null ? 
								    (tagCheck.person.nom != null ? tagCheck.person.nom + ' ' + tagCheck.person.prenom : tagCheck.person.eppn) : 
								    (tagCheck.guest.nom != null ? tagCheck.guest.nom + ' ' + tagCheck.guest.prenom : tagCheck.guest.email)}">
									Ajouter une absence</a>
								</li>
							</th:block>
							<th:block th:if="${tagCheck.absence ne null}">
								<li>
									<form th:action="@{/{ctx}/supervisor/tagCheck/deleteAbsence/{id}(id=${tagCheck.id},ctx=${eContext})}" method="post" onsubmit="return confirmSubmission()">
										<button type="submit" title="Retirer absence" class="dropdown-item">Retirer absence</button>
									</form>
								</li>
							</th:block>
						</ul>
					</div>			
				</td>
			</tr>
		</tbody>
	</table>
</th:block>
<th:block th:fragment="typeEmargement(type, participantTerme)">
    <span th:if="${type != null}" th:switch="${#strings.toString(type.name())}">
        <i th:case="'CARD'"
           class="fas fa-id-card text-primary h4"
           title="Carte"></i>

        <i th:case="'MANUAL'"
           class="fas fa-check-square text-success"
           title="Manuel"></i>

        <i th:case="'QRCODE'"
           class="fas fa-qrcode text-secondary"
           title="QrCode"></i>

        <i th:case="'QRCODE_SESSION'"
           class="fas fa-qrcode text-primary"
           title="QrCode de session"></i>

        <i th:case="'QRCODE_USER'"
           class="fas fa-qrcode text-danger"
           th:title="${'QrCode ' + participantTerme}"></i>

        <i th:case="'QRCODE_CARD'"
           class="fas fa-qrcode text-warning"
           title="QrCode carte"></i>

        <i th:case="'LINK'"
           class="fas fa-link text-info"
           title="Lien"></i>
    </span>
</th:block>