<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un lieu</h2></div>
		    	<div  class="alert alert-danger" th:if="${error}">Le lieu avec le nom  <strong><span th:text="${nom}"></span></strong> existe déjà!!</div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/admin/location/create(ctx=${eContext})}" th:object="${location}" method="post" enctype="multipart/form-data" >
	                    <div class="form-group row alert alert-primary" th:if="${!#lists.isEmpty(eventLocations)}">
	                   		<div class="col-lg-2">
	                    		<label for="locationEvent" class="col-form-label">Suggestions</label><span class="text-danger font-weight-bold" th:text="${' (' + #lists.size(eventLocations)  + ')'}"></span>
	                    	</div>
	                    	<div class="col-lg-6">
	                        	<select id="icsEventLocations">
									<option data-placeholder="true"></option>
									<option th:each="el : ${eventLocations}"
											th:value="${el}" 
											th:text="${el}"></option>
								</select>
							</div>
							<div class="col-lg-2">
								<a th:href="@{/{ctx}/admin/location/addAll(ctx=${eContext})}" onclick="return confirm('Confirmez-vous l\'import de tous les lieux?');" class="btn btn-success" id="">Importer tous ces lieux</a>
							</div>
						</div>
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="nom" class="col-form-label">Nom</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<input type="text" th:field="*{nom}" class="form-control" required="required">
							</div>
						</div>
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="adresse" class="col-form-label">Adresse</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<textarea  th:field="*{adresse}" class="form-control"></textarea>
							</div>
						</div>
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="capacite" class="col-form-label">Capacité maximale</label>
	                    	</div>
	                    	<div class="col-lg-10">
								 <input type="number" min="1" th:field="*{capacite}" class="form-control" required="required">
							</div>
						</div>
						<div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="campus" class="col-form-label">Site</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<select th:field="*{campus}" class="form-control" required="required">
									<option th:each="campus : ${allCampuses}"
										th:value="${campus.id}" th:text="${campus.site}"></option>
								</select>
							</div>
						</div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
