<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
         	<div class="card">
	    		<div class="card-header">
	    			<div class="row">
			    		<div class="col">
					    	<h2>Lieux </h2>
					    </div>
					    <div class="col">
						    <div class="row float-end">
						    	<div class="col-auto">
							    	<button class="btn btn-info ms-1" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" title="Rechercher un lieu"><i class="fas fa-search"></i></button>
							    	<a th:href="@{/{ctx}/admin/location?form(ctx=${eContext})}" class="btn btn-primary ms-2"><i class="fa fa-plus fa-lg"></i></a>
						   		</div>
						    </div>
					    </div> 
	    			</div>
	    		</div>	
  				<div class="card-body">
	    			<div class="collapse" id="searchCollapse" th:classappend="${collapse}">
				    	<form action="#" th:action="@{|/${eContext}/admin/location|}" id="formSearch" class="form-inline alert alert-dark p-1 " >
							<input type="text" name="location" th:value="${location}" class="form-control me-1" placeholder="Recherche" id="searchLocation">
							<a title="Annuler recherche" th:href="@{|/${eContext}/admin/location|}" class="btn btn-danger btn-sm ms-1"><i class="fas fa-undo"></i></a>
						</form>
	    			</div>
		    		<div  class="alert alert-danger" th:if="${error}">Suppression impossible : le lieu <span class="font-weight-bold" th:text="${item}"></span> est utilisé dans une session.</div>
					<table class="table table-hover table-striped table-bordered">
						<thead class="sticky-top">
							<tr>
								<th scope="col"><a class="sorted" sd:pagination-sort="nom">Nom</a></th>
								<th scope="col"><a class="sorted" sd:pagination-sort="capacite">Capacité maximale</a></th>
								<th scope="col"><a class="sorted" sd:pagination-sort="campus">Site</a></th>
								<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell">Adresse</th>
								<th class ="center" scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="location : ${locationPage}"  th:id="${location.id}" th:class="${(location.campus== null)? 'table-danger' :''}">
								<td th:text="${location.nom}"></td>
								<td th:text="${location.capacite}"></td>
								<td th:text="${(location.campus!= null)? location.campus.site : ''}"></td>
								<td th:text="${location.adresse}" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
								<td class ="text-center"><a th:href="@{/{ctx}/admin/location/{id}(id=${location.id},ctx=${eContext})}"><i class="fa fa-eye text-primary"></i></a>
									<a class ="ms-2" th:href="@{/{ctx}/admin/location/{id}?form(id=${location.id},ctx=${eContext})}"><i class="fa fa-pen text-warning"></i></a>
									<a class ="ms-2" data-bs-toggle="modal" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning'+${location.id }"><i class="fa fa-trash text-danger"></i></a>
									<div class="modal modal-warning fade in" th:id="modal-warning+${location.id}" >
									    <div class="modal-dialog">
									        <div class="modal-content">
									        	<form id="command" th:action="@{/{ctx}/admin/location/{id}(id=${location.id},ctx=${eContext})}" method="POST">
										        	<input type="hidden" name="_method" value="delete" />
										            <div class="modal-header">
										                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
												          <span aria-hidden="true">&times;</span>
												        </button>
										            </div>
										            <div class="modal-body">
										                <div class="alert alert-danger text-center">Confirmez-vous la suppression de ce lieu : <br />
										                	 <span th:text="${location.nom}" class="font-weight-bold"></span> ?</div>
										            </div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
										                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
										            </div>
									            </form>
									        </div>
									    </div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<nav th:replace="fragments/pagination :: pagination"></nav>
					</div>
				</div>
			</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
