<configuration>

  <property name="LOG_PATH" value="/opt/tomcat-esup-emargement/logs"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
      </pattern>
    </encoder>
  </appender>
  
	<appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  
	  <file>${LOG_PATH}/emargement.log</file>
	  
	  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
	    <Pattern>
	      %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
	    </Pattern>
	  </encoder>
	
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	    <fileNamePattern>
	      ${LOG_PATH}/archived/log_%d{dd-MM-yyyy}.log
	    </fileNamePattern>
	    <maxHistory>10</maxHistory>
	    <totalSizeCap>100MB</totalSizeCap>
	  </rollingPolicy>
	
	</appender>  

	<appender name="EMAIL"
		class="ch.qos.logback.classic.net.SMTPAppender">
		<smtpHost>smtp.univ-ville.fr</smtpHost>
		<smtpPort>25</smtpPort>
		<to>toto@univ-ville.fr</to>
		<from>esup-emargement-logs@univ-ville.fr</from>
		<subject>%-5level - emargement %date{dd/MM/yyyy HH:mm:ss}
		</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%-5level] %date{dd/MM/yyyy HH:mm:ss} [%-20thread]
				%logger{36} - %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	
	<logger name="org.springframework.boot.web.servlet.support.ErrorPageFilter">
    	<level value="OFF" />
  	</logger>

  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SAVE-TO-FILE"/>
    <!-- appender-ref ref="EMAIL"/-->
  </root>
 
</configuration>
