<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
	    		<div class="card-header">
					<div class="row">
			    		<div class="col-lg-4">
		    				<h2>Consignes</h2><span class="text-muted h5" th:text="${sessionEpreuve.nomSessionEpreuve + ' le ' +  
									#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy') + ' à ' +  sessionEpreuve.campus.site}"></span>
		    			</div>
		    			<div class="col-lg-8">
			    			<div class="alert alert-info pb-0">Les champs possibles pour la personnalisation du PDF sont :
			 				<p><strong>@civilite@ @prenom@ @nom@ @nomSession@ @dateExamen@ @heureConvocation@ @debutEpreuve@
			 							@finEpreuve@ @dureeEpreuve@ @adresse@ @site@ @salle@</strong>. Aucun n'est obligatoire.
			 				Consigne type envoyée en pièce jointe (cette consigne sera personnalisée lors de l'émission du message).</p>
			 				</div>
		    			</div>
		    		</div>
	    		</div>
	 			<div class="card-body">
		 			<div class="row">
						<div class="col-lg-6">
							<h3>Consignes PDF <a href="#" title="Prévisualiser PDF" class="btn btn-danger ml-2" id="pdfPreview"><i class="fa fa-eye"></i></a></h3>
							<form id="formPdfConvoc" th:action="@{/{ctx}/manager/tagCheck/pdfConvocation(ctx=${eContext})}" method="post">
								<input type="hidden" value="" name="htmltemplate" id="htmltemplate">
							</form>
							<div class="alert alert-danger">
								<textarea id="pdfArea" th:text=${consignesHtml}></textarea>
							</div>
						</div>
						<div class="col-lg-6">
							<h3>Message </h3>
							<div class="alert alert-info">
								<p class="mb-0"><strong>Pour :</strong> <span th:text="${tagCheckers}"></span></p>
								<form th:action="@{/{ctx}/manager/tagChecker/sendConsignes(ctx=${eContext})}" method="post" id="sendConsignes">
				                    <div class="form-group row">
				                       <label for="subject" class="col-form-label col-lg-2">Sujet : </label>
				                       <div class="col-lg-10">
				                       	<input type="text" th:id="subject" th:name="subject" class="form-control" required="required" th:value="${sujetMailConsignes}">
				                       </div>
				                    </div>
									<div class="form-check form-check-inline mb-2">
									   <label class="form-check-label mr-2" for="isPreviewPdfOk">Valider consignes : </label>
									   <input class="form-check-input" type="checkbox" id="isPreviewPdfOk" name="isPreviewPdfOk">
									</div>
									<textarea id="emailArea" th:text="${bodyMailConsignes}"></textarea>
									<input  type="hidden" name="sessionEpreuveId" th:value="${seid}" />
									<input type="hidden" id="bodyMsg"  name="bodyMsg" value=" "/>
									<input type="hidden" value="" name="htmltemplatePdf" id="htmltemplatePdf">
			                        <div class="row">
			                            <div class="col-md-6 mt-2">
			                                <input th:if="${isSendEmails}" type="submit" class="btn btn-success" id="submitEmailConvsignes" value="Envoyer">
			                                <span th:unless="${isSendEmails}" class="text-danger">Envoi d'emails désactivé !!</span>
			                            </div>
			                        </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
