<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2  th:text="${'Ajouter un ' + #strings.toLowerCase(surveillantTerme)}"></h2></div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/tagChecker/create(ctx=${eContext})}" th:object="${tagChecker}" method="post">
						<div class="row mb-3">
	                    	<label for="sessionEpreuve" class="col-lg-2 form-label">Session</label>
	                    	<div class="col-lg-10">
								<select name="sessionEpreuve" class="form-control" id="sessionEpreuve" required="required">
									<option th:each="sessionEpreuve : ${allSessionEpreuves}"
										th:value="${sessionEpreuve.id}" th:text="${sessionEpreuve.nomSessionEpreuve}"></option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
	                    	<label for="sessionLocation" class="col-lg-2 form-label">Lieu de Session</label>
	                    	<div class="col-lg-9 row">
	                    		<div class="col-lg-1 mt-2">
									<div class="form-check">
									  <input class="form-check-input" type="checkbox" id="allLocations" name="allLocations">
									  <label class="form-check-label" for="allLocations">
									    Tous
									  </label>
									</div>
								</div>
								<div class="col-lg-11">            	
									<select class="form-select" th:id="locationTagChecker" th:name="sessionLocation" required="required">
										<option th:each="sessionLocation : ${allSessionLocations}"
											th:value="${sessionLocation.id}" th:text="${sessionLocation.location.nom + '  (' + sessionLocation.location.capacite + ' places)'}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row mb-3">
	                    	<label for="userApp" class="col-lg-2 form-label">Agent</label>
	                    	<div class="col-lg-5">
								<div th:if="${not #lists.isEmpty(tcs)}"class="mb-3 . notUsed">
									<select id="my-select2" name="users" multiple="multiple">
										<option th:each="tc : ${tcs}" 
												th:value="${tc.userApp.id}"
												th:text="${tc.userApp.nom + ' ' + tc.userApp.prenom}"/>
									</select>	
								</div>
							</div>
	                    	<div class="col-lg-5">
								<div th:if="${#lists.isEmpty(allUserApps)}" class="mb-2"><span class='text-danger font-weight-bold alertmsg'>Aucun agent disponible ou tous les agents du site sont déjà affectés</span><br/></div>
								<div th:if="${not #lists.isEmpty(allUserApps)}"class="mb-3 . notUsed">
									<select id="my-select" name="users" multiple="multiple">
										<option th:each="userApp : ${allUserApps}" 
												th:value="${userApp.id}"
												th:text="${userApp.nom + ' ' + userApp.prenom}"/>
									</select>
								</div>
							</div>
						</div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider" id="submitForm">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
