<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Modifier un surveillant</h2></div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/tagChecker/update(ctx=${eContext})}" th:object="${tagChecker}" method="post">
                    	<input type="hidden" name="_method" value="put" />
                    	<input type="hidden" th:field="*{id}">                       
	                    <div class="form-group">
	                    	<label for="sessionLocation" class="form-label">Lieu de Session</label>
							<select th:field="*{sessionLocation}" class="form-control">
								<option th:each="sessionLocation : ${allSessionLocations}"
									th:value="${sessionLocation.id}" th:text="${sessionLocation.location.nom}"></option>
							</select>
						</div>	 	                    
						<div class="form-group">
	                    	<label for="userApp" class="form-label">Nom - Prénomn</label>
							<select th:field="*{userApp}" class="form-control">
								<option th:each="userApp : ${allUserApps}"
									th:value="${userApp.id}" th:text="${userApp.nom + ' ' + userApp.prenom}"></option>
							</select>
						</div>             
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
