<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
           		<div th:if="${#ctx.containsVariable('capaciteOver')}" class="alert alert-danger">
					La capacité maximale du lieu <span class="font-weight-bold" th:text="${capaciteOver}"></span> est dépassée, 
						vous devez augmenter celle-ci pour pouvoir ajouter un nouvel inscrit
				</div>
		    	<div class="card-header"><h2>Ajouter un inscrit</h2></div>
  				<div class="card-body">
					<ul class="nav nav-tabs" role="tablist" >
					    <li class="nav-item"><a th:classappend="${type == 'interne'} ? 'active' : ''" class="nav-link" th:href="@{/{ctx}/manager/tagCheck?form=&sessionEpreuve={id}&type=interne(ctx=${eContext},id=${id})}">INTERNE</a></li>
					    <li class="nav-item"><a th:classappend="${type == 'externe'} ? 'active' : ''" class="nav-link" th:href="@{/{ctx}/manager/tagCheck?form=&sessionEpreuve={id}&type=externe(ctx=${eContext},id=${id})}">EXTERNE</a></li>
					 </ul>	
			  		<div th:if="${type == 'interne'}">
	                    <form action="#" th:action="@{/{ctx}/manager/tagCheck/create(ctx=${eContext})}" th:object="${tagCheck}" method="post">
	                    	<div class="row mb-3 mt-3">
		                    	<label for="sessionEpreuve" class="col-lg-2 form-label">Session</label>
		                    	<div class="col-lg-10">
									<select class="form-control" th:id="sessionEpreuve" th:name="sessionEpreuve" >
										<option th:each="sessionEpreuve : ${allSessionEpreuves}"
											th:value="${sessionEpreuve.id}" th:text="${sessionEpreuve.nomSessionEpreuve}"></option>
									</select>
								</div>
							</div>
							<div class="row mb-3">              				
		                    	<label for="sessionLocationExpected" class="col-lg-2 form-label">Lieu</label>
		                    	<div class="col-lg-10">	
									<select name="sessionLocationExpected"  id="sessionLocationExpected">
										<option value ="">-----Aucun----</option>
										<option th:each="sl : ${allSessionLocations}"
											th:value="${sl.id}" th:text="${sl.location.nom +' ('+  sl.capacite  + ')'}"></option>									
									</select>
								</div>
							</div>	
		                    <div class="row mb-3">
		                        <label for="eppn" class="col-lg-2 form-label">Eppn</label>
			                    <div class="col-lg-10">
			                        <input type="email" th:id="eppn" th:name="person.eppn" class="form-control" placeholder="Ici, recherche sur Nom Prénom --- Manuellement : identifiant@univ-ville.fr">
			                       </div>
			                    </div>
		                    <div class="row mb-3">
			                    <label for="numIdentifiant" class="col-lg-2 form-label">N° identifiant</label>
		                    	<div class="col-lg-10">
									<input type ="number" th:id="numIdentifiant" th:name="person.numIdentifiant" class="form-control">
								</div>
							</div>
							<div class="row mb-3">
								<label for="numIdentifiant" class="col-lg-2 form-label">Temps aménagé</label>
								<div class="col-lg-10">
								    <div class="form-check">
								      <input class="form-check-input" type="checkbox" th:field="*{isTiersTemps}">
								    </div>
							  	</div>
							</div>
							<div class="row mb-3">
								<label for="checkLdap" class="col-lg-2 form-label">Vérification Ldap</label>
								<div class="col-lg-10">
								    <div class="form-check">
								      <input class="form-check-input" type="checkbox" th:field="*{checkLdap}">
								    </div>
							  	</div>
							</div>
	                    	<div class="row mb-3">
		                    	<label for="sessionEpreuve" class="col-lg-2 form-label">Etape</label>
		                    	<div class="col-lg-10">
									<select class="form-control" th:id="codeEtape" th:name="codeEtape" >
										<option value ="">-----Aucune----</option>
										<option th:each="code : ${codeEtapes}"
											th:value="${code.key + ' - ' + code.value}" th:text="${code.key + ' - ' + code.value}"></option>
									</select>
								</div>
							</div>						
		                    <div class="row mb-3">
		                        <label for="comment" class="col-lg-2 form-label">Commentaire</label>
		                        <div class="col-lg-10">
		                        	<textarea  th:field="*{comment}" class="form-control" ></textarea>
		                        </div>
		                    </div>	  
	                        <div class="row">
	                            <div class="col-md-6 mt-5">
	                                <input type="submit" class="btn btn-success" value="Valider">
	                            </div>
	                        </div>                  
	                    </form>
                    </div>
			  		<div th:if="${type == 'externe'}">
	                    <form action="#" th:action="@{/{ctx}/manager/tagCheck/create(ctx=${eContext})}" th:object="${tagCheck}" method="post">
	                    	<div class="row mb-3 mt-3">
		                    	<label for="sessionEpreuve" class="col-lg-2 form-label">Session</label>
		                    	<div class="col-lg-10">
									<select class="form-control" th:id="sessionEpreuve" th:name="sessionEpreuve" >
										<option th:each="sessionEpreuve : ${allSessionEpreuves}"
											th:value="${sessionEpreuve.id}" th:text="${sessionEpreuve.nomSessionEpreuve}"></option>
									</select>
								</div>
							</div>
							<div class="row mb-3">              				
		                    	<label for="sessionLocationExpected2" class="col-lg-2 form-label">Lieu</label>
		                    	<div class="col-lg-10">	
									<select name="sessionLocationExpected"  id="sessionLocationExpected2">
										<option value ="">-----Aucun----</option>
										<option th:each="sl : ${allSessionLocations}"
											th:value="${sl.id}" th:text="${sl.location.nom +' ('+  sl.capacite  + ')'}"></option>									
									</select>
								</div>
							</div>	
		                    <div class="row mb-3">
			                    <label for="email" class="col-lg-2 form-label">Email</label>
		                    	<div class="col-lg-10">
									<input type ="email" th:id="email" th:name="guest.email" class="form-control" required="required">
								</div>
							</div>
							<div class="row mb-3">
			                    <label for="nom" class="col-lg-2 form-label">Nom</label>
		                    	<div class="col-lg-10">
									<input type ="text" th:id="nom" th:name="guest.nom" class="form-control" required="required">
								</div>
							</div>
							<div class="row mb-3">
			                    <label for="prenom" class="col-lg-2 form-label">Prénom</label>
		                    	<div class="col-lg-10">
									<input type ="text" th:id="prenom" th:name="guest.prenom" class="form-control" required="required">
								</div>
							</div>						
		                    <div class="row mb-3">
		                        <label for="comment" class="col-lg-2 form-label">Commentaire</label>
		                        <div class="col-lg-10">
		                        	<textarea  th:field="*{comment}" class="form-control" ></textarea>
		                        </div>
		                    </div>	  
	                        <div class="row">
	                            <div class="col-md-6 mt-5">
	                                <input type="submit" class="btn btn-success" value="Valider">
	                            </div>
	                        </div>                  
	                    </form>
                    </div>	                    
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
