<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<nav th:replace="fragments/modalMsg :: modalMsg"></nav>
		<div class="container-fluid">
           	<div class="card">
				<div class="d-flex justify-content-center align-items-center w-100 pb-2">
					<div class="toast-container  position-fixed top-0 start-0 p-3">
					  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					    <div class="toast-header">
					      <p class="h4 text-center me-auto"><span id="prenomPresence"></span>
					         <span id="nomPresence" class="fw-bold"></span></p>
					      <p id="codeEtape" class="h5 text-center"></p>
					      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
					    </div>
					    <div class="toast-body">
					      <div class="d-flex">
					          <img id="photoPresent" src="" alt="" class="rounded mx-auto d-block" width="160" height="200" />
					        </div>
					    </div>
					  </div>
					</div>
				</div>
	    		<div class="card-header">
	    			<div class="row">
		    			<div class="col">
			    			<h2>Inscrits <span class="badge bg-secondary badge-size" th:text="${countTagChecks}"></span></h2>
					    	<span class="text-muted h5" th:text="${sessionEpreuve.nomSessionEpreuve + ' le ' +  
								#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy') + ' à ' +  sessionEpreuve.campus.site}"></span>
							<span class="text-muted h5" th:if="${sessionEpreuve.dateFin != null}" th:text="${' -- Fin le ' + #dates.format(sessionEpreuve.dateFin, 'dd-MM-yyyy')}"></span><br />
							<span class="font-weight-bold text-danger" th:text="${sessionEpreuve.isSessionEpreuveClosed} ? ' -- Session cloturée'" ></span>
						</div>
		    			<div class="col">
		    				<div class="row float-end">
								<div class="col-auto">
									<button th:if="${countTagChecks>0}" class="btn btn-info" type="button" data-bs-toggle="collapse" 
										data-bs-target="#searchCollapse" title="Rechercher un inscrit"><i class="fas fa-search"></i></button>
									<a th:if="${!isSessionEpreuveClosed and !isSessionLibre}" title="Ajouter un inscrit" 
									th:href="@{/{ctx}/manager/tagCheck?form=&sessionEpreuve={paramUrl}(paramUrl=${paramUrl},ctx=${eContext})}" 
					    				class="btn btn-primary ms-2"><i class="fa fa-plus fa-lg"></i></a>
									<a th:href="@{/{ctx}/manager/sessionEpreuve/repartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:if="${countTagChecks>0 and !isSessionEpreuveClosed and !isSessionLibre}"
										class="btn btn-warning ms-2" title="Répartir les inscrits"><i class="fa fa-exchange-alt text-primary "></i></a>
									<a	th:href="@{/{ctx}/manager/tagCheck/deleteAllTagChecks/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:if="${countTagChecks>0 and !isSessionEpreuveClosed}" 
										class="btn btn-danger ms-2" title="Supprimer les inscrits" onclick="return confirm('Confirmez-vous la suppression de tous les inscrits?');"><i class="fa fa-trash"></i></a>
									<button th:if="${countTagChecks>0 and !isSessionEpreuveClosed and isConvocationEnabled}" title="Convocations" type="button" data-bs-toggle="modal" class="btn btn-secondary" data-bs-target="#convocModal"><i class="fa fa-envelope"></i></button>
									<button th:if="${countForButtonLinkOrQrCode > 0 and !isSessionEpreuveClosed and isQrCodeEnabled}" class="btn btn-secondary ms-2" title="Envoyer un qrCode de participation" data-bs-toggle="modal"  data-bs-target="#qrCodeModal"><i class="fas fa-qrcode"></i></button>
									<button th:if="${countForButtonLinkOrQrCode > 0 and !isSessionEpreuveClosed and isLinkEmargerEnabled}" class="btn btn-info"  title="Envoyer un lien de particiaption à distance" data-bs-toggle="modal"  data-bs-target="#lienParticipationModal"><i class="fas fa-link"></i></button>
									<button id="btnExport" th:if="${countTagChecks >0}" class="btn btn-success btnTooltip ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#exportCollapse" 
										title="Exporter des inscrits en PDF/ CSV"><i class="fas fa-file-export"></i></button>
			    				</div>
							</div>
						</div>
						<div class="alert alert-danger col-lg-12 mt-2 mb-0" th:if="${!isSessionLibre and (countRepartition > 0 or countUnknown > 0 or isConvocationEnabled and countConvocations > 0 
									or countCheckedBycard > 0 or notInLdap > 0)}">
							<span th:if="${countRepartition > 0}" class="font-weight-bold text-danger me-2" th:text="${'A répartir : ' + countRepartition}"></span>
							<span th:if="${countUnknown > 0}" class="bg-warning p-2 font-weight-bold text-danger me-2" th:text="${'Intrus : ' + countUnknown}"></span>
							<span th:if="${isConvocationEnabled and countConvocations > 0 and !isSessionLibre}" class="text-primary font-weight-bold " th:text="${'Convocations à envoyer : ' + countConvocations}"></span>
							<span th:if="${notInLdap > 0}" class="text-info font-weight-bold " th:text="' -- ' + ${'Incrit(s) non présent(s) dans le ldap : ' + notInLdap}"></span>
						</div>
					</div>
	    		</div>           	
  				<div class="card-body">
		    		<div class="collapse" id="searchCollapse" th:classappend="${collapse}">
						<form action="#" th:action="@{|/${eContext}/manager/tagCheck/sessionEpreuve/${sid}|}" id="formSearch" class=" alert alert-dark pl-2 pr-0">
							<div class="row">
			    				<div class="col">
									<input type="text" name="eppn" th:value="${eppn}" class="form-control me-1" placeholder="Recherche" id="searchTagCheck">
								</div>
								<div class="col">
					    			<select name="tempsAmenage" id="tempsAmenage" class="form-select  me-1"> 
									    <option value="" th:selected="${tempsAmenage==''}">---Temps aménagé---</option>
									    <option value="tiers" th:selected="${tempsAmenage=='tiers'}">Tiers-temps</option>
									    <option value="notTiers" th:selected="${tempsAmenage=='notTiers'}">Non tiers-temps</option>
									</select>
								</div>
								<div class="col">
					    			<select  name="repartition" id="repartition" class="form-select"  th:if="${not #lists.isEmpty(listeRepartition)}"> 
									    <option value="">---Répartition ---</option>
										<option th:each="rep : ${listeRepartition}"
												th:value="${rep.id}" th:text="${rep.nom}" th:selected="${rep.id==repartitionId}"></option>
									</select>
								</div>
								<div class="col">
									<a th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{paramUrl}(paramUrl=${paramUrl},ctx=${eContext})}" class="btn btn-danger btn-sm ms-1"><i class="fas fa-undo"></i></a>
								</div>
							</div>	
						</form>
		    		</div>
		    		<div class="collapse" id="exportCollapse">
		    			<div class="alert alert-info  pl-2 pr-1">
			    			<form th:action="@{/{ctx}/manager/tagCheck/export(ctx=${eContext})}" method="post">
								<input type="hidden" id="sessionId" name="sessionId" th:value="${sessionEpreuve.id}" />
								<input type="hidden" id="tiersTemps" name="tempsAmenage" th:value="${tempsAmenage}" />
				    			<input type="submit" class="btn btn-danger btn-sm exportInscrits" name='type' value="PDF" />
				    			<span th:if="${isEsupSignatureEnabled}"> 
									<a th:if="${countsignedPdf > 0}" th:href="@{/{ctx}/manager/esupsignature/sessionEpreuve/{id}(ctx=${eContext},id=${sessionEpreuve.id})}" 
					    				class="btn btn-outline-success btn-sm exportWS">PDF signés</a>
					    			<a th:href="@{/{ctx}/manager/tagCheck/esupsignature/{id}(ctx=${eContext},id=${sessionEpreuve.id})}" 
					    				class="btn btn-outline-danger btn-sm exportWS">Signer PDF</a>
				    			</span> 
								<input type="submit" class="btn btn-success btn-sm exportInscrits" name='type' value="CSV" />
								<input th:if="${countRepartition eq 0 and !isSessionEpreuveClosed and isQrCodeEnabled}" type="submit" class="btn btn-info btn-sm exportInscrits" name='type' value="QRC" />
								<a th:href="@{/wsrest/export/tagCheck/{id}(id=${sessionEpreuve.id})}" class="btn btn-primary btn-sm exportWS">WS</a>
							</form>
						</div>
		    		</div>
		    		<div th:if="${#ctx.containsVariable('isSuccess')}">
			    		<div class="alert alert-success alert-dismissible fade show" th:if="${isSuccess}">Mails envoyés avec succès
			    			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
			    		<div class="alert alert-danger text-center font-weight-bold alert-dismissible fade show"  th:unless="${isSuccess}">
				    		Problème avec l'envoi des mails<span th:if="${#ctx.containsVariable('isNotTagchecker')}">
				    		Vous n'êtes pas surveillant de cette salle, vous ne pouvez pas envoyer de lien d'émargement.</span>
				    		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			    		</div>
		    		</div>
						<table class="table table-hover table-striped table-bordered" th:if="${not #lists.isEmpty(tagCheckPage)}" id="tableTagChecks">
							<thead class="sticky-top">
								<tr>
									<th th:if="${!isSessionEpreuveClosed and isConvocationEnabled}" scope="col"><input type="checkbox" id="selectall" /></th>
									<th scope="col" class="hiddenBlock"><a class="sorted" sd:pagination-sort="person.type">Type</a></th>
									<th scope="col">Identifiant</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="person.eppn">Nom</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Prénom</th>
									<th th:if="${isGroupeDisplayed}" scope="col" class="d-none d-xl-table-cell">Groupe</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" >N° étudiant</th>							
									<th scope="col" class="d-none d-xl-table-cell text-center" >Temps aménagé</th>
									<th scope="col" class="d-none d-xl-table-cell text-center"><a class="sorted" sd:pagination-sort="isExempt">Exempt</a></th>
									<th th:if="${isConvocationEnabled}" scope="col" class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="dateEnvoiConvocation">Envoi convocation</a></th>								
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="sessionLocationExpected">Répartition</a></th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="sessionLocationBadged">Lieu badgé</a></th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="typeEmargement">Emargement</a></th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="nbBadgeage">Nb badgeage</a></th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="tagDate">Date</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" th:if="${sessionEpreuve.isProcurationEnabled}" >Procuration</th>
									<th scope="col" class="hiddenBlock"><a class="sorted" sd:pagination-sort="tagChecker">Surveillant</a></th>
									<th class ="center" scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tagCheck : ${tagCheckPage}" th:id="${tagCheck.id}" th:class="${(tagCheck.isUnknown and !tagCheck.sessionEpreuve.isSessionLibre) ? 'table-warning' : ''}"> 
									<td th:if="${!isSessionEpreuveClosed and isConvocationEnabled}"><input type="checkbox" th:value="${tagCheck.id}" name="case"  class="case" 
										th:attr="disabled=${tagCheck.sessionLocationExpected != null}? false : true"  /></td>
									<td class="hiddenBlock" th:if="${tagCheck.person != null}" th:text="#{person.type  + '.' + ${tagCheck.person.type}}"></td>
									<td class="hiddenBlock" th:if="${tagCheck.guest != null}" th:text="Externe"></td>
									<td th:if="${tagCheck.person != null}">
										<button type="button" data-bs-dismiss="toast" class="btn btn-sm btn-primary me-1 userToast" 
										th:attr="data-whatever=${tagCheck.person.eppn + '//' + tagCheck.person.nom + '//' + tagCheck.person.prenom + '//' + tagCheck.person.numIdentifiant+ '//' + tagCheck.codeEtape}">
										<i class="fa fa-user" aria-hidden="true"></i></button>
										<span th:text="${tagCheck.person.eppn}"></span>
									</td>
									<td th:unless="${tagCheck.person != null}">
										<span th:text="${tagCheck.guest.email}"></span>
									</td>
									<td th:if="${tagCheck.person != null}" th:text="${tagCheck.person.nom}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:unless="${tagCheck.person != null}" th:text="${tagCheck.guest.nom}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:if="${tagCheck.person != null}" th:text="${tagCheck.person.prenom}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:unless="${tagCheck.person != null}" th:text="${tagCheck.guest.prenom}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:if="${isGroupeDisplayed}" class="d-none d-xl-table-cell">
										<span th:if="${tagCheck.person != null}" th:text="${#strings.listJoin(tagCheck.person.groupes.![nom], ',')}"></span>
										<span th:if="${tagCheck.guest != null}" th:text="${#strings.listJoin(tagCheck.guest.groupes.![nom], ',')}"></span>
									</td>
									<td th:if="${tagCheck.person != null}"  th:text="${tagCheck.person.numIdentifiant}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:unless="${tagCheck.person != null}"></td>
									<td class="text-center d-none d-xl-table-cell"><i th:if="${tagCheck.isTiersTemps}" class="fa fa-check text-success"></i></td>
									<td class="text-center d-none d-xl-table-cell"><i th:if="${tagCheck.isExempt}" class="fa fa-check text-success"></i></td>
									<td th:if="${isConvocationEnabled}" class="d-none d-xl-table-cell" th:text="${#dates.format(tagCheck.dateEnvoiConvocation, 'dd-MM-yyyy HH:mm')}"></td>								
									<td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${tagCheck.sessionLocationExpected != null} ? ${tagCheck.sessionLocationExpected.location.nom}"></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell" 
											th:text="${tagCheck.sessionLocationBadged != null} ? ${tagCheck.sessionLocationBadged.location.nom}"></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell text-center">
									<span th:if= "${tagCheck.typeEmargement!=null} "  th:switch="${#strings.toString(tagCheck.typeEmargement.name())}">
										<i th:case="'CARD'" class="fas fa-id-card text-primary h4" title ="Carte"></i>
										<i th:case="'MANUAL'" class="fas fa-check-square text-success" title="Manuel"></i>
										<i th:case="'QRCODE'" class="fas fa-qrcode text-secondary" title="QrCode"></i>
										<i th:case="'QRCODE_SESSION'" class="fas fa-qrcode text-primary" title="QrCode de session"></i>
										<i th:case="'QRCODE_USER'" class="fas fa-qrcode text-danger" title="QrCode participant"></i>
										<i th:case="'QRCODE_CARD'" class="fas fa-qrcode text-warning" title="QrCode carte"></i>
										<i th:case="'LINK'" class="fas fa-link text-info" title="Lien"></i>
									 </span></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell text-center" th:text="${tagCheck.nbBadgeage}"></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell" th:text="${#dates.format(tagCheck.tagDate, 'dd-MM-yyyy HH:mm')}"></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell text-center" th:if="${sessionEpreuve.isProcurationEnabled}"><span th:text="${(tagCheck.proxyPerson != null) ? tagCheck.proxyPerson.prenom + ' ' + tagCheck.proxyPerson.nom :''}"></span></td>
									<td class="hiddenBlock" th:text="${(tagCheck.tagChecker!=null)? tagCheck.tagChecker.userApp.eppn : ''}"></td>
									<td class ="center"><a th:href="@{/{ctx}/manager/tagCheck/{id}(id=${tagCheck.id},ctx=${eContext})}"><i class="fa fa-eye text-primary"></i></a>
										<a th:if="${!isSessionEpreuveClosed}" th:href="@{/{ctx}/manager/tagCheck/{id}?form(id=${tagCheck.id},ctx=${eContext})}">
										<i class="fa fa-pen text-warning ms-2"></i></a>
										<a th:if="${!tagCheck.sessionEpreuve.isSessionEpreuveClosed} "data-bs-toggle="modal" data-bs-target="#modal-warning" 
											th:attr="data-bs-target='#modal-warning'+${tagCheck.id }"><i class="fa fa-trash text-danger ms-2"></i></a>
										<div class="modal modal-warning fade in" th:id="modal-warning+${tagCheck.id}" >
										    <div class="modal-dialog">
										        <div class="modal-content">
										        	<form id="command" th:action="@{/{ctx}/manager/tagCheck/{id}(id=${tagCheck.id},ctx=${eContext})}" method="POST">
											        	<input type="hidden" name="_method" value="delete" />
											            <div class="modal-header">
											                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											            </div>
											            <div class="modal-body">
											                <div class="alert alert-danger text-center">Confirmez-vous la suppression de l'individu : <br />
											                	 <span th:if="${tagCheck.person != null}" th:text="${tagCheck.person.eppn}" class="font-weight-bold"></span>
											                	 <span th:if="${tagCheck.guest != null}" th:text="${tagCheck.guest.email}" class="font-weight-bold"></span> ?</div>
											            </div>
											            <div class="modal-footer">
											                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
											                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
											            </div>
										            </form>
										        </div>
										    </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<nav th:replace="fragments/pagination :: pagination"></nav>
					</div>
				</div>
			</div>
		<footer th:replace="fragments/footer :: footer"></footer>
		<div class="modal modal-warning fade in" id="convocModal">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <div class="alert alert-danger text-center font-weight-bold mb-2">Vous allez accéder au formulaire d'envoi de convocation, elle sera envoyée aux personnes sélectionnées précédemment ou à l'ensemble des inscrits répartis :  <br />
							<form th:action="@{/{ctx}/manager/tagCheck/convocationForm(ctx=${eContext})}" method="post" class="mt-3">
								<button type="submit" class="btn btn-success" title="Tous" name="submit" value="all">Tous</button>
								<button type="submit" class="btn btn-primary" title="Sélection" name="submit" value="selected">Sélection</button>
								<input type="hidden" th:id="listeIds" th:name="listeIds"  value="">
								<input type="hidden" th:id="sessionEpreuveId" th:name="sessionEpreuveId" th:value="${sessionEpreuve.id}">
							</form>
						</div>	 
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary pull-left" data-bs-dismiss="modal">Fermer</button>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="modal modal-warning fade in" id="convocModal">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		            </div>
		            <div class="modal-body">
		                <div class="alert alert-danger text-center font-weight-bold mb-2">Vous allez accéder au formulaire d'envoi de convocation, elle sera envoyée aux personnes sélectionnées précédemment ou à l'ensemble des inscrits répartis :  <br />
							<form th:action="@{/{ctx}/manager/tagCheck/convocationForm(ctx=${eContext})}" method="post" class="mt-3">
								<button type="submit" class="btn btn-success" title="Tous" name="submit" value="all">Tous</button>
								<button type="submit" class="btn btn-primary" title="Sélection" name="submit" value="selected">Sélection</button>
								<input type="hidden" th:id="listeIds" th:name="listeIds"  value="">
								<input type="hidden" th:id="sessionEpreuveId" th:name="sessionEpreuveId" th:value="${sessionEpreuve.id}">
							</form>
						</div>	 
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-secondary pull-left" data-bs-dismiss="modal">Fermer</button>
		            </div>
		        </div>
		    </div>
		</div>
		<div class="modal" id="qrCodeModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">QR Code</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="d-flex">
							<div class="media-body ms-2">
								<div class="alert alert-danger text-center">
									<strong>Envoyer un mail avec qrCode de participation pour les individus :</strong> <br />
									<form id="command"
										th:action="@{/{ctx}/manager/tagCheck/sendLinkOrQrCode(ctx=${eContext})}"
										method="POST">
										<input type="hidden" name="seId" th:value="${sessionEpreuve.id}" />
										<input type="hidden" name="type" value="qrCode" />
										<div class="alert alert-warning text-center mt-2">
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="population"
													id="sendQrCode1" value="all"> <label
													class="form-check-label" for="inlineRadio1">Tous</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="population"
													id="sendQrCode2" value="ext" checked="checked"> <label
													class="form-check-label" for="inlineRadio2">
													Externes</label>
											</div>
											<div class="form-check form-check-inline">
												<input class="form-check-input" type="radio" name="population"
													id="sendQrCode3" value="nonext"> <label
													class="form-check-label" for="inlineRadio2">
													Internes
												</label>
											</div>
										</div>
										<button type="submit"
											class="btn btn-outline pull-left btn-success">Valider</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal" id="lienParticipationModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Lien de participation</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="media">
							<div class="media-body ms-2">
								<div class="alert alert-danger text-center">
									<strong>Envoyer un mail avec lien de participation (interne)</strong><br /><br />
									<form id="command"
										th:action="@{/{ctx}/manager/tagCheck/sendLinkOrQrCode(ctx=${eContext})}"
										method="POST">
										<input type="hidden" name="seId" th:value="${sessionEpreuve.id}" />
										<input type="hidden" name="type" value="link" />
										<button type="submit"
											class="btn btn-outline pull-left btn-success">Valider</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
