<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header"><h2 >Inscription</h2></div>
	 				<div class="card-body">
					<dl class="row"  th:classappend="${(tagCheck.typeEmargement!=null and !tagCheck.isUnknown? 'bg-success-subtle' : '') +
										(tagCheck.isUnknown ? 'bg-warning-subtle' : '')}">
			            <dt class="col-sm-2">Session</dt>
			            <dd class="col-sm-10" th:text="${tagCheck.sessionEpreuve.nomSessionEpreuve}"></dd>
			            <dt class="col-sm-2">Type</dt>
			            <dd class="col-sm-10" th:if="${tagCheck.person != null}" th:text="${tagCheck.person.type}"></dd>
			            <dd class="col-sm-10" th:if="${tagCheck.guest != null}">Externe</dd>
			            <dt class="col-sm-2">Identifiant</dt>
			            <dd class="col-sm-10" th:if="${tagCheck.person != null}" th:text="${tagCheck.person.eppn}"></dd>
			            <dd class="col-sm-10" th:if="${tagCheck.guest != null}" th:text="${tagCheck.guest.email}"></dd>
			            <dt class="col-sm-2">Nom</dt>
			            <dd class="col-sm-10" th:if="${tagCheck.person != null}" th:text="${tagCheck.person.nom}"></dd>
			            <dd class="col-sm-10" th:if="${tagCheck.guest != null}" th:text="${tagCheck.guest.nom}"></dd>
			            <dt class="col-sm-2">Prénom</dt>
			            <dd class="col-sm-10" th:if="${tagCheck.person != null}" th:text="${tagCheck.person.prenom}"></dd>
			            <dd class="col-sm-10" th:if="${tagCheck.guest != null}" th:text="${tagCheck.guest.prenom}"></dd>
			            <dt class="col-sm-2">Groupe</dt>
			            <dd class="col-sm-10" th:if="${tagCheck.person != null}" th:text="${#strings.listJoin(tagCheck.person.groupes.![nom], ',')}"></dd>
			            <dd class="col-sm-10" th:if="${tagCheck.guest != null}" th:text="${#strings.listJoin(tagCheck.guest.groupes.![nom], ',')}"></dd>
			            <dt class="col-sm-2">N° identifiant</dt>
			            <dd class="col-sm-10" th:text="${(tagCheck.person != null and tagCheck.person.numIdentifiant != null) ? tagCheck.person.numIdentifiant : ''}"></dd>
			            <dt class="col-sm-2">Temps aménagé</dt>
			            <dd class="col-sm-10"><i th:if="${tagCheck.isTiersTemps}" class="fa fa-check text-success"></i></dd>	
						<dt class="col-sm-2">Absence</dt>
			            <dd class="col-sm-10 fw-bold" th:classappend="${(tagCheck.absence != null and tagCheck.absence.motifAbsence != null and tagCheck.absence.motifAbsence.StatutAbsence.name() eq 'JUSTIFIE') ? 'text-success' : 'text-danger'}">
							<th:block th:if="${tagCheck.absence != null and tagCheck.absence.motifAbsence!=null}" th:text="${tagCheck.absence.motifAbsence.libelle + ' [' + tagCheck.absence.motifAbsence.typeAbsence + '] '}"> 
							</th:block>
						</dd>	            
			            <dt class="col-sm-2">Envoi convocation</dt>
			            <dd class="col-sm-10" th:text="${(tagCheck.dateEnvoiConvocation != null) ? #dates.format(tagCheck.dateEnvoiConvocation, 'dd-MM-yyyy HH:mm') : ''}"></dd>
			            <dt class="col-sm-2">Emargement</dt>
			            <dd class="col-sm-10">
							<span th:if="${tagCheck.typeEmargement!=null} "
								th:switch="${#strings.toString(tagCheck.typeEmargement.name())}">
								<i th:case="'CARD'" class="fas fa-id-card text-primary h4"></i>
								<i th:case="'MANUAL'" class="fas fa-check-square text-success"></i>
								<i th:case="'QRCODE'" class="fas fa-qrcode text-secondary"></i>
								<i th:case="'QRCODE_SESSION'" class="fas fa-qrcode text-primary" title="QrCode de session"></i>
								<i th:case="'QRCODE_USER'" class="fas fa-qrcode text-danger" title="QrCode participant"></i>
								<i th:case="'QRCODE_CARD'" class="fas fa-qrcode text-warning" title="QrCode carte"></i>							
								<i th:case="'LINK'" class="fas fa-link text-info"></i>
							</span>
						</dd>
			            <dt class="col-sm-2">Date</dt>
						<dd class="col-sm-10"  th:text="${(tagCheck.tagDate != null) ? #dates.format(tagCheck.tagDate, 'dd-MM-yyyy HH:mm') : ''}"></dd>
			            <dt class="col-sm-2">Surveillant</dt>
			            <dd class="col-sm-10" th:text="${(tagCheck.tagChecker!= null) ? tagCheck.tagChecker.userApp.eppn : ''}"></dd>     
			            <dt class="col-sm-2">Répartition</dt>
			            <dd class="col-sm-10" th:text="${(tagCheck.sessionLocationExpected != null) ? tagCheck.sessionLocationExpected.location.nom : ''}"></dd>
			            <dt class="col-sm-2">Lieu badgé</dt>
			            <dd class="col-sm-10" th:text="${(tagCheck.sessionLocationBadged != null) ? tagCheck.sessionLocationBadged.location.nom : ''}"></dd>
			            <dt class="col-sm-2">Commentaire</dt>
			            <dd class="col-sm-10" th:text="${tagCheck.comment}"></dd>
					</dl>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
