<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Modifier une inscription</h2></div>
           		<div th:if="${#ctx.containsVariable('capaciteOver')}" class="alert alert-danger">
					La capacité maximale du lieu <span class="font-weight-bold" th:text="${capaciteOver}"></span> est dépassée, 
						vous devez augmenter celle-ci pour pouvoir ajouter un nouvel inscrit
				</div>		    	
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/tagCheck/update/{id}(ctx=${eContext}, id=${tagCheck.id})}" th:object="${tagCheck}" method="post">
	                    <div class="form-group row">
                    		<div class="col-lg-2">
	                    		<label for="sessionEpreuve" class="col-form-label">Session</label>
	                    	</div>
	                    	<div class="col-lg-10">
	                    		<input type="text"  class="form-control" th:id="*{sessionEpreuve}"  th:value="${tagCheck.sessionEpreuve.nomSessionEpreuve}" disabled="disabled">
							</div>
						</div>		
	                    <div class="form-group row">
                    		<div class="col-lg-2">
	                    		<label for="person" class="col-form-label">Eppn</label>
	                    	</div>
	                    	<div class="col-lg-10">
	                    		<input type="text"  class="form-control" th:id="*{person}"  th:value="${tagCheck.person.eppn}" disabled="disabled">
							</div>
						</div>
						<div class="form-group row">              				
	                    	<div class="col-lg-2">
	                    		<label for="sessionLocationExpected" class="col-form-label">Lieu</label>
	                    	</div>
	                    	<div class="col-lg-10">	
								<select name="sessionLocationExpected"  id="sessionLocationExpected">
									<option value ="">-----Aucun----</option>
									<option th:each="sl : ${allSessionLocations}"
										th:value="${sl.id}" th:text="${sl.location.nom +' ('+  sl.capacite  + ')'}" 
										th:selected="${tagCheck.sessionLocationExpected != null &&  (sl.id == tagCheck.sessionLocationExpected.id)}" ></option>									
								</select>
							</div>
						</div>							
              			<div class="form-group row">
	                    	<div class="col-lg-2">
	                    		<label for="sessionEpreuve" class="col-form-label">Groupes</label>
	                    	</div>
	                    	<div class="col-lg-10">	
								<select name="groupe" id="groupe" class="form-control">
									<option value ="">-----Aucun----</option>
									 <option th:each="groupe: ${allGroupes}" th:value="${groupe.id}"  th:selected="${tagCheck.groupe != null &&  (groupe.id == tagCheck.groupe.id)}"  th:text="${groupe.nom + ' [' + groupe.nbTagCheck + ']'}"/>
								</select>
							</div> 
						</div>  
						<div class="form-group row">
	                    	<div class="col-lg-2">
		                    	<label class="form-check-label" th:for="isTiersTemps">
							        Temps aménagé
							    </label>
						    </div>
						    <div class="col-lg-10">	
							    <div class="form-check">
							      <input class="form-check-input" type="checkbox" th:field="*{isTiersTemps}">
							    </div>
						    </div>
						</div>
                    	<div class="form-group row">
                    		<div class="col-lg-2">
	                    		<label for="sessionEpreuve" class="col-form-label">Etape</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<select class="form-control" th:id="codeEtape" th:name="codeEtape" >
									<option value ="">-----Aucune----</option>
									<option th:each="code : ${codeEtapes}"
										th:value="${code}" th:text="${code}" th:selected="${tagCheck.codeEtape != null &&  (code == tagCheck.codeEtape)}"></option>
								</select>
							</div>
						</div>							
	                    <div class="form-group row">
	                    	<div class="col-lg-2">
	                        	<label for="comment" class="col-form-label">Commentaire</label>
	                        </div>
	                        <div class="col-lg-10">	
	                        	<textarea  th:field="*{comment}" class="form-control" ></textarea>
	                        </div>
	                    </div>	  		  
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
