<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header"><h2>Créer un groupe</h2></div>
	 			<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/groupe/create/{id}(ctx=${eContext}, id=${groupe.id})}" th:object="${groupe}" method="post">
                    	<div class="row mb-3">
		                    <label for="nom" class="col-lg-2 form-label">Nom</label>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{nom}" class="form-control" required="required">
		                    </div>
	                    </div>
                    	<div class="row mb-3">
		                    <label for="description" class="col-lg-2 form-label">Description</label>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{description}" class="form-control" required="required">
		                    </div>
	                    </div>
						<div class="row mb-3">
		                    <label for="anneeUniv" class="col-lg-2 form-label">Année</label>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{anneeUniv}" class="form-control" required="required">
		                    </div>
	                    </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div> 	                    
	                 </form>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
