<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header"><h2 >Groupe</h2></div>
	 			<div class="card-body">
					<dl class="row">
			            <dt class="col-sm-2">Nom</dt>
			            <dd class="col-sm-10" th:text="${groupe.nom}"></dd>
			            <dt class="col-sm-2">Description</dt>
			            <dd class="col-sm-10" th:text="${groupe.description}"></dd>
			            <dt class="col-sm-2">Date de création</dt>
			            <dd class="col-sm-10"  th:text="${#dates.format(groupe.dateCreation, 'dd-MM-yyyy')}"></dd>
			            <dt class="col-sm-2">Date de modification</dt>
			            <dd class="col-sm-10"  th:text="${#dates.format(groupe.dateModification, 'dd-MM-yyyy')}"></dd>			            
			            <dt class="col-sm-2">Modificateur</dt>
			            <dd class="col-sm-10" th:text="${groupe.modificateur}"></dd> 		            
					</dl>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
