<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
			<div class="card">
  				<div class="card-body">
	    			<div class="row">
			    		<div class="col-lg-2">
					    	<h2>Evènements</h2>
					    </div>
					    <div class="col-lg-10">
						    <div class="row mt-3 ml-2 float-right">
						    	<a th:href="@{/{ctx}/manager/event?form(ctx=${eContext})}" class="btn btn-primary ml-2" title="Ajouter un évènement"><i class="fa fa-plus fa-lg"></i></a>
						    </div>
					    </div> 
	    			</div>
					<table class="table table-hover table-striped table-bordered">
						<thead class ="center sticky-top">
							<tr>
								<th scope="col"><a class="sorted" sd:pagination-sort="nom">Nom</a></th>
								<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="url">Url</a></th>
								<th scope="col" class="d-none d-xl-table-cell">Nb</th>
								<th scope="col" class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="dateCreation">Date création</a></th>
								<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell">Actif</th>
								<th scope="col" class="d-none d-xl-table-cell">Commentaire</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody class ="center">
							<tr th:each="event : ${eventPage}">
								<td th:text="${event.nom}"></td>
								<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a th:href="${event.url}" th:text="${event.url}"></a></td>
								<td th:text="${event.nbEvent}" class="d-none d-xl-table-cell"></td>
								<td th:text="${#dates.format(event.dateCreation, 'dd-MM-yyyy')}" class="d-none d-xl-table-cell"></td>
								<td class ="text-center d-none d-lg-table-cell d-xl-table-cell"><i th:class="${event.isEnabled} ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i></td>
								<td th:text="${event.commentaire}" class="d-none d-xl-table-cell"></td>
								<td><a th:href="@{/{ctx}/manager/event/{id}(id=${event.id},ctx=${eContext})}" data-toggle="modal" data-target="#modal-event" 
								th:attr="data-whatever=${event.nom}" th:id="${'event-'+ event.id}" class="center"><i class="fa fa-eye text-primary"></i></a>
								<a th:href="@{/{ctx}/manager/event/{id}?form(id=${event.id},ctx=${eContext})}" class="center ml-2"><i class="fa fa-pen text-warning"></i></a>
								<a data-toggle="modal" th:attr="data-target='#modal-warning'+${event.id }"  class="center ml-2"><i class="fa fa-trash text-danger"></i></a>
									<div class="modal fade in" th:id="modal-warning+${event.id}" >
									    <div class="modal-dialog">
									        <div class="modal-content">
									        	<form id="command" th:action="@{/{ctx}/manager/event/{id}(id=${event.id},ctx=${eContext})}" method="POST">
										        	<input type="hidden" name="_method" value="delete" />
										            <div class="modal-header">
										                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
												          <span aria-hidden="true">&times;</span>
												        </button>
										            </div>
										            <div class="modal-body">
										                <div class="alert alert-danger text-center">Confirmez-vous la suppression de cet évènement: <br />
										                	 <span th:text="${event.nom}" class="font-weight-bold"></span> ?</div>
										            </div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Fermer</button>
										                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
										            </div>
									            </form>
									        </div>
									    </div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="modal fade in" th:id="modal-event">
					    <div class="modal-dialog modal-xl">
					        <div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"></h5>
					                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
					            </div>
					            <div class="modal-body" id="modal-body-event">
					            </div>
								 <div class="modal-footer">
					                <button type="button" class="btn btn-secondary pull-left" data-dismiss="modal">Fermer</button>
					            </div>
					        </div>
					    </div>
					</div>
				</div>
  			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>