<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un évènement</h2></div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/event/update/{id}(ctx=${eContext}, id=${event.id})}" th:object="${event}" method="post">
                    	<div class="row mb-3">
	                    	<label for="nom" class="col-lg-2 form-label">Nom</label>
	                    	<div class="col-lg-10">
 								<input type="text"  th:field="*{nom}" class="form-control" required="required">
							</div>
						</div>
                    	<div class="row mb-3">
	                    	<label for="url" class="col-lg-2 form-label">Url</label>
	                    	<div class="col-lg-10">
 								<input type="text"  th:field="*{url}" class="form-control" required="required">
							</div>
						</div>	
						<div class="row mb-3">
	                    	<label for="url" class="col-lg-2 form-label">Commentaire</label>
	                    	<div class="col-lg-10">
 								<textarea th:field="*{commentaire}" class="form-control" required="required"></textarea>
							</div>
						</div>
						<div class="row mb-3">
							<label class="col-lg-2 form-label" th:text="Actif"  th:for="${isEnabled}">
							      </label>
							<div class="col-lg-10">
								 <div class="form-check">
								      <input class="form-check-input" type="checkbox" th:field="*{isEnabled}">
								</div>      
						    </div>
						</div>  						
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider" id="submitForm">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
