<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid px-3 px-md-4 my-2">
			<div class="d-flex justify-content-between align-items-center mb-2 border-bottom pb-2 mb-3">
				<h2 class="fs-3 mb-0">Modifier un agent</h2>
				<div class="d-flex align-items-center gap-2">
					<a th:href="@{/{ctx}/admin/userApp(ctx=${eContext})}" class="btn btn-info"
						title="Agents"><i class="fa fa-home fa-lg"></i></a>
				</div>				
			</div>			
	    	<div  class="alert alert-danger" th:if="${error}">L'agent avec l'eppn <strong><span th:text="${eppn}"></span></strong> existe déjà!!</div>
			<div class="alert alert-info"><p th:text="${userApp.prenom + ' ' + userApp.nom}"></p></div>
            <form action="#" th:action="@{/{ctx}/admin/userApp/update/{id}(ctx=${eContext}, id=${userApp.id})}" th:object="${userApp}" method="post">
				<div class="row mb-3">
                	<label for="eppn" class="col-lg-2 form-label">Eppn</label>
                	<div class="col-lg-10">
						<input type="email" th:field="*{eppn}" class="form-control" readonly="readonly">
					</div>
				</div>
			<div class="row mb-3">
				<label for="userRole" class="col-lg-2 form-label">Spécialité</label>
				<div class="col-lg-10">
					<div class="col-lg-10">
						<input type="text" th:field="*{speciality}" class="form-control">
					</div>
				</div>
			</div>							
				<div class="row mb-3">
                	<label for="userRole" class="col-lg-2 form-label">Rôle</label>
                	<div class="col-lg-10">
						<select th:field="*{userRole}" class="form-control">
							<option th:each="role : ${allRoles}"
								th:value="${role}" th:text="#{${'role.' + #strings.toLowerCase(role)}(${#strings.toUpperCase(surveillantTerme)})}"></option>
						</select>
					</div>
				</div>							
                <div class="row">
                    <div class="col-md-6 mt-3">
                        <input type="submit" class="btn btn-success" value="Valider">
                    </div>
                </div>                  
            </form>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
