<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un lieu de session</h2>
			        <small class="text-muted h5" th:text="${se.nomSessionEpreuve + ' le ' + #dates.format(se.dateExamen, 'dd-MM-yyyy') + ' à ' + se.campus.site}"></small>
			        <small class="text-muted h5" th:if="${se.dateFin != null}" th:text="${' - Fin le ' + #dates.format(se.dateFin, 'dd-MM-yyyy')}"></small>
			        <span class="font-weight-bold text-danger" th:text="${se.statutSession.key eq 'CLOSED'} ? ' -- Session cloturée'"></span>	
		    	</div>
		    	<div class="alert alert-danger" th:if="${not #lists.isEmpty(map)}">
		    		<p class="font-weight-bold">Les sessions suivantes ont lieux le même jour sur le même site, veuillez vous assurer que les horaires ne se chevauchent pas pour un même lieu.</p>
		    		<ul>
			            <li th:each="se : ${map}"><span th:text="${se.key}"></span> -- Salles : <span th:text="${se.value}"></span></li>
			        </ul>
		    	</div>
		    	<div class="alert alert-danger" th:if="${#ctx.containsVariable('error')}">La capacité maximale pour ce lieu est de  <span class="font-weight-bold" th:text="${error}"></span>  !!!</div>
  				<div class="alert alert-danger" th:if="${#ctx.containsVariable('existingPriority')}">Cette valeur de priorité existe déjà</div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/sessionLocation/create(ctx=${eContext})}" th:object="${sessionLocation}" method="post">
						<div class="row mb-3">
	                    	<label for="sessionEpreuve" class="col-lg-2 form-label">Session</label>
	                    	<div class="col-lg-10">
								<select th:field="*{sessionEpreuve}" class="form-select" required="required">
									<option th:each="sessionEpreuve : ${allSessionEpreuves}"
										th:value="${sessionEpreuve.id}" th:text="${sessionEpreuve.nomSessionEpreuve}"></option>
								</select>
							</div>
						</div>
						<div class="row mb-3">
	                    	<label for="location" class="col-lg-2 form-label">Lieu</label>
	                    	<div class="col-lg-10">
								<select class="form-control" name="location" id="addSessionLocation" required="required"
								    hx-get="sessionLocation/searchCapacite"
									hx-include="[name='location']"
								    hx-trigger="change"
								    hx-target="#capacite"
									hx-swap="outerHTML">
								    <option th:each="location : ${allLocations}"
								        th:value="${location.id}"
								        th:text="${location.nom + ' (' + location.capacite + ' max)'}"
										th:selected="${location.id == selectedLocationId}">
								    </option>
								</select>
								<div th:if="${#lists.isEmpty(allLocations)}"><span class='text-danger font-weight-bold alertmsg'>Aucun lieu disponible ou tous les lieux du site sont déjà affectés</span><br/></div>
							</div>
						</div>
						<div class="row mb-3">
	                    	<label for="priorite" class="col-lg-2 form-label">Priorité
	                    		<a class=" contextualHelp" data-bs-toggle="tooltip" th:title="#{help.ctx.sessionLocation.priorite}">
			                    	<i class="fas fa-question-circle"></i></a>
	                    	</label>
	                    	<div class="col-lg-10">
								<input type="number" min="1" th:field="*{priorite}"  class="form-control" required="required">
							</div>
						</div>
						<div class="row mb-3">
	                    	<label for="capacite" class="col-lg-2 form-label">Capacité
	                    		<a class=" contextualHelp" data-bs-toggle="tooltip" th:title="#{help.ctx.sessionLocation.capacite}">
			                    	<i class="fas fa-question-circle"></i></a>
	                    	</label>
	                    	<div class="col-lg-10">
								<!--input type="number"  min="1" th:field="*{capacite}" class="form-control" required="required"-->
								<input type="number" min="1" id="capacite" name="capacite" class="form-control" required="required"
										th:value="${allLocations[0]?.capacite}"	>
							</div>
						</div>	
						<div class="row mb-3">
							<label class="col-lg-2 form-check-label" th:for="${isTiersTempsOnly}">
							Temps aménagé <a class=" contextualHelp" data-bs-toggle="tooltip"
							th:title="#{help.ctx.sessionLocation.tempsAmenage}"> <i
								class="fas fa-question-circle"></i></a>
						</label>
							<div class="col-lg-10">
								<input class="form-check-input " type="checkbox"
									th:field="*{isTiersTempsOnly}">
							</div>
						</div>	
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider" id="submitForm">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
