<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header" th:with="se=${sessionLocation.sessionEpreuve}"><h2>Lieu de session</h2>
					<small class="text-muted h5" th:text="${se.nomSessionEpreuve + ' le ' + #dates.format(se.dateExamen, 'dd-MM-yyyy') +
					#dates.format(se.heureEpreuve, ' HH:mm') +  #dates.format(se.finEpreuve, '  - HH:mm') + ' à ' + se.campus.site}"></small>
			        <small class="text-muted h5" th:if="${se.dateFin != null}" th:text="${' - Fin le ' + #dates.format(se.dateFin, 'dd-MM-yyyy')}"></small>
			        <span class="font-weight-bold text-danger" th:text="${se.statutSession.key eq 'CLOSED'} ? ' -- Session cloturée'"></span>	
		    	</div>
  				<div class="card-body">
					<dl class="row">
			            <dt class="col-sm-2">Lieu</dt>
			            <dd class="col-sm-10" th:text="${sessionLocation.location.nom}"></dd>
			            <dt class="col-sm-2">Priorité</dt>
			            <dd class="col-sm-10" th:text="${sessionLocation.priorite}"></dd>   
			            <dt class="col-sm-2">Temps aménagé</dt>
			            <dd class="col-sm-10"><i th:class="${sessionLocation.isTiersTempsOnly} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></dd> 
			            <dt class="col-sm-2">Capacité</dt>
			            <dd class="col-sm-10" th:text="${sessionLocation.capacite}"></dd>
					</dl>
                </div>
           	</div>
		</div>		
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
