<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid" id="assiduitePage">
			<div class="card">
				<div class="card-header">
					<div class="row">
		    			<div class="col">
				    		<h2>Assiduité</h2>
				   		</div>
				   		<div class="col">
		    				<div class="row float-end">
		    					<a class=" contextualHelp" data-bs-toggle="tooltip" title="En vert : session émargée en tant que personne connue
		    					En orange : session émargée par erreur ou dans la mauvaise salle.">
		                    		<i class="fas fa-question-circle"></i></a>
		    				</div>
		    			</div>
	    			</div>
			   </div>
  				<div class="card-body">
  					<form th:action="@{|/${eContext}/manager/individu|}" id="formSearch">
						<div class="row">
							<div class="col">
								<select class="form-select" id="searchAbsences" name="searchAbsences">
									<option>--- Choisir les absences ---</option>
									<option value="week" th:selected="${choice eq 'week'}">Absences de cette semaine</option>
									<option value="month" th:selected="${choice eq 'month'}">Absences du mois</option>
									<option value="year" th:selected="${choice eq 'year'}">Absences de l'année universitaire</option>
									<option value="exempt" th:selected="${choice eq 'exempt'}">Absences justifiées</option>
								</select>
							</div>
							<div class="col">
								<input type="text" placeholder="Recherche Session" name="sessionEpreuve" value="" 
									class="form-control form-control-underlined border-primary" id="searchSession" >
							</div>	
							<div class="col">
								<input type="text" placeholder="Recherche Inscrit" name="eppnTagCheck" value="" 
									class="form-control form-control-underlined border-primary" id="searchIndividuTagCheck" >
							</div>
							<div class="col">
								<input type="text" placeholder="Recherche Groupe" name="idGroupe" value="" 
									class="form-control form-control-underlined border-primary" id="searchIndividuGroupe" >
							</div>							
							<div class="col">
								<input type="text" placeholder="Recherche Surveillant" name="eppnTagChecker" value="" 
									class="form-control form-control-underlined border-primary" id="searchIndividuTagChecker" >
							</div>
						</div>
					</form>
					<div th:if="${not #lists.isEmpty(tagChecksPage)}">
						<div class="alert alert-info mt-2" th:if="${#ctx.containsVariable('individu')}">
							<strong>Inscriptions : </strong>
							<span th:if="${individu.person !=null}"  th:text="${ ' ' + individu.person.prenom + ' ' + individu.person.nom + ', ' + individu.person.eppn}"></span>
							<span th:if="${individu.guest !=null }"  th:text="${ ' ' + individu.guest.prenom + ' ' + individu.guest.nom + ', ' + individu.guest.email}"></span>
							<span th:if="${individu.person !=null && individu.person.numIdentifiant!=null}" th:text="${' -- N°' + individu.person.numIdentifiant}"></span>
						</div>
						<div class="alert alert-light">
							<table class="table table-hover table-striped table-bordered assiduite" 
							th:attr="data-export-title=${(individu.person !=null)? individu.person.eppn +  '_par_annee': individu.guest.email +  '_par_annee' }" style="width:100%">
								<thead class="sticky-top">
									<tr>
										<th scope="col">Année</th>
										<th scope="col" class="text-center">Total Sessions</th>
										<th scope="col" class="text-center">Présence Totale</th>
										<th scope="col" class="text-center">Taux présence</th>
										<th scope="col" class="text-center">Détail présence</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="assiduite : ${assiduiteList}">
										<td th:text="${assiduite.anneeUniv}"></td>
										<td class="text-center" th:text="${assiduite.totalSession}"></td>
										<td class="text-center" th:text="${assiduite.nbPresent}"></td>
										<td class="text-center">
											<span  th:text="${assiduite.percentPresent + ' %'}"></span>
										</td>
										<td class="text-center">
											<span th:text="${assiduite.detailPerence}"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="row input-daterange mb-2">
							<div class="col-md-4">
								<input type="text" class="form-control" id="min" name="min" placeholder="Date début" readonly />
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control" id="max" name="max" placeholder="Date fin" readonly />
							</div>
						</div>
					<table class="table table-hover table-striped table-bordered assiduite2"
							th:attr="data-export-title=${individu.person.eppn +  '_details_par_annee'}" style="width:100%">
							<thead class="sticky-top">
								<tr>
									<th scope="col">Année</th>
									<th scope="col">Session</th>
									<th scope="col">Type</th>
									<th scope="col">Groupe</th>
									<th scope="col" class="dateItem">Date</th>
									<th scope="col">Tiers-temps</th>
									<th scope="col">Exempté</th>
									<th th:if="${isConvocationEnabled}" scope="col">Envoi convocation</th>								
									<th scope="col">Emargement</th>
									<th scope="col">Repartition</th>
									<th scope="col" class="dateItem">Date</th>
									<th scope="col">Surveillant</th>
									<th scope="col" class="exclude">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tagCheck : ${tagChecksPage}" th:id="${tagCheck.id}"  th:classappend="${(tagCheck.typeEmargement!=null and !tagCheck.isUnknown? 'table-success' : '') +
										(tagCheck.isUnknown and !tagCheck.sessionEpreuve.isSessionLibre? 'table-warning' : '')}">
									<td th:text="${tagCheck.sessionEpreuve.anneeUniv}"></td>
									<td> 
										<a th:href="@{/{ctx}/manager/individu?sessionEpreuve={id}(id=${tagCheck.sessionEpreuve.id},ctx=${eContext})}" th:text="${tagCheck.sessionEpreuve.nomSessionEpreuve}"></a>
									</td>
									<td th:text="${tagCheck.sessionEpreuve.typeSession.key}"></td>
									<td>
										<span th:if="${tagCheck.person != null}" th:text="${#strings.listJoin(tagCheck.person.groupes.![nom], ',')}"></span>
									</td>
									<td>
										<span th:text="${#dates.format(tagCheck.sessionEpreuve.dateExamen, 'dd/MM/yy')}"></span>
									</td>	
									<td th:attr="data-filter=${(tagCheck.isTiersTemps!=null and tagCheck.isTiersTemps)? 'Oui' : ''}"><i th:if="${tagCheck.isTiersTemps}" class="fa fa-check text-success"></i></td>
									<td th:attr="data-filter=${(tagCheck.isExempt!=null and tagCheck.isExempt)? 'Oui' : ''}"><i th:if="${tagCheck.isExempt}" class="fa fa-check text-success"></i></td>
									<td th:if="${isConvocationEnabled}" th:text="${#dates.format(tagCheck.dateEnvoiConvocation, 'dd-MM-yy HH:mm')}"></td>
									<td class="center checkedByCard" th:attr="data-filter=${tagCheck.typeEmargement}">
											<span th:if= "${tagCheck.typeEmargement!=null} "  th:switch="${#strings.toString(tagCheck.typeEmargement.name())}">
												<i th:case="'CARD'" class="fas fa-id-card text-primary h4" title ="Carte"></i>
												<i th:case="'MANUAL'" class="fas fa-check-square text-success" title="Manuel"></i>
												<i th:case="'QRCODE'" class="fas fa-qrcode text-secondary" title="QrCode"></i>
												<i th:case="'QRCODE_SESSION'" class="fas fa-qrcode text-primary" title="QrCode de session"></i>
												<i th:case="'QRCODE_USER'" class="fas fa-qrcode text-danger" title="QrCode participant"></i>
												<i th:case="'QRCODE_CARD'" class="fas fa-qrcode text-warning" title="QrCode carte"></i>												
												<i th:case="'LINK'" class="fas fa-link text-info" title="Lien"></i>
											 </span>
									</td>
									<td th:text="${tagCheck.sessionLocationExpected != null} ? ${tagCheck.sessionLocationExpected.location.nom}"></td>
									<td th:text="${#dates.format(tagCheck.tagDate, 'dd-MM-yy HH:mm')}"></td>
									<td th:text="${(tagCheck.tagChecker!=null)? tagCheck.tagChecker.userApp.eppn : ''}"></td>
									<td class="center">
										<a th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${tagCheck.sessionEpreuve.id},ctx=${eContext})}" title ="Voir session">
											<i class="fa fa-list text-primary ms-2"></i></a>											
										<a th:if="${tagCheck.tagDate != null}" 
										  	th:href="@{/{ctx}/manager/individu/attestation/preview/{id}(id=${tagCheck.id},ctx=${eContext})}" title ="Voir l'attestation">
											<i class="fa-solid fa-file-pdf text-info ms-2" ></i></a>
										<a th:if="${isEsupSignatureEnabled and tagCheck.tagDate != null and mapTc.get(tagCheck.id) ==null}" 
											th:href="@{/{ctx}/manager/individu/attestation/{id}(id=${tagCheck.id},ctx=${eContext})}" title ="Signer attestation">
											<i class="fa-solid fa-file-pdf text-danger ms-2" ></i></a>											
										<a th:if="${isEsupSignatureEnabled and mapTc.get(tagCheck.id) !=null and 
												mapTc.get(tagCheck.id).statutSignature.name() ne 'ENDED' }" 
											th:href="@{/{ctx}/manager/esupsignature/status/{signId}?from={eppn}
												(signId=${mapTc.get(tagCheck.id).signRequestId},ctx=${eContext}, eppn=${tagCheck.person.eppn})}"
											title ="Récupérer d'esup-signature">
											<i class="fa fa-refresh text-primary ms-2"></i></a>
										<a th:if="${mapTc.get(tagCheck.id)!=null and mapTc.get(tagCheck.id).storedFileId != null}" target="_blank" 
										th:href="@{/{ctx}/manager/sessionEpreuve/{id}/photo(id=${mapTc.get(tagCheck.id).storedFileId},ctx=${eContext})}">
											<i class="fa-solid fa-file-pdf text-success ms-2" title ="Voir attestation signée"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:if="${not #lists.isEmpty(sePage)}">
						<div class="alert alert-info mt-2 row" th:if="${#ctx.containsVariable('groupe')}">
							<div class="col"><strong>Groupe : </strong>
								<span th:text="${groupe.nom + ' [' + groupe.anneeUniv + ']  -- Sessions'}"></span>
								<a th:href="@{/{ctx}/manager/individu?idGroupe={groupeId}(groupeId=${groupe.id},ctx=${eContext})}" class="ms-2 btn btn-sm btn-outline-primary">Voir membres</a>
							</div>
						</div>
						<table class="table assiduite" style="width:100%" th:attr="data-export-title=${groupe.nom + ' [' + groupe.anneeUniv + ']'}">
							<thead>
								<tr>
									<th class="dateItem">Date</th>
									<th>Session</th>
									<th>Type</th>
									<th class="exclude">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="se : ${sePage}">
									<td>
										<span th:text="${#dates.format(se.dateExamen, 'dd/MM/yy')}"></span><br/>
										<span th:if="${se.dateFin != null}" th:text="${#dates.format(se.dateFin,'dd/MM/yy')}"></span>
									</td>
									<td th:text="${se.nomSessionEpreuve}"></td>
									<td th:text="${se.typeSession.libelle}"></td>
									<td><a th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${se.id},ctx=${eContext})}" title ="Voir session">
										<i class="fa fa-eye text-primary"></i></a></td>
								</tr>
							</tbody>
						</table>		
					</div>
					<div th:if="${not #lists.isEmpty(tagCheckersPage)}">
						<div class="alert alert-info mt-2" th:if="${#ctx.containsVariable('individu')}">
							<strong>Surveillant : </strong>
							<span th:text="${ ' ' + individu.userApp.prenom + ' ' + individu.userApp.nom+ ', ' + individu.userApp.eppn}"></span>
						</div>						
						<table class="table table-hover table-striped table-bordered assiduite" style="width:100%" 
							th:attr="data-export-title=${'surveillant_' + individu.userApp.eppn}">
							<thead>
								<tr>
									<th scope="col">Session</th>
									<th scope="col">Lieu</th>
									<th scope="col">Site</th>
									<th scope="col" class="dateItem">Date</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tagChecker : ${tagCheckersPage}">
									<td> 
										<a th:href="@{/{ctx}/manager/individu?sessionEpreuve={id}(id=${tagChecker.sessionEpreuve.id},ctx=${eContext})}" 
											th:text="${tagChecker.sessionEpreuve.nomSessionEpreuve}"></a>
									</td>
									<td th:text="${tagChecker.sessionLocation.location.nom + '  (' + tagChecker.sessionLocation.location.capacite + ' places)'}"></td>
									<td th:text="${tagChecker.sessionLocation.location.campus.site}"></td>
									<td>
										<span th:text="${#dates.format(tagChecker.sessionEpreuve.dateExamen, 'dd/MM/yy')}"></span><br/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:if="${not #lists.isEmpty(usersGroupePage)}">
						<div class="alert alert-info mt-2 row" th:if="${#ctx.containsVariable('groupe')}">
							<div class="col"><strong>Groupe : </strong>
								<span th:text="${groupe.nom + ' [' + groupe.anneeUniv + ']'}"></span>
								<a th:href="@{/{ctx}/manager/individu?sessions={groupeId}(groupeId=${groupe.id},ctx=${eContext})}" class="ms-2 btn btn-sm btn-primary">Voir sessions</a>
							</div>
						</div>
						<table class="table table-hover table-striped table-bordered assiduite" style="width:100%" 
							th:attr="data-export-title=${groupe.nom + ' [' + groupe.anneeUniv + ']'}">
							<thead>
								<tr>
									<th scope="col">Nom</th>
									<th scope="col">Prénom</th>
									<th scope="col" >N° étudiant</th>									
									<th scope="col" >Type</th>
									<th scope="col" >Total Sessions</th>
									<th scope="col" >Présence Totale</th>
									<th scope="col" class="text-center">Taux présence</th>
									<th scope="col" >Détail présence</th>
									<th scope="col" class="exclude">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="assiduite: ${assiduiteMap}" > 
									<td th:text="${assiduite.key.nom}"></td>
									<td th:text="${assiduite.key.prenom}"></td>
									<td th:text="${assiduite.key.numIdentifiant}"></td>
									<td th:text="#{person.type  + '.' + ${assiduite.key.type}}"></td>
									<td th:text="${assiduite.value.totalSession}"></td>
									<td th:text="${assiduite.value.nbPresent}"></td>
									<td class="text-center">
										<span  th:text="${assiduite.value.percentPresent + ' %'}"></span>
									</td>
									<td th:text="${assiduite.value.detailPerence}"></td>
									<td class="text-center"><a th:href="@{/{ctx}/manager/individu?eppnTagCheck={eppn}(eppn=${assiduite.key.eppn}, ctx=${eContext})}"><i class="fa fa-eye text-primary"></i></a>
									</td>									
								</tr>
							</tbody>
						</table>						
					</div>
					<div class="alert alert-info mt-2 row" th:if="${#ctx.containsVariable('activite')}">
						<div class="col fw-bold"><strong>Activité : </strong>
							<span th:text="${activite.nomSessionEpreuve + #dates.format(activite.dateExamen, ' dd/MM/yy') + 
													#dates.format(activite.heureEpreuve, ' HH:mm') + '-' + #dates.format(activite.finEpreuve, 'HH:mm')}"></span>
							 <span class="badge text-bg-success ms-3"><span th:text="${nbBadgeage}"></span> / <span th:text="${#lists.size(activitePage)}"></span></span>
						</div>
					</div>
					<div th:if="${#lists.isEmpty(activitePage) and #ctx.containsVariable('activite')}">
					 Aucun inscrit dans cette session.
					</div>
					<div th:if="${not #lists.isEmpty(activitePage)}">
						<table class="table table-hover table-striped table-bordered table-sm assiduite" style="width:100%" th:attr="data-export-title=${activite}">
							<thead>
								<tr>
									<th>Civilité</th>
									<th>Nom</th>
									<th>Prénom</th>
									<th>Num Etu</th>
									<th>Groupe</th>
									<th class="text-center">Emargement</th>
									<th class="text-center">Exempt</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tc : ${activitePage}" th:with="individu=(${(tc.person != null) ? tc.person : tc.guest})">
									<td th:text="${individu.civilite}"></td>
									<td th:text="${individu.nom}"></td>
									<td th:text="${individu.prenom}"></td>
									<td th:text="${(tc.person ne null)? tc.person.numIdentifiant : tc.guest.email}"></td>
									<td th:text="${#strings.listJoin(individu.groupes.![nom], ',')}"></td>
									<td class="text-center" th:text="${(tc.tagDate!=null)?  'Présent' : ''}"></td>
									<td class="text-center" th:text="${(tc.isExempt)? 'Exempt' : ''}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:if="${#lists.isEmpty(absencesPage)}" class="mt-3">
						Aucune absence sur cette période.
					</div>
					<div th:if="${not #lists.isEmpty(absencesPage)}" class="mt-3">
						<table class="table table-hover table-striped table-bordered table-sm assiduite" style="width:100%" th:attr="data-export-title=${activite}">
							<thead>
								<tr>
									<th>Session</th>
									<th>Date</th>
									<th>Début</th>
									<th>Fin</th>
									<th>Civilité</th>
									<th>Nom</th>
									<th>Prénom</th>
									<th>Num Etu</th>
									<th>Groupe</th>
									<!-- >th class="text-center">Surveillant</th-->
									<th class="text-center">Exempt</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tc : ${absencesPage}" th:with="individu=${(tc.person != null) ? tc.person : tc.guest},
									sessionEpreuve=${tc.sessionEpreuve}">
									<td>
										<a th:href="@{/{ctx}/manager/individu?sessionEpreuve={id}(id=${sessionEpreuve.id},ctx=${eContext})}" 
											th:text="${sessionEpreuve.nomSessionEpreuve}"></a>
									</td>
									<td th:text="${#dates.format(sessionEpreuve.dateExamen, 'dd/MM/yy')}"></td>
									<td th:text="${#dates.format(sessionEpreuve.heureEpreuve, 'HH:mm')}"></td>
									<td th:text="${#dates.format(sessionEpreuve.finEpreuve, 'HH:mm')}"></td>
									<td th:text="${individu.civilite}"></td>
									<td>
										<a th:href="@{/{ctx}/manager/individu?eppnTagCheck={eppn}(eppn=${individu.eppn}, ctx=${eContext})}"><span th:text="${individu.nom}"></span></a>
									</td>
									<td th:text="${individu.prenom}"></td>
									<td th:text="${(tc.person ne null)? tc.person.numIdentifiant : tc.guest.email}"></td>
									<td th:text="${#strings.listJoin(individu.groupes.![nom], ',')}"></td>
									<!-- >td class="text-center" th:text="${#strings.toUpperCase(tc.tagChecker.userApp.nom) + ' ' + tc.tagChecker.userApp.prenom}"></td-->
									<td class="text-center" th:text="${(tc.isExempt)? 'Exempt' : ''}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
  			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>