<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
			<div class="card">
  				<div class="card-body">
  					<h2>Individus</h2>
  					<form action="#" th:action="@{|/${eContext}/manager/individu|}" id="formSearch">
						<div class="form-row">
							<div class="col">
								<input type="text" placeholder="Recherche Inscrit" name="eppnTagCheck" value="" 
									class="form-control form-control-underlined border-primary" id="searchIndividuTagCheck" >
							</div>
							<div class="col">
								<input type="text" placeholder="Recherche Surveillant" name="eppnTagChecker" value="" 
									class="form-control form-control-underlined border-primary" id="searchIndividuTagChecker" >
							</div>
						</div>
					</form>
					<div th:if="${not #lists.isEmpty(tagChecksPage)}">
						<div class="alert alert-info mt-2" th:if="${#ctx.containsVariable('individu')}">
							<strong>Inscriptions : </strong>
							<span th:text="${ ' ' + individu.person.prenom + ' ' + individu.person.nom + ', ' + individu.person.eppn}"></span>
							<span th:if="${ individu.person.numIdentifiant!=null}" th:text="${' -- N°' + individu.person.numIdentifiant}"></span>
						</div>
						<table class="table table-hover table-striped table-bordered" id="tableTagChecks">
							<thead>
								<tr>
									<th scope="col"><a class="sorted" sd:pagination-sort="sessionEpreuve">Session</a></th>
									<th scope="col"><a class="sorted" sd:pagination-sort="sessionEpreuve">Date</a></th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell">Tiers-temps</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Envoi convocation</th>								
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="sessionLocationExpected">Repartition</a></th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="tagDate">Badgeage</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="tagChecker">Surveillant</a></th>
									<th scope="col">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tagCheck : ${tagChecksPage}" th:id="${tagCheck.id}">
									<td th:text="${tagCheck.sessionEpreuve.nomSessionEpreuve}"></td>
									<td th:text="${#dates.format(tagCheck.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></td>	
									<td class="text-center d-none d-lg-table-cell d-xl-table-cell"><i th:class="${tagCheck.isTiersTemps} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></td>
									<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${#dates.format(tagCheck.dateEnvoiConvocation, 'dd-MM-yyyy HH:mm')}"></td>								
									<td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${tagCheck.sessionLocationExpected != null} ? ${tagCheck.sessionLocationExpected.location.nom}"></td>
									<td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${#dates.format(tagCheck.tagDate, 'dd-MM-yyyy HH:mm')}"></td>
									<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${(tagCheck.tagChecker!=null)? tagCheck.tagChecker.userApp.eppn : ''}"></td>
									<td><a th:href="@{/{ctx}/manager/tagCheck/{id}(id=${tagCheck.id},ctx=${eContext})}" class="center"><i class="fa fa-eye text-primary"></i></a></td>
								</tr>
							</tbody>
						</table>
						<nav th:replace="fragments/pagination :: pagination"></nav>
					</div>
					<div th:if="${not #lists.isEmpty(tagCheckersPage)}">
						<div class="alert alert-info mt-2" th:if="${#ctx.containsVariable('individu')}">
							<strong>Surveillant : </strong>
							<span th:text="${ ' ' + individu.userApp.prenom + ' ' + individu.userApp.nom+ ', ' + individu.userApp.eppn}"></span>
						</div>						
						<table class="table table-hover table-striped table-bordered">
							<thead>
								<tr>
									<th scope="col"><a class="sorted" sd:pagination-sort="sessionLocation.sessionEpreuve">Session</a></th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="sessionLocation.location">Lieu</a></th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="sessionLocation.campus">Site</a></th>
									<th scope="col"><a class="sorted" sd:pagination-sort="sessionEpreuve.dateExamen">Date</a></th>
									<th scope="col">Voir</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="tagChecker : ${tagCheckersPage}">
									<td th:text="${tagChecker.sessionEpreuve.nomSessionEpreuve}"></td>
									<td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"  th:text="${tagChecker.sessionLocation.location.nom + '  (' + tagChecker.sessionLocation.location.capacite + ' places)'}"></td>
									<td class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell" th:text="${tagChecker.sessionLocation.location.campus.site}"></td>
									<td th:text="${#dates.format(tagChecker.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></td>
									<td><a th:href="@{/{ctx}/manager/tagChecker/{id}(id=${tagChecker.id},ctx=${eContext})}" class="center"><i class="fa fa-eye text-primary"></i></a></td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
  			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>