<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
			<div class="card">
  				<div class="card-body">
  					<div class="card-header">
	    				<div class="row">
			    			<div class="col-lg-2">
					    		<h2>Participant</h2>
					   		</div>
					   </div>
					</div>
					<div th:if="${not #lists.isEmpty(tagChecksPage)}">
						<table class="table table-hover table-striped table-bordered" id="tableSessionEpreuve">
							<thead class ="center sticky-top">
								<tr>
									<th scope="col"><a class="sorted" sd:pagination-sort="sessionEpreuve.dateExamen">Date</a></th>
									<th scope="col">Type</th>
									<th scope="col">Nom</th>
									<th scope="col" class ="hiddenBlock"><a class="sorted" sd:pagination-sort="sessionEpreuve.isSessionEpreuveClosed">Cloturée</a></th>
									<th scope="col" class="d-none d-xl-table-cell">Site</th>
									<th scope="col" class="d-none d-xl-table-cell">Lieu</th>
									<th scope="col" class="d-none d-xl-table-cell">Présent</th>
									<th scope="col" class=" hiddenBlock" >Plan</th>
									<th scope="col" class="d-none d-xl-table-cell">Convocation</th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell">Début</th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell">Fin</th>
								</tr>
							</thead>
							<tbody class ="center">
								<tr th:each="tc : ${tagChecksPage}" th:classappend="${tc.sessionEpreuve.isSessionEpreuveClosed} ? table-danger : ''" th:id="${tc.sessionEpreuve.id}" >
									<td th:text="${#dates.format(tc.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}">Date</td>
									<td th:text="${tc.sessionEpreuve.typeSession.libelle}" class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${tc.sessionEpreuve.nomSessionEpreuve}"></td>
									<td class ="text-center hiddenBlock"><i th:class="${tc.sessionEpreuve.isSessionEpreuveClosed} ? 'fa fa-check text-success' :''"></i></td>
									<td th:text="${tc.sessionEpreuve.campus.site}" class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${(tc.sessionLocationExpected != null)? tc.sessionLocationExpected.location.nom : ''}" ></td>
									<td class ="text-center hiddenBlock"><i th:class="${tc.tagDate!=null} ? 'fa fa-check text-success' :''"></i></td>
									<td class ="text-center hiddenBlock"><a target="_blank" th:href="@{/{ctx}/manager/file/{id}(id=${tc.sessionEpreuve.planSessionEpreuve.id},ctx=${eContext})}" 
										th:if="${tc.sessionEpreuve.planSessionEpreuve != null}"><i class="fa fa-file"></i></a></td>		
									<td th:text="${#dates.format(tc.sessionEpreuve.heureConvocation, 'HH:mm')}" class="d-none d-xl-table-cell"></td>
									<td th:text="${#dates.format(tc.sessionEpreuve.heureEpreuve, 'HH:mm')}" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${#dates.format(tc.sessionEpreuve.finEpreuve, 'HH:mm')}" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					<nav th:replace="fragments/pagination :: pagination"></nav>
				</div>
			</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
