<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
	        <div class="card">
		    	<div class="card-header"><h2>Participant</h2></div>
	 				<div class="card-body">
					<dl class="row">
						<dt class="col-sm-2">Date <button class="btn btn-sm btn-secondary ms-2" title="qrCode de participation" 
							data-bs-toggle="modal" th:attr="data-bs-target=${'#qrCodeModal' + tc.id}"  
							 th:if="${#dates.createToday().equals(tc.sessionEpreuve.dateExamen)
									or (tc.sessionEpreuve.dateFin!=null and #dates.createToday().equals(tc.sessionEpreuve.dateFin))
									or (tc.sessionEpreuve.dateFin!=null
                                        and #dates.createToday().after(tc.sessionEpreuve.dateExamen)
                                        and #dates.createToday().before(tc.sessionEpreuve.dateFin))
								 	and tc.sessionLocationBadged == null and isUserQrCodeEnabled}">
							<i class="fas fa-qrcode"></i></button></dt>
						<dd class="col-sm-10" >
							<span th:text="${#dates.format(tc.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span>
							<span th:text="${#dates.format(tc.sessionEpreuve.dateFin, 'dd-MM-yyyy')}"></span>
						</dd>
			            <dt class="col-sm-2">Type</dt>
			            <dd class="col-sm-10" th:text="${tc.sessionEpreuve.typeSession.libelle}"></dd>   
			            <dt class="col-sm-2">Nom</dt>
			            <dd class="col-sm-10" th:text="${tc.sessionEpreuve.nomSessionEpreuve}"></dd>   
			            <dt class="col-sm-2">Site</dt>
			            <dd class="col-sm-10" th:text="${tc.sessionEpreuve.campus.site}"></dd>
			            <dt class="col-sm-2">Lieu</dt>
			            <dd class="col-sm-10" th:text="${(tc.sessionLocationExpected != null)? tc.sessionLocationExpected.location.nom : ''}" ></dd>
			            <dt class="col-sm-2">Emargement</dt>     
			            <dd th:if="${tc.isExempt}" class="text-danger fw-bold text-center hiddenBlock">Exempt</dd>
						<dd class="col-sm-10" th:unless="${tc.isExempt}">
							<span th:if="${tc.typeEmargement!=null}"
								th:switch="${#strings.toString(tc.typeEmargement.name())}">
								<i th:case="'CARD'" class="fas fa-id-card text-primary h4" title ="Carte"></i>
								<i th:case="'MANUAL'" class="fas fa-check-square text-success" title="Manuel"></i>
								<i th:case="'QRCODE'" class="fas fa-qrcode text-secondary" title="QrCode"></i>
								<i th:case="'LINK'" class="fas fa-link text-info" title="Lien"></i>
							</span>
						</dd>
			            <dt class="col-sm-2">Convocation</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.heureConvocation, 'HH:mm')}" ></dd>  
			            <dt class="col-sm-2">Début</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.heureEpreuve, 'HH:mm')}" ></dd>
			             <dt class="col-sm-2">Fin</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.finEpreuve, 'HH:mm')}" ></dd>
					</dl>
				</div>
				<div class="modal" th:attr="id=${'qrCodeModal' + tc.id}" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><span th:text="${tc.sessionEpreuve.nomSessionEpreuve}"></span>, <span th:text="${#dates.format(tc.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<img th:if="${tc.sessionLocationExpected != null}" th:src="@{${'/' + tc.context.key  + '/user/qrCode/' + tc.person.eppn + '/' + tc.sessionLocationExpected.id}}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
