<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid" id="userPage">
	        <div class="card">
				<div class="card-header">
    				<div class="row">
		    			<div class="col">
				    		<h2><span th:class="text-capitalize" th:text="${#strings.toLowerCase(participantTerme)}"></span></h2>
				   		</div>
				   		<div class="col">
		    				<div class="row float-end">
		    					<a class=" contextualHelp" data-bs-toggle="tooltip" title="En vert : session émargée en tant que personne connue
		    					En orange : session émargée par erreur ou dans la mauvaise salle.">
		                    		<i class="fas fa-question-circle"></i></a>
		    				</div>
		    			</div>
				   </div>
				</div>
	 			<div class="card-body">
					<dl class="row" th:classappend="${(tc.typeEmargement!=null and !tc.isUnknown? 'bg-success-subtle' : '') +
										(tc.isUnknown ? 'bg-warning-subtle' : '')}">
						<dt class="col-sm-2">Date 
							<th:block th:if="${isuserQrCodeEnabled}"}>
								<span th:if="${#dates.createToday().equals(tc.sessionEpreuve.dateExamen)
										or (tc.sessionEpreuve.dateFin!=null and #dates.createToday().equals(tc.sessionEpreuve.dateFin)) 
										or (tc.sessionEpreuve.dateFin!=null 
	                                    and #dates.createToday().after(tc.sessionEpreuve.dateExamen) 
	                                    and #dates.createToday().before(tc.sessionEpreuve.dateFin)) 
									 	and tc.sessionLocationBadged == null }">
									 <button class="btn btn-sm btn-secondary ms-2 qrCodeUserDisplay" title="qrCode de participation" 
								data-bs-toggle="modal" th:attr="data-bs-target=${'#qrCodeModal' + tc.id}" >
								<i class="fas fa-qrcode"></i></button></span>
							</th:block>
						</dt>
						<dd class="col-sm-10" >
							<span th:text="${#dates.format(tc.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span>
							<span th:text="${#dates.format(tc.sessionEpreuve.dateFin, 'dd-MM-yyyy')}"></span>
						</dd>
			            <dt class="col-sm-2">Type</dt>
			            <dd class="col-sm-10" th:text="${tc.sessionEpreuve.typeSession.libelle}"></dd>   
			            <dt class="col-sm-2">Nom</dt>
			            <dd class="col-sm-10">
				            <th:block th:text="${tc.sessionEpreuve.nomSessionEpreuve}"></th:block>
				            <th:block th:if="${tc.sessionEpreuve.statutSession.key eq 'CANCELLED'}"><span class="fw-bold text-danger">[Annulé]</span></th:block>
			            </dd>   
			            <dt class="col-sm-2">Site</dt>
			            <dd class="col-sm-10" th:text="${tc.sessionEpreuve.campus.site}"></dd>
			            <dt class="col-sm-2">Lieu</dt>
			            <dd class="col-sm-10" th:text="${(tc.sessionLocationExpected != null)? tc.sessionLocationExpected.location.nom : ''}" ></dd>
			            <dt class="col-sm-2">Emargement</dt>     
			            <dd th:if="${tc.absence != null and tc.absence.motifAbsence != null}" class="col-sm-10 fw-bold">
							<span th:if="${tc.absence !=null}">
						        <th:block th:if="${tc.absence.motifAbsence != null and tc.absence.motifAbsence.color ne null}">
						            <input class="colorBox" type="color" th:value="${tc.absence.motifAbsence.color}" disabled>
						        </th:block>
						        <th:block th:if="${tc.absence.motifAbsence != null}">
						            <span th:text="${tc.absence.motifAbsence.libelle}" class="align-middle ms-0"></span>
						        </th:block>
						    </span>      
				        </dd>
						<dd class="col-sm-10" th:if="${tc.absence eq null}">
							<span th:if="${tc.typeEmargement!=null}"
								th:switch="${#strings.toString(tc.typeEmargement.name())}">
								<i th:case="'CARD'" class="fas fa-id-card text-primary h4" title ="Carte"></i>
								<i th:case="'MANUAL'" class="fas fa-check-square text-success" title="Manuel"></i>
								<i th:case="'QRCODE'" class="fas fa-qrcode text-secondary" title="QrCode"></i>
								<i th:case="'QRCODE_SESSION'" class="fas fa-qrcode text-primary" title="QrCode de session"></i>
								<i th:case="'QRCODE_USER'" class="fas fa-qrcode text-danger" th:title="${'QrCode ' + participantTerme}"></i>
								<i th:case="'QRCODE_CARD'" class="fas fa-qrcode text-warning" title="QrCode carte"></i>							
								<i th:case="'LINK'" class="fas fa-link text-info" title="Lien"></i>
							</span>
						</dd>
			            <dt class="col-sm-2">Convocation</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.heureConvocation, 'HH:mm')}" ></dd>  
			            <dt class="col-sm-2">Début</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.heureEpreuve, 'HH:mm')}" ></dd>
			             <dt class="col-sm-2">Fin</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(tc.sessionEpreuve.finEpreuve, 'HH:mm')}" ></dd>
					</dl>
				</div>
				<div class="modal" th:id="${'qrCodeModal' + tc.id}" tabindex="-1" role="dialog" th:if="${tc.sessionLocationExpected != null}"
					data-th-attr="data-eppn=${tc.person.eppn}, data-session=${tc.sessionLocationExpected.id}, data-bs-target=${'#qrCodeModal' + tc.id}">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><span th:text="${tc.sessionEpreuve.nomSessionEpreuve}"></span>, <span th:text="${#dates.format(tc.sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body center">
								<span class="fw-bold" th:text="${name}"></span>
								<img th:id="${'imgQrCodeUser' + tc.id}" th:if="${tc.sessionLocationExpected != null and tc.person!=null}" alt="QrcOde" src=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
