<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/images/favicons/apple-touch-icon.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/resources/images/favicons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/resources/images/favicons/favicon-16x16.png}">
		<link rel="manifest" th:href="@{/resources/images/favicons/site.webmanifest}">
		<link rel="mask-icon" th:href="@{/resources/images/favicons/safari-pinned-tab.svg}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<script>
		/*<![CDATA[*/
        emargementContextUrl = '[[@{/{ctx}(ctx=${eContext})}]]';
        selectAll='[[${selectAll}]]';
        rootUrl='[[@{/}]]';
		seId='[[${seId}]]';
		typePj='[[${typePj}]]';
		currentLocation = '[[${currentLocation}]]';
		category6 = '[[${category6}]]';
		qrcodeChange = '[[${qrcodeChange}]]';
		triBadgeage = '[[${triBadgeage}]]';
		datesRangeSelect = '[[${datesRangeSelect}]]';
		scrollTop = '[[${scrollTop}]]';
		eppnAuth = '[[${eppnAuth}]]';
   		 /*]]>*/
		</script>
		
		<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
		<script th:src="@{/webjars/awesomplete/awesomplete.min.js}"></script>
		<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{/webjars/chartjs/dist/chart.umd.js}"></script>
		<script th:src="@{/webjars/fullcalendar/main.min.js}"></script>
		<script th:src="@{/webjars/fullcalendar/locales/fr.js}"></script>
		<script th:src="@{/webjars/momentjs/min/moment.min.js}"></script>
		<script th:src="@{/webjars/momentjs/locale/fr.js}"></script>
		<script th:src="@{/webjars/slim-select/dist/slimselect.min.js}"></script>
		<script th:src="@{/webjars/jsqr/dist/jsQR.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/fileinput.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/js/locales/fr.js}"></script>
		<script th:src="@{/webjars/bootstrap-fileinput/themes/fa5/theme.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-input-spinner/src/bootstrap-input-spinner.js}"></script>
		<script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}"></script>
		<script th:src="@{/webjars/datatables-responsive/js/dataTables.responsive.min.js}"></script>
		<script th:src="@{/webjars/datatables-plugins/i18n/fr-FR.js}"></script>
		<script th:src="@{/webjars/datatables-plugins/sorting/date-eu.js}"></script>
		<script th:src="@{/webjars/datatables-plugins/sorting/datetime-moment.js}"></script>
		<!--ordre important<-->
		<script th:src="@{/webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
		<script th:src="@{/webjars/datatables.net-datetime/dist/dataTables.dateTime.min.js}"></script>
		<script th:src="@{/webjars/jszip/jszip.min.js}"></script>
		<script th:src="@{/webjars/pdfmake/build/pdfmake.min.js}"></script>
		<script th:src="@{/webjars/pdfmake/build/vfs_fonts.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/js/buttons.bootstrap5.min.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/js/buttons.html5.min.js}"></script>
		<script th:src="@{/webjars/datatables-buttons/js/buttons.print.min.js}"></script>
		<script th:src="@{/webjars/jstree/jstree.min.js}"></script>
		<script type="module" th:src="@{/webjars/bootstrap5-tags/tags.min.js}"></script>
		<script type="module">
      	import Tags from "/webjars/bootstrap5-tags/tags.min.js";
     	Tags.init(".initTags");
		</script>
		<script th:src="@{/webjars/suneditor/dist/suneditor.min.js}"></script>
		<script th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>
		<script th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
		<script th:src="@{/webjars/jquery-minicolors/jquery.minicolors.min.js}"></script>
		<script th:src="@{/resources/js/sol.js}"></script>
		<script th:src="@{/resources/js/app.js}"></script>
		<!--script th:src="@{/resources/js/test.js}"></script-->
		
		<link th:href="@{/webjars/awesomplete/awesomplete.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/font-awesome/css/all.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/fullcalendar/main.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/slim-select/dist/slimselect.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap-fileinput/css/fileinput.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/datatables-responsive/css/responsive.dataTables.min.css}" rel="stylesheet">		
		<link th:href="@{/webjars/jstree/themes/default/style.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
		<link th:href="@{/webjars/datatables-buttons/css/buttons.dataTables.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/datatables.net-datetime/dist/dataTables.dateTime.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/suneditor/dist/css/suneditor.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}" rel="stylesheet">
		<link th:href="@{/webjars/jquery-minicolors/jquery.minicolors.css}" rel="stylesheet">
		<link th:href="@{/resources/css/sol.css}" rel="stylesheet">
		<link th:href="@{/resources/css/app.css}" rel="stylesheet">
		<title th:text="#{${'title.' + active}(${title},${surveillantTerme})}">Application Emargement</title>
	</head>
</html>