<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
	<head>
	</head>
	<body>
		<nav th:fragment="menu(activeMenu)" class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
			<div class="container-fluid">
				<span class="navbar-brand"><img th:src="@{/resources/images/logo.png}" width="200" class="d-inline-block align-top img-fluid" alt="URN"/><br />
				<span class = "titleNav" th:text="${title != null ? title : 'Esup-emargement'}"></span></span>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	 				<li class="nav-item mr-2"  th:if="${isAdmin or isManager}">
				     	<a class="nav-link" th:if="${eContext!='all'}" th:classappend="${active == 'dashboard'} ? 'active' : ''" th:href="@{/{ctx}/dashboard(ctx=${eContext})}"><i class="fas fa-home"></i></a>
				     </li>
	 				<li class="nav-item mr-2"  th:if="${isAdmin or isManager or isSupervisor or isUser}">
				     	<a class="nav-link" th:if="${eContext!='all'}" th:classappend="${active == 'user'} ? 'active' : ''" th:href="@{/{ctx}/user(ctx=${eContext})}">Participant</a>
				     </li>
			    	<li class="nav-item dropdown" th:if="${isAdmin or isManager or isSupervisor}">
				       	<a class="nav-link dropdown-toggle " th:classappend="${active == 'presence'} ? 'active font-weight-bold' : ''" href="#" id="navbarDropdown" role="button"  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				         <span th:class="text-capitalize" th:text="${#strings.toLowerCase('__#{role.supervisor}__')}"></span>
				       	</a>			      
				       	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				         <li><a class="dropdown-item" th:classappend="${active == 'presence'} ? 'active' : ''"  th:href="@{/{ctx}/supervisor/presence(ctx=${eContext})}">Emargement</a></li>
				       	</ul>			        
			     	</li>			        
				    <li class="nav-item dropdown" th:if="${isAdmin or isManager}">
				     	<a class="nav-link dropdown-toggle" 
				        		th:classappend="${active == 'tagChecker' or active == 'tagCheck' or active == 'stats'  or active == 'calendrier' 
				        						or active == 'sessionEpreuve' or active == 'sessionLocation' or active == 'individu' 
				        						or active == 'extraction' or active == 'person' or active == 'esupsignature' 
				        						or active == 'groupe' or active == 'adeCampus' or active == 'assiduite'
				        						or active == 'absence' or active == 'file'} ? 'active font-weight-bold' : ''" 
				        		href="#" id="navbarDropdown" role="button" 
				        		data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				          <span th:class="text-capitalize" th:text="${#strings.toLowerCase('__#{role.manager}__')}"></span>
				        </a>			      
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <li><a class="dropdown-item" th:classappend="${active == 'sessionEpreuve'} ? 'active' : ''" th:href="@{/{ctx}/manager/sessionEpreuve(ctx=${eContext})}">Sessions</a></li>
				          <li th:if="${isAdeCampusEnabled}"><a class="dropdown-item" th:classappend="${active == 'adeCampus'} ? 'active' : ''" th:href="@{/{ctx}/manager/adeCampus(ctx=${eContext})}">Ade Campus</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'extraction'} ? 'active' : ''" th:href="@{/{ctx}/manager/extraction(ctx=${eContext})}">Import/Export</a></li>
				          <li><hr class="dropdown-divider"></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'assiduite'} ? 'active' : ''" th:href="@{/{ctx}/manager/assiduite(ctx=${eContext})}">Assiduité</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'absence'} ? 'active' : ''" th:href="@{/{ctx}/manager/absence(ctx=${eContext})}">Absences</a></li>
				          <li><hr class="dropdown-divider"></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'individu'} ? 'active' : ''" th:href="@{/{ctx}/manager/individu(ctx=${eContext})}">Recherche</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'groupe'} ? 'active' : ''" th:href="@{/{ctx}/manager/groupe(ctx=${eContext})}">Groupes</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'calendrier'} ? 'active' : ''" th:href="@{/{ctx}/manager/calendar(ctx=${eContext})}">Calendrier</a></li>
				          <li><hr class="dropdown-divider"></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'file'} ? 'active' : ''" th:href="@{/{ctx}/manager/file(ctx=${eContext})}">Pièces jointes</a></li>
				          <li th:if="${isEsupSignatureEnabled}"><a class="dropdown-item" th:classappend="${active == 'esupsignature'} ? 'active' : ''" th:href="@{/{ctx}/manager/esupsignature(ctx=${eContext})}">Esup-signature</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'stats'} ? 'active' : ''" th:href="@{/{ctx}/manager/stats(ctx=${eContext})}">Statistiques</a></li>
				        </ul>			        
				     </li>
				     <li class="nav-item dropdown"th:if="${isAdmin}">
				        <a class="nav-link dropdown-toggle" th:classappend="${active == 'userApp' or active == 'location' 
				        						or active == 'campus'  or active == 'logs'
				        						or active == 'apps' or active == 'appliConfig'
				        						or active == 'typeSession' or active == 'archives'} ? 'active font-weight-bold' : ''" 
				        href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          <span th:class="text-capitalize" th:text="${#strings.toLowerCase('__#{role.admin}__')}"></span>
				        </a>
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" th:if="${isAdmin}">
			          	  <li><a class="dropdown-item" th:classappend="${active == 'userApp'} ? 'active' : ''" th:href="@{/{ctx}/admin/userApp(ctx=${eContext})}">Agents</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'campus'} ? 'active' : ''" th:href="@{/{ctx}/admin/campus(ctx=${eContext})}">Sites</a></li>		          
				          <li><a class="dropdown-item" th:classappend="${active == 'location'} ? 'active' : ''" th:href="@{/{ctx}/admin/location(ctx=${eContext})}">Lieux</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'typeSession'} ? 'active' : ''" th:href="@{/{ctx}/admin/typeSession(ctx=${eContext})}">Type session</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'logs'} ? 'active' : ''" th:href="@{/{ctx}/admin/logs(ctx=${eContext})}">Logs</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'appliConfig'} ? 'active' : ''" th:href="@{/{ctx}/admin/appliConfig(ctx=${eContext})}">Configurations</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'apps'} ? 'active' : ''" th:href="@{/{ctx}/admin/apps(ctx=${eContext})}">Applications</a></li>
				          <li><a class="dropdown-item" th:classappend="${active == 'archives'} ? 'active' : ''" th:href="@{/{ctx}/admin/archives(ctx=${eContext})}">Archives</a></li>
				        </ul>
				     </li>
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				     	<a class="nav-link" th:classappend="${active == 'context'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/context(ctx=${eContext})}">Contextes</a>
				      </li>
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				        <a class="nav-link" th:classappend="${active == 'admins'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/admins(ctx=${eContext})}">Agents</a>
				      </li>
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				        <a class="nav-link" th:classappend="${active == 'stats'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/stats(ctx=${eContext})}">Statistiques</a>
				      </li>			
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				        <a class="nav-link" th:classappend="${active == 'calendrier'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/calendar(ctx=${eContext})}">Calendrier</a>
				      </li>		      
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				      	<a class="nav-link" th:classappend="${active == 'logs'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/logs(ctx=${eContext})}">Logs</a>
				      </li>
					  <li class="nav-item mr-2"  th:if="${eContext=='all'}">
					   <a class="nav-link" th:classappend="${active == 'sessions'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/sessions(ctx=${eContext})}">Sessions</a>
					  </li>
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				      	<a class="nav-link" th:classappend="${active == 'help'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/help(ctx=${eContext})}">Aide</a>
				      </li>
				      <li class="nav-item mr-2"  th:if="${eContext=='all'}">
				      		<a class="nav-link" th:classappend="${active == 'su'} ? 'active' : ''" th:href="@{/{ctx}/superadmin/su(ctx=${eContext})}">SU</a>
				      </li>
				      <li th:if="${!#ctx.containsVariable('index') and !#ctx.containsVariable('noContext')}"  class="nav-item" sec:authorize="isAuthenticated()">
				      <a class="nav-link" href="#collapseHelp" role="button" data-bs-toggle="collapse"><i class="fas fa-question-circle"></i></a></li>
				     
			      </ul>
			       <span class="navbar-text text-info me-auto" id="nbImportSession"></span>
			      <div class="d-flex">
					  <form th:if="${not #lists.isEmpty(availableContexts)}" class="emargementContextForm me-2" th:action="@{/}">
							<select name="emargementContext" id="selectContext"
								class="form-select">
								<optgroup label="Contextes">
									<option th:each="c : ${availableContexts}" 
										th:text="${c}" 
										th:selected="${c==eContext}"></option>
								</optgroup>
								<optgroup label="Gestion"
									th:if="${isAdmin or isManager or isSupervisor}">
									<option th:value="@{/{ctx}/supervisor/prefs(ctx=${eContext})}">Ordre</option>
								</optgroup>
							</select>
						</form>
						<span><a class="btn btn-success fw-bold text-white px-3 py-2"
							sec:authorize="!isAuthenticated()" th:href="@{/login}">Connexion</a></span>
							<span><a class="btn btn-outline-success greenCustom mb-2 px-3 py-2"
							sec:authorize="isAuthenticated() and !hasRole('ROLE_PREVIOUS_ADMINISTRATOR')"
							th:href="@{/logout}">Déconnexion</a><br/>
							<span th:if="${!isSwitchUser}" class="text-white fw-bold" th:text="${name}"></span></span>
						<form
							sec:authorize="isAuthenticated() and hasRole('ROLE_PREVIOUS_ADMINISTRATOR')"
							th:action="@{/logout/switchUser}" id="formSu" method="post">
							<input type="submit" value="Déconnexion SU"
								class="btn btn-outline-danger redCustom mb-2 px-3 py-2" /><br/>
								<span class="text-white fw-bold me-2" th:text="${name}"></span>
						</form>
					</div>
			    </div>
			</div>
		</nav>
	</body>
</html>