body{
	padding-bottom: 50px;
}
form label{
	font-weight: 700;
}
#footer {
	text-align: center;
	background-color: #343A40;
	color: #FFF;
	padding: 10px;
	margin-top:50px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 5000;
}
.center{
	text-align: center;
}

.awesomplete{
	display: block!important;
}
a.page-link.active{
	color: white;
	background-color: #007BFF;
}
.alertmsg{
	position: absolute;
}
.slimSelectClass{
	font-weight: bold;}
	
.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark{
	padding-bottom: 0;;
}
.titleNav{
	color : #13e894;
	display:block;
    width:150px;
}
.greenCustom{
	color : #13e894;
    border-color: #13e894;
}
.redCustom{
	color : #ff6969;
    border-color: #ff6969;
}
.sorted-desc::after, .sorted-asc::after {
    float: right;
}

.sorted-desc::after{
    content:"\25BC";
}

.sorted-asc::after{
    content: "\25B2";
}
.badge-size{
	font-size: .6em;
}
.mt-n10{
	margin-top: -6rem !important;
}
.mt-n8{
	margin-top: -5rem !important;
}
.mt-10{
	margin-top: 5.5rem !important;
}
.progress{
	height: 25px;
	font-size: 1em;
}
.nav-link.active{
	font-weight: bold;
}
.minusSize{
	font-size: .8em;
}
#searchTagCheck{
	width: 175px;
}
/*STATS*/
.chart {
    position: relative;
    overflow: hidden;
    width: 100%;
 }
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box .box-success{
border-top-color:
    #00a65a;
}
.box.box-primary {
	border-top-color: #3c8dbc;
}
.no-data{
  display: none;
  text-align: center;
}
.box-header > .fa, .box-header > .glyphicon, .box-header > .ion, .box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1;
}
.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3;
}
.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
}
.btn-separator:after {
    content: ' ';
    display: block;
    float: left;
    background: #ADADAD;
    margin: 0 10px;
    height: 34px;
    width: 1px;
}

@media screen and (max-width: 1530px) {
  th.hiddenBlock, td.hiddenBlock {
    display:none;
  }
}
.ss-main .ss-single-selected, .ss-main .ss-multi-selected{
	height: calc(1.5em + .75rem + 2px)!important;
}
.ss-main {
    color: black;
}
.info-box {
	display: block;
	min-height: 90px;
	background: #fff;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	margin-bottom: 15px;
}
.bg-aqua, .callout.callout-info, .modal-info .modal-body {
    background-color: 
    #00c0ef !important;
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: 
    rgba(0,0,0,0.2);
        background-color: rgba(0, 0, 0, 0.2);
}
info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
	display: block;
	font-weight: bold;
}
.custom-alert{
	background-color: #00C0EF!important;
}
.bg-custom{
	background-color: #dfdfdf;
}
.awesomplete > ul {
    max-height: 410px;
    overflow-y: auto;
}
table thead.sticky-top {
	top: 116px;
	z-index: 1000;
    background-color: white;
}
.ss-main .ss-single-selected .placeholder .ss-disabled {
    color: red!important;
}
.big{
	font-size: 1em
}
#awesomplete_list_1, #awesomplete_list_2{
	z-index: 500000;
}
  #loadingMessage {
      text-align: center;
      padding: 40px;
      background-color: #eee;
    }

    #canvas {
      width: 100%;
    }

    #output {
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      padding-bottom: 0;
    }

    #output div {
      padding-bottom: 10px;
      word-wrap: break-word;
    }

    #noQRFound {
      text-align: center;
    }
    
    fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}
dl dd:after {
  content: "\200b";
}
.card-header{
	margin-top: 10px;
}
.placeholder {
    background-color: transparent;
    opacity : .8 !important;
}
#gridEvents .bootstrap-table.bootstrap5, #gridSalles .bootstrap-table.bootstrap5{
	margin-top: -2em!important;
}
#usersGroupLdap{
	display: block!important;
}
#importUsersLdapform .dropdown{
	display: none;
}
.sticky-md-top{
	top: 140px;
	z-index: 999;
}
.ss-content.ss-open{
	z-index : 5000;
}
.jstree-anchor {
    white-space: break-spaces !important;
    height: auto !important;
}
/* Increase font size for the entire date range picker */
.daterangepicker {
    font-size: 15px; /* Adjust the size as needed */
}

/* Optional: Increase the size of specific buttons if needed */
.daterangepicker .ranges ul li, /* Range list items */
.daterangepicker .drp-buttons .btn { /* Apply/Cancel buttons */
    font-size: 15px; /* Adjust the size as needed */
}

/* Increase font size for the calendar inside the date picker */
.daterangepicker .calendar-table {
    font-size: 15px; /* Adjust the size as needed */
}

/* Style for the main button and the dropdown toggle */
.dt-button-split-drop {
	line-height: 0.8em;
	margin:0!important;
    padding: 0.2rem 0.4rem!important; /* Adjust padding for a smaller size */
}

.navbar-brand img {
	height: 60px; /* Default height for large screens */
}
@media (max-width: 992px) {
  .navbar-brand img {
    height: 40px;
  }
}

@media (max-width: 768px) {
  .navbar-brand img {
    height: 30px;
  }
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 20px;
  }
}
.size08{
	font-size: .9em;
}
.colorBox{
	height: 20px; 
	width: 20px; 
	border: none; 
	vertical-align: middle;
}
