<div class="modal modal-lg " tabindex="-1" >
	<div class="modal-dialog ">
		<div class="modal-content" th:fragment="modal-create" id="modal-create">
			<form th:hx-post="@{/{ctx}/manager/sessionEpreuve/create(ctx=${eContext})}"
				  th:object="${sessionEpreuve}" method="post" enctype="multipart/form-data">
				<div class="modal-header">
					<h5 class="modal-title">Etape 1 - Créer une session</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modal-body">
			        <div class="row mb-3">
			        	<label for="anneeUniv" class="col-lg-2 form-label">*Année</label>
			        	<div class="col-lg-10">
							<select id="anneeUniv" name="anneeUniv" required="required" class="form-control"> 
								<option th:each="year : ${years}"
									th:value="${#strings.substringBefore(year,'/')}" th:text="${year}" th:selected="${#strings.substringBefore(year,'/') == anneeUniv}"></option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
			        	<label for="typeSession" class="col-lg-2 form-label">*Type</label>
			        	<div class="col-lg-10">
							<select id="typeSession" name="typeSession" required="required" class="form-control">
								<option value="">----Choisir----</option>
								<option th:each="type : ${types}"
									th:value="${type.id}" th:text="${type.libelle}"></option>
							</select>
						</div>
					</div>	
			        <div class="row mb-3">
			            <label for="campus" class="col-lg-2 form-label">*Site 
			            </label>
			            <div class="col-lg-10">
							<select th:field="*{campus}" class="form-control" required="required">
							<option value="">----Choisir----</option>
								<option th:each="campus : ${allCampuses}"
									th:value="${campus.id}" th:text="${campus.site}"></option>
							</select>
						</div>
					</div>	 	                    
			        <div class="row mb-3">
			             <label for="nomSessionEpreuve" class="col-lg-2 form-label">*Nom
			             </label>
			            <div class="col-lg-10">
			                <input type="text" th:field="*{nomSessionEpreuve}" class="form-control" required="required">
			            </div>
			        </div>
			        <div class="row mb-3">
						<label for="dateExamen" class="col-lg-2 form-label">*Date</label>
			            <div class="col-lg-4">
			                <input type="date" id="dateSessionEpreuve" placeholder="dd/MM/YYYY" name="strDateExamen" class="form-control" required="required">
			            </div>
			            <label for="dateExamen" class="col-lg-2 form-label">Date de fin <small><br />(si plusieurs jours)</small></label>
			            <div class="col-lg-4">
			            	<input type="date" placeholder="dd/MM/YYYY" name="strDateFin" class="form-control">
			            </div>
			        </div>
			        <div class="row mb-3">
			            <label for="heureEpreuve" class="col-lg-2 form-label">*Début</label>
			           	<div class="col-lg-10">
			                <input type="time" th:field="*{heureEpreuve}" class="form-control" id="heureEpreuve" required="required" value="10:00">
			            </div>
			        </div>
			        <div class="row mb-3">
			            <label for="finEpreuve" class="col-lg-2 form-label">*Fin</label>
			            <div class="col-lg-10">
			            	<input type="time" th:field="*{finEpreuve}" class="form-control" id="finEpreuve" required="required">
			            </div>
			        </div>
			       <div class="row mb-3">
						<label class="col-lg-2 form-check-label"  th:for="${isSessionLibre}">
					        Session Libre
					      </label>
						<div class="col-lg-10">
							<div class="form-check form-switch">
							  <input class="form-check-input" type="checkbox" th:field="*{isSessionLibre}" checked="checked">
							</div>
					    </div>
					</div>                
					<div class="accordion" id="accordionOptions">
					  <div class="accordion-item">
					    <h2 class="accordion-header">
					      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        Autres options
					      </button>
					    </h2>
					    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionOptions">
					      <div class="accordion-body">
							<div class="row mb-3">
							    <label for="file" class="col-lg-2 form-label">Pièces jointes</label>
							    <div class="col-lg-10">
							        <div class="file-loading">-->
										<input type="file" class="form-control-file" id="files" name="files[]" multiple>
									</div>
								</div>
							</div>
					       <div class="row mb-3">
							   <label for="heureConvocation" class="col-lg-2 form-label">Convocation
							   </label>
					           <div class="col-lg-10">
					                <input type="time" th:field="*{heureConvocation}" class="form-control" id="heureConvocation">
					            </div>
					        </div>
					        <div class="row mb-3">
					            <label for="comment" class="col-lg-2 form-label">Commentaire</label>
					            <div class="col-lg-10">
					            	<textarea  th:field="*{comment}" class="form-control" ></textarea>
					            </div>
					        </div>
					       <fieldset  class="row mb-3">
					       		<label class="form-label col-lg-2">Type de badgeage
					       		</label>
								<div class="col-lg-10">
									<div class="form-check form-check-inline" th:each="type : ${T(org.esupportail.emargement.domain.SessionEpreuve.TypeBadgeage).values()}">
									  <input class="form-check-input" type="radio" th:field="*{typeBadgeage}" th:value="${type}" th:checked="${true}">
									  <label class="form-check-label" th:for="${#ids.prev('typeBadgeage')}" th:text="${type}"></label>
									</div>
							    </div>
							</fieldset >		                    
							<div class="row mb-3">
					        	<label for="blackListGroupe" class="col-lg-2 form-label">Groupe à exclure
					        	</label>
					        	<div class="col-lg-4">
									<select id="blackListGroupe" name="blackListGroupe">
										<option value="">----Choisir----</option>
										<option th:each="groupe : ${allGroupes}"
											th:value="${groupe.id}" th:text="${groupe.nom}"></option>
									</select>
								</div>
								<label class="col-lg-3 form-check-label"  th:for="${isSaveInExcluded}">
							        Enregistrement automatique
							    </label>
								<div class="col-lg-3">
									 <div class="form-check  form-switch">
									      <input class="form-check-input" type="checkbox" th:field="*{isSaveInExcluded}">
									</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label class="col-lg-2 form-check-label"  th:for="${isGroupeDisplayed}">
							        Afficher groupes
							     </label>
								<div class="col-lg-10">
									 <div class="form-check  form-switch">
									      <input class="form-check-input" type="checkbox" th:field="*{isGroupeDisplayed}">
									</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label class="col-lg-2 form-check-label"  th:for="${isProcurationEnabled}">
							        Procuration activée
							     </label>
								<div class="col-lg-10">
									 <div class="form-check  form-switch">
									      <input class="form-check-input" type="checkbox" th:field="*{isProcurationEnabled}">
									</div>
							    </div>
							</div>
							<div class="row mb-3">
								<label for="maxBadgeageAlert" class="col-lg-2 form-label">Alerte
									badgeage max
									</label>
								<div class="col-lg-10">
									<input type="number" min="1" th:field="*{maxBadgeageAlert}"
										class="form-control" value="1" required="required">
								</div>
							</div>
					  </div>
					</div>
					</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Valider</button>
				</div>
		    </form>
		</div>
	</div>
</div>