<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
         	<div class="card">
	    		<div class="card-header">
	    			<div  class="alert alert-danger font-weight-bold" th:if="${error}">Vous devez supprimer tous les lieux, inscrits et surveillants avant de supprimer la session elle-même.</div>
	    			<div class="row">
			    		<div class="col-auto">
					    	<h2>Sessions</h2>
					    </div>
					    <div class="col">
						    <div class="row float-end">
							    <div class="col-auto" id="sessionSearch">
							    	<form action="#" id="formSearch" th:object="${sessionSearch}" th:action="@{/{ctx}/manager/sessionEpreuve(ctx=${eContext})}">
										<input type="hidden" name="multiSearch" value="true" />
										<div class="row float-end">
											<div class="col-auto">
												<input type="text" th:field="*{id}" pattern="[0-9.]+"
													class="form-control" placeholder="Recherche sur  nom, site"
													id="searchSessionEpreuve" >
											</div>
											<div class="col-auto">											
												<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
												  <input th:checked="${dateSessions eq 'day'}" type="radio" class="btn-check" name="dateSessions" 
												  	id="btnradio1" value="day" autocomplete="off">
												  <label class="btn btn-outline-primary" for="btnradio1">Jour</label>
												
												  <input th:checked="${dateSessions eq 'week'}" type="radio" class="btn-check" name="dateSessions" 
												  	id="btnradio2" value="week" autocomplete="off">
												  <label class="btn btn-outline-primary" for="btnradio2">Semaine</label>
												
												  <input th:checked="${dateSessions eq 'month'}" type="radio" class="btn-check" name="dateSessions" 
												  	id="btnradio3"  value="month" autocomplete="off">
												  <label class="btn btn-outline-primary" for="btnradio3">Mois</label>
												  
												  <input th:checked="${dateSessions eq 'all'}" type="radio" class="btn-check" name="dateSessions" 
												  	id="btnradio4"  value="all" autocomplete="off">
												  <label class="btn btn-outline-primary" for="btnradio4">Tout</label>											  
												</div>
											</div>					
											<div class="col-auto"  th:if="${#maps.size(typesSession)>1}">
												<select class="form-select" title="Tous les types" th:field="*{typeSession}">
													<option value="">-- TYPES --</option>
												    <option th:each="type : ${typesSession}" 
												        th:value="${type.key}" th:text="${type.value}"></option>
												</select>
											</div>										
											<div class="col-auto">
												<select class="form-select" title="Tous les statuts" th:field="*{statut}">
													<option value="">-- STATUTS --</option>
												    <option th:each="statut1 : ${statuts}" 
												        th:value="${statut1}" th:text="#{'session.statut.' + ${#strings.toLowerCase(statut1)}}"></option>
												</select>
											</div>
											<div class="col-auto">
												<select th:field="*{anneeUniv}"
													class="form-select  col-auto">
													<option th:each="year, iStat : ${years}"
														th:value="${#strings.substringBefore(year,'/')}"
														th:text="${year}"
														></option>
												</select>
											</div>
											<div class="col-auto mt-1">
												<a title="Annuler recherche" id="resetSearch"
													class="btn btn-danger btn-sm"><i class="fas fa-undo"></i></a>
											</div>
											<div class="col-auto">
												<a class="btn btn-warning ms-1" th:href="@{/wsrest/export/session/{ctxId}(ctxId=${ctxId})}" title="JSON"><i class="fas fa-download"></i></a>
									    		<a th:href="@{/{ctx}/manager/sessionEpreuve?form&anneeUniv={anneeUniv}(anneeUniv=${sessionSearch.anneeUniv},ctx=${eContext})}" class="btn btn-primary" title="Ajouter une session"><i class="fa fa-plus fa-lg"></i></a>
										    </div>
										</div>
									</form>
								</div>

						    </div>
					    </div> 
	    			</div>
				</div>         	
  				<div class="card-body">
						<table class="table table-hover table-striped table-bordered" id="tableSessionEpreuve">
							<thead class ="center sticky-top">
								<tr>
									<th scope="col"><a class="sorted" sd:pagination-sort="dateExamen">Date</a></th>
									<th scope="col" class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="typeSession">Type</a></th>
									<th scope="col"><a class="sorted" sd:pagination-sort="nomSessionEpreuve">Nom</a></th>
									<th scope="col" class ="hiddenBlock"><a class="sorted" sd:pagination-sort="statut">Statut</a></th>
									<th scope="col" class ="text-center hiddenBlock">Badgeage</th>
									<th scope="col" class ="text-center hiddenBlock">Libre</th>
									<th scope="col" class ="text-center hiddenBlock" th:if="${isAdeCampusEnabled}">ADE</th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell">Lieux</th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell">Surveillants</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" >Inscrits</th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="campus">Site</a></th>
									<th scope="col" class="hiddenBlock" >PJ</th>
									<th scope="col" class="hiddenBlock">Convocation</th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell">Début</th>
									<th scope="col" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell">Fin</th>
									<th scope="col" class="hiddenBlock">Durée</th>
									<th scope="col" class="hiddenBlock">Temps</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Repartition</th>
									<th scope="col" class="d-none d-xl-table-cell">Présence</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody class ="center">
								<tr th:each="sessionEpreuve : ${sessionEpreuvePage}" th:classappend="${sessionEpreuve.isSessionEpreuveClosed} ? table-danger : ''" th:id="${sessionEpreuve.id}">
									<td>
										<span th:text="${#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span>
										<span th:if="${sessionEpreuve.dateFin != null}" th:text="${#dates.format(sessionEpreuve.dateFin,'dd-MM-yyyy')}"></span>
									</td>
									<td th:if="${sessionEpreuve.typeSession != null}" th:text="${sessionEpreuve.typeSession.libelle}"  class="d-none d-xs-table-cell d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${sessionEpreuve.nomSessionEpreuve}"></td>
									<td class ="text-center hiddenBlock">
										<span class="badge"  th:classappend ="
													  ${(sessionEpreuve.statut.name() == 'STANDBY' ? 'bg-warning': '') + 
						                                (sessionEpreuve.statut.name() == 'OPENED' ? 'bg-success': '')  + 
						                                (sessionEpreuve.statut.name() == 'CLOSED' ? 'bg-danger': '')}"
						                                th:text="(${sessionEpreuve.statut}==null)? '': #{'session.statut.' + 
										${#strings.toLowerCase(sessionEpreuve.statut)}}"></span>
									</td>
									
									<td class ="text-center hiddenBlock" th:text="${sessionEpreuve.typeBadgeage}"></td>
									<td class ="text-center hiddenBlock"><i th:class="${sessionEpreuve.isSessionLibre} ? 'fa fa-check text-success' :''"></i></td>
									<td th:if="${isAdeCampusEnabled}" class ="text-center hiddenBlock"><i th:class="${sessionEpreuve.adeEventId != null} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell"><a th:href="@{/{ctx}/manager/sessionLocation/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbLieuxSession}"></a></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell"><a th:href="@{/{ctx}/manager/tagChecker/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbTagCheckerSession}"></a></td>
									<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
										<a th:if="${sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" 
										th:text="${sessionEpreuve.nbInscritsSession}"></a>
										<span th:if="${sessionEpreuve.dateArchivage != null}" th:text="${sessionEpreuve.nbInscritsSession}"></span>
									</td>			
									<td th:text="${sessionEpreuve.campus.site}" class="d-none d-lg-table-cell d-xl-table-cell"></td>
									<td class ="text-center hiddenBlock" th:text="${sessionEpreuve.nbStoredFiles}"></td>		
									<td th:text="${#dates.format(sessionEpreuve.heureConvocation, 'HH:mm')}" class="hiddenBlock"></td>
									<td th:text="${#dates.format(sessionEpreuve.heureEpreuve, 'HH:mm')}" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${#dates.format(sessionEpreuve.finEpreuve, 'HH:mm')}" class="d-none d-sm-table-cell d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${sessionEpreuve.dureeEpreuve}" class="hiddenBlock"></td>
									<td class ="text-center hiddenBlock"><a href="#" th:if="${sessionEpreuve.nbCheckedByCardTagCheck > 0}" data-bs-toggle="modal" data-bs-target="#modal-chart" th:attr="data-whatever=${sessionEpreuve.nomSessionEpreuve}" 
										th:id="modalChartSeBtn-+${sessionEpreuve.id}" 
										class="center modalChartSeBtn"><i class="fas fa-chart-bar text-success"></i></a>
										<i th:if="${sessionEpreuve.nbCheckedByCardTagCheck == 0}" class="fas fa-chart-bar disabled"></i>
									</td>
									<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell" 
										th:classappend="${!sessionEpreuve.isSessionEpreuveClosed and sessionEpreuve.nbDispatchTagCheck != sessionEpreuve.nbInscritsSession}? 'bg-warning' : ''">
										<a th:if="${!sessionEpreuve.isSessionEpreuveClosed and !sessionEpreuve.isSessionLibre}" th:href="@{/{ctx}/manager/sessionEpreuve/repartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}">
										<i class="fa fa-exchange-alt text-primary me-2"></i></a>
										<i th:if="${sessionEpreuve.isSessionEpreuveClosed or sessionEpreuve.isSessionLibre}" class="fa fa-exchange-alt disabled  me-2"></i>
										<span class='minusSize' th:text="${sessionEpreuve.nbDispatchTagCheck + ' / ' + sessionEpreuve.nbInscritsSession}"></span>
									</td>
									<td class="d-none d-xl-table-cell">
										<a th:if="${!sessionEpreuve.isSessionEpreuveClosed}" th:href="@{/{ctx}/supervisor/presence?sessionEpreuve={id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center">
										<i class="fa fa-id-badge text-success  me-2"></i></a>
										<i th:if="${sessionEpreuve.isSessionEpreuveClosed}" class="fa fa-id-badge disabled me-2"></i><span class='minusSize' th:text="${sessionEpreuve.nbPresentsSession + 
											' / ' + sessionEpreuve.nbInscritsSession}"></span>
											<span class="badge rounded-pill bg-warning" th:if="${sessionEpreuve.nbUnknown >0}" th:text="${sessionEpreuve.nbUnknown}"></span>
									</td>
									<td>
										<a th:href="@{/{ctx}/manager/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center" title="Voir"><i class="fa fa-eye text-primary"></i></a>
										<a th:if="${!sessionEpreuve.isSessionEpreuveClosed and sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/sessionEpreuve/{id}?form(id=${sessionEpreuve.id},ctx=${eContext})}" 
											class="center ms-2" title="Modifier"><i class="fa fa-pen text-warning"></i></a>
										<i th:if="${sessionEpreuve.isSessionEpreuveClosed or sessionEpreuve.dateArchivage != null}" class="fa fa-pen disabled ms-2"></i>
										<a data-bs-toggle="modal" th:attr="data-bs-target='#modal-warning'+${sessionEpreuve.id }"  class="center ms-2" title="Supprimer"><i class="fa fa-trash text-danger"></i></a>
										<div class="modal fade in" th:id="modal-warning+${sessionEpreuve.id}" >
										    <div class="modal-dialog">
										        <div class="modal-content">
										        	<form id="command" th:action="@{/{ctx}/manager/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" method="POST">
											        	<input type="hidden" name="_method" value="delete" />
											            <div class="modal-header">
 															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											            </div>
											            <div class="modal-body">
											                <div class="alert alert-danger text-center">Confirmez-vous la suppression de cette session: <br />
											                	 <span th:text="${sessionEpreuve.nomSessionEpreuve}" class="font-weight-bold"></span> ?</div>
											            </div>
											            <div class="modal-footer">
											                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
											                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
											            </div>
										            </form>
										        </div>
										    </div>
										</div>
										<a data-bs-toggle="modal" th:attr="data-bs-target='#modal-statut'+${sessionEpreuve.id}" class="center ms-2" title="Modifier le statut">
											<i class="fa fa-gear text-dark"></i></a>
										<div class="modal fade in" th:id="modal-statut+${sessionEpreuve.id}" >
										    <div class="modal-dialog">
										        <div class="modal-content">
										        	<form id="command" th:action="@{/{ctx}/manager/sessionEpreuve/changeStatut/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" method="POST">
											            <div class="modal-header">
 															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											            </div>
											            <div class="modal-body">
															<div class="row mb-3">
																<label class="col-lg-12 form-check-label mb-2" th:for="${statut}">
															        Changer le statut
															    </label>
																<div class="col-lg-12">
																	<select id="statut" name="statut" class="form-select" required="required">
																		<option value="">----Choisir----</option>
																	    <option th:each="statut : ${statuts}" 
																	        th:value="${statut}" th:selected="${sessionEpreuve.statut}==${statut}" th:text="#{'session.statut.' + ${#strings.toLowerCase(statut)}}"></option>
																	</select>
																</div>
															</div>
											            </div>
											            <div class="modal-footer">
											                <button type="button" class="btn btn-outline pull-left btn-primary" data-bs-dismiss="modal">Fermer</button>
											                <button type="submit" class="btn btn-outline pull-left btn-success">Valider</button>
											            </div>
										            </form>
										        </div>
										    </div>
										</div>
										<a th:if="${sessionEpreuve.isSessionEpreuveClosed and sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/sessionEpreuve/close/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2" 
											onclick="confirm('Confirmez-vous la réouverture de cette session?');" title="Réouvrir"><i class="fas fa-door-closed text-secondary"></i></a>
										<a th:if="${sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/sessionEpreuve/duplicate/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2" 
											onclick="confirm('Confirmez-vous la copie de cette session?');" title="Dupliquer"><i class="fa fa-copy text-info"></i></a>
										<form th:if="${!sessionEpreuve.isSessionEpreuveClosed and isAdeCampusEnabled and sessionEpreuve.adeEventId != null and 
												(#dates.createToday().equals(sessionEpreuve.dateExamen)
												or (sessionEpreuve.dateFin!=null and #dates.createToday().equals(sessionEpreuve.dateFin))
												or (#dates.createToday().before(sessionEpreuve.dateExamen))
												or (sessionEpreuve.dateFin!=null
	                                                  and #dates.createToday().after(sessionEpreuve.dateExamen)
	                                                  and #dates.createToday().before(sessionEpreuve.dateFin)))  }"  method="post" 
										th:action="@{/{ctx}/manager/sessionEpreuve/updateAde/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" >
											<button type="submit" class="btn center ms-2" title="Resynchroniser avec ADE campus"><i class="fa fa-refresh text-primary"></i></button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="modal fade in" th:id="modal-chart"  >
						    <div class="modal-dialog modal-lg">
						        <div class="modal-content">
										<div class="modal-header">
										 <h5 class="modal-title"></h5>
							                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							            </div>
							            <div class="modal-body">
											<div class="box box-primary">
												<div class="box-header with-border">
													<h3 class="box-title" th:text="${#strings.capitalize('__#{'stats.' + countTagChecksByTimeBadgeage}__')}"></h3>
												</div>
												<div class="box-body collapse show">
													<div class="chart" id="chartListSession">
														<canvas id="countTagChecksByTimeBadgeage" style="height: 394px; width: 789px;" height="394" width="789"></canvas>
														<div class="no-data">Aucune donnée disponible</div>
													</div>
												</div>
											</div>
							            </div>
						        </div>
						    </div>
						</div>						
						<nav th:replace="fragments/pagination :: pagination"></nav>
					</div>
				</div>
			</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
