<div th:fragment="table">
	<table class="table table-hover table-striped table-bordered" id="tableSessionEpreuve">
		<thead class ="center sticky-top">
			<tr>
				<th scope="col"><input type="checkbox" id="selectAllCheckbox"></th>
				<th scope="col"><a class="sorted" sd:pagination-sort="dateExamen">Date</a></th>
				<th scope="col"><a class="sorted" sd:pagination-sort="nomSessionEpreuve">Nom</a></th>
				<th scope="col" class="d-none d-xl-table-cell"><a class="sorted" sd:pagination-sort="typeSession">Type</a></th>
				<th scope="col" class ="hiddenBlock"><a class="sorted" sd:pagination-sort="statut">Statut</a></th>
				<th scope="col" class="d-none d-lg-table-cell" th:if="${isSessionGroupsDisplayed}">Groupes</th>
				<th scope="col" class ="text-center hiddenBlock">Badgeage</th>
				<th scope="col" class ="text-center hiddenBlock">Libre</th>
				<th scope="col" class ="text-center hiddenBlock" th:if="${isAdeCampusEnabled}">ADE</th>
				<th scope="col" class="d-none d-lg-table-cell">Lieux</th>
				<th scope="col" class="d-none d-lg-table-cell"  th:text="${surveillantTerme + 's'}"></th>
				<th scope="col" class="d-none d-md-table-cell" >Inscrits</th>
				<th scope="col" class="d-none d-lg-table-cell"><a class="sorted" sd:pagination-sort="campus">Site</a></th>
				<th scope="col" class="hiddenBlock" >PJ</th>
				<th scope="col" class="hiddenBlock">Convocation</th>
				<th scope="col" class="d-none d-xl-table-cell">Horaire</th>
				<th scope="col" class="hiddenBlock">Temps</th>
				<th scope="col" class="d-none d-md-table-cell">Repartition</th>
				<th scope="col" class="d-none d-xl-table-cell">Présence</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody class ="center">
			<tr th:each="sessionEpreuve : ${sessionEpreuvePage}" th:classappend="${sessionEpreuve.statutSession ne null and sessionEpreuve.statutSession.key eq 'CLOSED'} ? table-danger : ''" th:id="${sessionEpreuve.id}">
				<td><input type="checkbox" th:value="${sessionEpreuve.id}" class="checkboxes" name="checkedValues"></td>
				<td>
					<span th:text="${#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></span>
					<span th:if="${sessionEpreuve.dateFin != null}" th:text="${#dates.format(sessionEpreuve.dateFin,'dd-MM-yyyy')}"></span>
				</td>
				<td th:text="${sessionEpreuve.nomSessionEpreuve}"></td>
				<td th:if="${sessionEpreuve.typeSession != null}" th:text="${sessionEpreuve.typeSession.libelle}"  class="d-none d-xl-table-cell"></td>
				<td class ="text-center hiddenBlock">
					<span class="badge"  th:classappend ="${'bg-' + sessionEpreuve.statutSession.color}" 
						th:text="${sessionEpreuve.statutSession.libelle}"></span>
				</td>
				<td th:if="${isSessionGroupsDisplayed}" class="d-none d-lg-table-cell">
					<th:block th:each="groupeName : ${sessionEpreuve.groupesNames}">
						<span th:text="${groupeName}"></span><br />
					</th:block>
				</td>
				<td class ="text-center hiddenBlock" th:text="${sessionEpreuve.typeBadgeage}"></td>
				<td class ="text-center hiddenBlock"><i th:class="${sessionEpreuve.isSessionLibre} ? 'fa-solid fa-check text-success' :''"></i></td>
				<td th:if="${isAdeCampusEnabled}" class ="text-center hiddenBlock"><i th:class="${sessionEpreuve.adeEventId != null} ? 'fa-solid fa-check text-success' :'fa-solid fa-times text-danger'"></i></td>
				<td class="d-none d-lg-table-cell"><a th:href="@{/{ctx}/manager/sessionLocation/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbLieuxSession}"></a></td>
				<td class="d-none d-lg-table-cell"><a th:href="@{/{ctx}/manager/tagChecker/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbTagCheckerSession}"></a></td>
				<td class="d-none d-md-table-cell">
					<a th:if="${sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" 
					th:text="${sessionEpreuve.nbInscritsSession}"></a>
					<span th:if="${sessionEpreuve.dateArchivage != null}" th:text="${sessionEpreuve.nbInscritsSession}"></span>
				</td>			
				<td th:text="${sessionEpreuve.campus.site}" class="d-none d-lg-table-cell"></td>
				<td class ="text-center hiddenBlock" th:text="${sessionEpreuve.nbStoredFiles}"></td>		
				<td th:text="${#dates.format(sessionEpreuve.heureConvocation, 'HH:mm')}" class="hiddenBlock"></td>
				<td class="d-none d-xl-table-cell">
				<span th:text="${#dates.format(sessionEpreuve.heureEpreuve, 'HH:mm') + ' - ' + #dates.format(sessionEpreuve.finEpreuve, 'HH:mm ')}">
				</span><small class="text-muted" th:text="${'(' + sessionEpreuve.dureeEpreuve + ')'}"></small></td>
				<td class ="text-center hiddenBlock"><a href="#" th:if="${sessionEpreuve.nbCheckedByCardTagCheck > 0}" data-bs-toggle="modal" data-bs-target="#modal-chart" th:attr="data-whatever=${sessionEpreuve.nomSessionEpreuve}" 
					th:id="modalChartSeBtn-+${sessionEpreuve.id}" 
					class="center modalChartSeBtn"><i class="fa-solid fa-chart-bar text-success"></i></a>
					<i th:if="${sessionEpreuve.nbCheckedByCardTagCheck == 0}" class="fa-solid fa-chart-bar disabled"></i>
				</td>
				<td class="d-none d-md-table-cell" 
					th:classappend="${sessionEpreuve.statutSession.key ne 'CLOSED' and sessionEpreuve.nbDispatchTagCheck != sessionEpreuve.nbInscritsSession}? 'bg-warning' : ''">
					<a th:if="${sessionEpreuve.statutSession.key ne 'CLOSED' and !sessionEpreuve.isSessionLibre}" th:href="@{/{ctx}/manager/sessionEpreuve/repartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}">
					<i class="fa-solid fa-exchange-alt text-primary me-2"></i></a>
					<i th:if="${sessionEpreuve.statutSession.key eq 'CLOSED' or sessionEpreuve.isSessionLibre}" class="fa-solid fa-exchange-alt disabled  me-2"></i>
					<span class='minusSize' th:text="${sessionEpreuve.nbDispatchTagCheck + ' / ' + sessionEpreuve.nbInscritsSession}"></span>
				</td>
				<td class="d-none d-xl-table-cell">
					<a th:if="${sessionEpreuve.statutSession.key ne 'CLOSED'}" th:href="@{/{ctx}/supervisor/presence?sessionEpreuve={id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center">
					<i class="fa-solid fa-id-badge text-success  me-2"></i></a>
					<i th:if="${sessionEpreuve.statutSession.key eq 'CLOSED'}" class="fa-solid fa-id-badge disabled me-2"></i><span class='minusSize' th:text="${sessionEpreuve.nbPresentsSession + 
						' / ' + sessionEpreuve.nbInscritsSession}"></span>
						<span class="badge rounded-pill bg-warning" th:if="${sessionEpreuve.nbUnknown >0}" th:text="${sessionEpreuve.nbUnknown}"></span>
				</td>
				<td>
					<div th:replace="~{manager/sessionEpreuve/list_action_table :: actions}"></div>
					<div th:replace="~{manager/sessionEpreuve/list_modal_table :: modalDelete(${sessionEpreuve}, ${eContext})}"></div>
					<div th:replace="~{manager/sessionEpreuve/list_modal_table :: modalStatut(${sessionEpreuve}, ${eContext})}"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>