<div class="modal modal-lg " tabindex="-1" >
  <div class="modal-dialog ">
    <div class="modal-content"  th:fragment="show-modal" id="show-modal">
      <div class="modal-header">
        <h5 class="modal-title">Session créée</h5>
      </div>
      <div class="modal-body" id="modal-body">
			<dl class="row">
				<dt class="col-sm-2">Nom</dt>
				<dd class="col-sm-10" th:text="${sessionEpreuve.nomSessionEpreuve}"></dd>
	            <dt class="col-sm-2">Date</dt>
	            <dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></dd>
				<dt class="col-sm-2">Convocation</dt>
				<dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.heureConvocation, 'HH:mm')}"></dd>
				<dt class="col-sm-2">Début</dt>
				<dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.heureEpreuve, 'HH:mm')}"></dd>
				<dt class="col-sm-2">Fin</dt>
				<dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.finEpreuve, 'HH:mm')}"></dd>
				<dt class="col-sm-2">Durée</dt>
				<dd class="col-sm-10" th:text="${sessionEpreuve.dureeEpreuve}"></dd>
	            <dt class="col-sm-2">Type</dt>
	            <dd class="col-sm-10" th:text="${sessionEpreuve.typeSession.key}"></dd>
				<dt class="col-sm-2">Site</dt>
				<dd class="col-sm-10" th:text="${sessionEpreuve.campus.site}"></dd>
	            <dt class="col-sm-2">Statut</dt>
	            <dd class="col-sm-10">
					<span class="badge"  th:classappend ="${'bg-' + sessionEpreuve.statutSession.color}" 
						th:text="${sessionEpreuve.statutSession.libelle}"></span>
	            </dd>
				<dt class="col-sm-2">Session libre</dt>
				<dd class="col-sm-10" ><i th:if="${sessionEpreuve.isSessionLibre}" class="fa fa-check text-success"></i></dd>						
				<div class="accordion mb-2" id="accordionOptions">
				  <div class="accordion-item">
				    <h2 class="accordion-header">
				      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				       Voir +
				      </button>
				    </h2>
				    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionOptions">
				      <div class="accordion-body">
				            <dt class="col-sm-2">Badgeage</dt>
				            <dd class="col-sm-10" th:text="${sessionEpreuve.typeBadgeage}"></dd>
							<dt class="col-sm-2" th:if="${isAdeCampusEnabled}">ADE</dt>
							<dd class="col-sm-10" th:if="${isAdeCampusEnabled}"><i th:class="${sessionEpreuve.adeEventId != null} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></dd>
							<dt class="col-sm-2">Groupe à exclure (session libre)</dt>
							<dd class="col-sm-10"><span th:if="${sessionEpreuve.blackListGroupe != null}" th:text="${sessionEpreuve.blackListGroupe.nom}"></span></dd>
							<dt class="col-sm-2">Enregistrement automatique</dt>
							<dd class="col-sm-10"><i th:if="${sessionEpreuve.isSaveInExcluded}" class="fa fa-check text-success"></i></dd>
							<dt class="col-sm-2">Procuration activée</dt>
							<dd class="col-sm-10"><i th:if="${sessionEpreuve.isProcurationEnabled}" class="fa fa-check text-success"></i></dd>
							<dt class="col-sm-2">Alerte badgeage max</dt>
							<dd class="col-sm-10" th:text="${sessionEpreuve.maxBadgeageAlert}"></dd>
							<dt class="col-sm-2">Lieux</dt>
							<dd class="col-sm-10">
								<a th:href="@{/{ctx}/manager/sessionLocation/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbLieuxSession}"></a>
							</dd>
							<dt class="col-sm-2">Inscrits</dt>
							<dd class="col-sm-10">
								<a th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbInscritsSession}"></a>
							</dd>
							<dt class="col-sm-2" th:text="${surveillantTerme +'s'}"></dt>
							<dd class="col-sm-10">
								<a th:href="@{/{ctx}/manager/tagChecker/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbTagCheckerSession}"></a>
							</dd>
							<dt class="col-sm-2">Pièces jointes</dt>
							<dd class="col-sm-10">
							    <span th:if="${attachments!=null and !attachments.empty}" >
							        <span th:each="att : ${attachments}">
							    		<span><a th:href="@{/{ctx}/manager/storedFile/{id}/photo(id=${att.id},ctx=${eContext})}" 
							    		th:text="${att.filename}" target="_blank"></a></span><br />
							        </span>
							    </span>
							</dd>    			            
							<dt class="col-sm-2">Répartition</dt>
							<dd class="col-sm-10">
								<a th:if="${sessionEpreuve..statutSession.key ne 'CLOSED'}" th:href="@{/{ctx}/manager/sessionEpreuve/repartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}">
								<i class="fa fa-exchange-alt text-primary me-2"></i></a>
								<i th:if="${sessionEpreuve.statutSession.key eq 'CLOSED'}" class="fa fa-exchange-alt disabled  me-2"></i>
								<span class='minusSize' th:text="${sessionEpreuve.nbDispatchTagCheck + ' / ' + sessionEpreuve.nbInscritsSession}"></span>
							</dd>
							<dt class="col-sm-2">Présence</dt>
							<dd class="col-sm-10">
								<a th:if="${sessionEpreuve..statutSession.key ne 'CLOSED'}" th:href="@{/{ctx}/supervisor/presence?sessionEpreuve={id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center">
								<i class="fa fa-id-badge text-success  me-2"></i></a>
								<i th:if="${sessionEpreuve..statutSession.key eq 'CLOSED'}" class="fa fa-id-badge disabled me-2"></i><span class='minusSize' th:text="${sessionEpreuve.nbPresentsSession + 
									' / ' + sessionEpreuve.nbInscritsSession}"></span>
							</dd>
							<dt class="col-sm-2">Commentaire</dt>
							<dd class="col-sm-10" th:text="${sessionEpreuve.comment}"></dd>
							<dt class="col-sm-2">Archivée</dt>
							<dd class="col-sm-10"><i th:class="${sessionEpreuve.dateArchivage != null} ? 'fa fa-check text-success' :''"></i></dd>
				  			</div>
						</div>
					</div>
				</div>
			</dl>
        </div>
        <div class="modal-footer">
			<button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Terminer</button>
			<button 
			  th:hx-get="@{|/${eContext}/manager/sessionLocation?form=true&sessionEpreuve=${sessionEpreuve.id}&modal=true|}" 
			  hx-target="#show-modal .modal-content"
			  hx-trigger="click" 
			  hx-swap="innerHTML"
			  data-bs-toggle="modal" 
			  data-bs-target="#show-modal"
			  class="btn btn-primary">
			    Etape 2 - Ajouter des lieux
			</button>
      </div>
      </div>
    </div>
  </div>
</div>
