<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
			<div class="alert alert-danger mt-2" th:if="${form.list.isEmpty()}">Aucun lieu de session n'existe pour la répartition des inscrits!!</div>
         	<div class="card">
	    		<div class="card-header">
	    			<div class="row">
		    			<div class="col-lg-2">
	    					<h2>Répartition</h2>
							<small class="text-muted h5" th:text="${sessionEpreuve.nomSessionEpreuve + ' le ' +  
								#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy') + ' à ' +  sessionEpreuve.campus.site}"></small>
						</div>
	    				<div class="col-lg-10">
		    				<div class="row">
		    					<div class="col-lg-12">	
									<div th:if="${not #lists.isEmpty(form.list)}">
										<div class="row mb-2">	
											<div class="col-lg-7 alert alert-info row">
												<div class="col-lg-6 text-center bg-light text-dark">
													<p><b>Temps non aménagé</b> <br />
														<span th:text="${'A répartir: ' +  countTagChecksNotTiersTemps}"></span>
														<span th:text="${'Utilisé : ' + countTagChecksRepartisNotTiersTemps + ' / ' + capaciteTotaleNotTiersTemps}"></span>
													</p>
												</div>
												<div class="col-lg-6 text-center  bg-light text-dark">
													<p><b>Temps aménagé</b><br />
														<span  th:text="${'A répartir: ' +  countTagChecksTiersTemps}"></span>
														<span th:text="${'Utilisé : ' + countTagChecksRepartisTiersTemps + ' / ' + capaciteTotaleTiersTemps}"></span>
													</p>
												</div>
												<div class="col-lg-12  bg-light text-center pb-2">
													<a th:href="@{/{ctx}/manager/sessionEpreuve/executeRepartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="btn btn-warning">Répartir</a>
													<a th:href="@{/{ctx}/manager/sessionEpreuve/deleteRepartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="btn btn-primary ms-2">Réinitialiser</a>
												</div>
											</div>
											<div class="col-lg-5 alert alert-info row">
												<div class="col-lg-6 text-center bg-light text-dark" id="affinageNotTiersTemps">
													<p><b>Temps non aménagé</b> <br />
														<span id="tempCapaciteNotTiers">0</span> / <span id="currentCapaciteNotTiers" th:text="${countTagChecksRepartisNotTiersTemps}"></span>
													</p>
												</div>
												<div class="col-lg-6 text-center  bg-light text-dark" id="affinageTiersTemps">
													<p><b>Temps aménagé</b> <br />
														<span id="tempCapaciteTiers">0</span> / <span id="currentCapaciteTiers" th:text="${countTagChecksRepartisTiersTemps}"></span>
													</p>
												</div>
												<div class="col-lg-12  bg-light text-center pb-2 pt-2">
													<button class="btn btn-success" id="affinerButton" disabled="disabled">Modifier répartition</button>
												</div>
											</div>	
										</div>
									</div>
								</div>								
							</div>
						</div>
						<p class="font-weight-bold text-danger" th:text="${isOver} ? 'Le nombre d\'étudiants inscrits est supérieur à la capacité d\'accueil globale.' : ''"></p>
	    			</div>
	    		</div>
		    	<div class="card-body">
	    			<form id="formAffinage" th:action="@{/{ctx}/manager/sessionEpreuve/affinerRepartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:object="${form}" method="post">
						<table class="table table-hover table-striped table-bordered table-sm align-middle">
							<thead class="sticky-top">
								<tr>
									<th scope="col">Lieu</th>
									<th scope="col" class="d-none d-lg-table-cell d-xl-table-cell">Priorité</th>
									<th scope="col" class="center d-none d-lg-table-cell d-xl-table-cell">Tiers temps réservé</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Capacité</th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"> Candidats</th>
									<th scope="col">Taux de remplissage</th>
									<th scope="col" class="center">Modification</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="repartition, itemStat: *{list}">
									<td th:text="${repartition.location.nom}"></td>
									<td class="d-none d-lg-table-cell d-xl-table-cell" th:text="${repartition.priorite}"></td>
									<td class="text-center d-none d-lg-table-cell d-xl-table-cell"><i  th:id="${'tempsAmenage_' +repartition.id}" th:title="${(repartition.isTiersTempsOnly)? 'Oui' : 'Non'}" 
										th:class="${repartition.isTiersTempsOnly} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></td>
									<td th:text="${repartition.capacite}" th:id="${'capacite_' +repartition.id}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a th:id="${'candidats_' +repartition.id}" th:text="${repartition.nbInscritsSessionLocation}" th:href="@{/{ctx}/manager/sessionEpreuve/tagCheckList/{id}(id=${repartition.id},ctx=${eContext})}"></a></td>
									<td th:text="${repartition.tauxRemplissage + ' %'}" th:id="${'txRemplissage_' +repartition.id}"></td>
									<td class="center">
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].isTiersTempsOnly}" />
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].priorite}" />
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].capacite}" />
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].location}" />
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].sessionEpreuve}" />
										<input class="form-control" type="hidden" th:field="*{list[__${itemStat.index}__].id}" />
										<span class="row">
											<span class="col-lg-10">
												<input type="number" class="affinage" th:value="${repartition.nbInscritsSessionLocation}" th:field="*{list[__${itemStat.index}__].nbInscritsSessionLocation}"
													th:id="${'spinner_'+ repartition.isTiersTempsOnly + '_' + repartition.id}"  min="0" th:attr="max=${repartition.capacite}"/>
											</span>
											<span  class="col-lg-2" th:id="${'newPercent_'+ repartition.id}"   id="newPercent" th:text="${repartition.tauxRemplissage + ' %'}" ></span>
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</form>	
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
	<script>
	/*<![CDATA[*/
    var totalCandidatsNotTempsAmenage = '[[${countTagChecksRepartisNotTiersTemps}]]';
    var totalCandidatsTempsAmenage = '[[${countTagChecksRepartisTiersTemps}]]';
	/*]]>*/
	</script>	
</html>
