<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
           		<div class="card-header"><h2 >Session</h2></div>
  				<div class="card-body">
					<dl class="row">
			            <dt class="col-sm-2">Date</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.dateExamen, 'dd-MM-yyyy')}"></dd>					
			            <dt class="col-sm-2">Nom</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.nomSessionEpreuve}"></dd>
			            <dt class="col-sm-2">Type</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.typeSession.key}"></dd>
			            <dt class="col-sm-2">Statut</dt>
			            <dd class="col-sm-10">
			            	<span class="badge" th:classappend ="
							  ${(sessionEpreuve.statut.name() == 'STANDBY' ? 'bg-warning': '') + 
                                (sessionEpreuve.statut.name() == 'OPENED' ? 'bg-success': '')  + 
                                (sessionEpreuve.statut.name() == 'CANCELLED' ? 'bg-primary': '')  + 
                                (sessionEpreuve.statut.name() == 'CLOSED' ? 'bg-danger': '')}"
                                th:text="(${sessionEpreuve.statut}==null)? '': #{'session.statut.' + 
									${#strings.toLowerCase(sessionEpreuve.statut)}}">
							</span>
			            </dd>
			            <dt class="col-sm-2">Archivée</dt>
			            <dd class="col-sm-10"><i th:class="${sessionEpreuve.dateArchivage != null} ? 'fa fa-check text-success' :''"></i></dd>
			            <dt class="col-sm-2">Badgeage</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.typeBadgeage}"></dd>
			            <dt class="col-sm-2">Session libre</dt>
			            <dd class="col-sm-10" ><i th:if="${sessionEpreuve.isSessionLibre}" class="fa fa-check text-success"></i></dd>
			            <dt class="col-sm-2" th:if="${isAdeCampusEnabled}">ADE</dt>
			            <dd class="col-sm-10" th:if="${isAdeCampusEnabled}"><i th:class="${sessionEpreuve.adeEventId != null} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></dd>
			            <dt class="col-sm-2">Groupe à exclure (session libre)</dt>
			            <dd class="col-sm-10"><span th:if="${sessionEpreuve.blackListGroupe != null}" th:text="${sessionEpreuve.blackListGroupe.nom}"></span></dd>
			            <dt class="col-sm-2">Enregistrement automatique</dt>
			            <dd class="col-sm-10"><i th:if="${sessionEpreuve.isSaveInExcluded}" class="fa fa-check text-success"></i></dd>
			            <dt class="col-sm-2">Procuration activée</dt>
			            <dd class="col-sm-10"><i th:if="${sessionEpreuve.isProcurationEnabled}" class="fa fa-check text-success"></i></dd>
			            <dt class="col-sm-2">Alerte badgeage max</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.maxBadgeageAlert}"></dd>
			            <dt class="col-sm-2">Lieux</dt>
			            <dd class="col-sm-10">
			            	<a th:href="@{/{ctx}/manager/sessionLocation/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbLieuxSession}"></a>
			            </dd>
			            <dt class="col-sm-2">Inscrits</dt>
			            <dd class="col-sm-10">
			            	<a th:href="@{/{ctx}/manager/tagCheck/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbInscritsSession}"></a>
			            </dd>
			            <dt class="col-sm-2" th:text="${surveillantTerme +'s'}"></dt>
			            <dd class="col-sm-10">
			            	<a th:href="@{/{ctx}/manager/tagChecker/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" th:text="${sessionEpreuve.nbTagCheckerSession}"></a>
			            </dd>
			            <dt class="col-sm-2">Site</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.campus.site}"></dd>
			            <dt class="col-sm-2">Pièces jointes</dt>
			            <dd class="col-sm-10">
				            <span th:if="${attachments!=null and !attachments.empty}" >
					            <span th:each="att : ${attachments}">
				            		<span><a th:href="@{/{ctx}/manager/storedFile/{id}/photo(id=${att.id},ctx=${eContext})}" 
				            		th:text="${att.filename}" target="_blank"></a></span><br />
					            </span>
				            </span>
			            </dd>    			            
			            <dt class="col-sm-2">Convocation</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.heureConvocation, 'HH:mm')}"></dd>   
			            <dt class="col-sm-2">Début</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.heureEpreuve, 'HH:mm')}"></dd> 
			            <dt class="col-sm-2">Fin</dt>
			            <dd class="col-sm-10" th:text="${#dates.format(sessionEpreuve.finEpreuve, 'HH:mm')}"></dd>
			            <dt class="col-sm-2">Durée</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.dureeEpreuve}"></dd>       
			            <dt class="col-sm-2">Répartition</dt>
			            <dd class="col-sm-10">
							<a th:if="${!sessionEpreuve.isSessionEpreuveClosed}" th:href="@{/{ctx}/manager/sessionEpreuve/repartition/{id}(id=${sessionEpreuve.id},ctx=${eContext})}">
							<i class="fa fa-exchange-alt text-primary me-2"></i></a>
							<i th:if="${sessionEpreuve.isSessionEpreuveClosed}" class="fa fa-exchange-alt disabled  me-2"></i>
							<span class='minusSize' th:text="${sessionEpreuve.nbDispatchTagCheck + ' / ' + sessionEpreuve.nbInscritsSession}"></span>
			            </dd>
			            <dt class="col-sm-2">Présence</dt>
			            <dd class="col-sm-10">
							<a th:if="${!sessionEpreuve.isSessionEpreuveClosed}" th:href="@{/{ctx}/supervisor/presence?sessionEpreuve={id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center">
							<i class="fa fa-id-badge text-success  me-2"></i></a>
							<i th:if="${sessionEpreuve.isSessionEpreuveClosed}" class="fa fa-id-badge disabled me-2"></i><span class='minusSize' th:text="${sessionEpreuve.nbPresentsSession + 
								' / ' + sessionEpreuve.nbInscritsSession}"></span>
			            </dd>
			            <dt class="col-sm-2">Commentaire</dt>
			            <dd class="col-sm-10" th:text="${sessionEpreuve.comment}"></dd>
			            <dt class="col-sm-2">Actions</dt>
			            <dd class="col-sm-10">
			            	<a th:href="@{/{ctx}/manager/sessionEpreuve(ctx=${eContext})}" class="center ms-2"><i class="fa fa-list text-primary"></i></a>
							<a th:href="@{/{ctx}/manager/sessionEpreuve/{id}?form(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2"><i class="fa fa-pen text-warning"></i></a>
							<a data-bs-toggle="modal" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning'+${sessionEpreuve.id }"  class="center ms-2"><i class="fa fa-trash text-danger"></i></a>
							<div class="modal modal-warning fade in" th:id="modal-warning+${sessionEpreuve.id}" >
							    <div class="modal-dialog">
							        <div class="modal-content">
							        	<form id="command" th:action="@{/{ctx}/manager/sessionEpreuve/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" method="POST">
								        	<input type="hidden" name="_method" value="delete" />
								            <div class="modal-header">
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								            </div>
								            <div class="modal-body">
								                <div class="alert alert-danger text-center">Confirmez-vous la suppression de cette session: <br />
								                	 <span th:text="${sessionEpreuve.nomSessionEpreuve}" class="font-weight-bold"></span> ?</div>
								            </div>
								            <div class="modal-footer">
								                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
								                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
								            </div>
							            </form>
							        </div>
							    </div>
							</div>
							<a th:if="${!sessionEpreuve.isSessionEpreuveClosed}" th:href="@{/{ctx}/manager/sessionEpreuve/close/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2" 
								onclick="confirm('Confirmez-vous la clôture de cette session?');" title="Clôturer"><i class="fas fa-door-closed text-secondary"></i></a>
							<a th:if="${sessionEpreuve.isSessionEpreuveClosed and sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/sessionEpreuve/close/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2" 
								onclick="confirm('Confirmez-vous la réouverture de cette session?');" title="Réouvrir"><i class="fas fa-door-closed text-secondary"></i></a>
							<a th:if="${sessionEpreuve.dateArchivage == null}" th:href="@{/{ctx}/manager/sessionEpreuve/duplicate/{id}(id=${sessionEpreuve.id},ctx=${eContext})}" class="center ms-2" 
								onclick="confirm('Confirmez-vous la copie de cette session?');" title="Dupliquer"><i class="fa fa-copy text-info"></i></a>								
			            </dd>
					</dl>
                </div>
           	</div>
		</div>		
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
