<div class="modal modal-lg " data-bs-backdrop="static" tabindex="-1" th:fragment="show-modal" id="show-modal" >
  <div class="modal-dialog ">
    <div class="modal-content">
<!--      <div class="modal-header">
        <h5 class="modal-title">Session créée</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
		<button 
		  th:hx-get="@{|/${eContext}/manager/sessionLocation?form=true&sessionEpreuve=8207&modal=true|}" 
		  hx-target="#show-modal .modal-content"
		  hx-trigger="click" 
		  hx-swap="innerHTML"
		  data-bs-toggle="modal" 
		  data-bs-target="#show-modal"
		  class="btn btn-primary">
		    Etape 2 - Ajouter des lieux
		</button>
      </div>-->
    </div>
  </div>
</div>
