<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid px-3 px-md-4 my-2">
			<div class="d-flex justify-content-between align-items-center mb-3 border-bottom pb-2">
				<div>
		        <h2 class="fs-3 mb-0">Liste d'émargement</h5>
		        <small class="text-muted fs-5">
		            <span th:text="${sessionLocation.sessionEpreuve.nomSessionEpreuve + ' le '
		                + #dates.format(sessionLocation.sessionEpreuve.dateExamen, 'dd-MM-yyyy')
		                + #dates.format(sessionLocation.sessionEpreuve.heureEpreuve, ' HH:mm')
		                + #dates.format(sessionLocation.sessionEpreuve.finEpreuve, ' - HH:mm')
		                + ' à ' + sessionLocation.sessionEpreuve.campus.site
		                + ' ---- ' + sessionLocation.location.nom}">
		            </span>
		            <span th:if="${sessionLocation.sessionEpreuve.dateFin != null}"
		                  th:text="${' -- Fin le ' + #dates.format(sessionLocation.sessionEpreuve.dateFin, 'dd-MM-yyyy')}">
		            </span>
		        </small>
				</div>
			    <div class="d-flex align-items-center gap-2">
					<form th:action="@{/{ctx}/manager/sessionEpreuve/emargement(ctx=${eContext})}" method="post" id="modalFormChoixExport"
						class="float-end ms-2">
						<input type="hidden" id="sessionId" name="sessionLocationId" th:value="${sessionLocation.id}" />
						<input type="hidden" id="sessionEpreuveId" name="sessionEpreuveId"
							th:value="${sessionLocation.sessionEpreuve.id}" />
						<input type="submit" class="btn btn-danger exportInscrits" name="type" value="Liste" />
			        </form>
			    </div>
			</div>
			<table class="table table-hover table-striped table-bordered">
				<thead class="sticky-top">
					<tr>
						<th scope="col"><a class="sorted" sd:pagination-sort="person.numIdentifiant">N° Identifiant</a></th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col" class="text-center d-none d-lg-table-cell d-xl-table-cell">Temps aménagé</th>
					</tr>
				</thead>
				<tbody>
			 		<tr th:each="tagCheck : ${tagChecks}">
						<td th:text="${(tagCheck.person!=null)? tagCheck.person.numIdentifiant : ''}"></td>
						<td th:text="${(tagCheck.person!=null)? tagCheck.person.nom : tagCheck.guest.nom}"></td>
						<td th:text="${(tagCheck.person!=null)? tagCheck.person.prenom : tagCheck.guest.prenom}"></td>
						<td class="text-center d-none d-lg-table-cell d-xl-table-cell"><i th:class="${tagCheck.isTiersTemps} ? 'fa fa-check text-success' :'fa fa-times text-danger'"></i></td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="fragments/pagination :: pagination"></nav>
			</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
