<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Modifier une session</h2></div>
		    	<div  class="alert alert-danger" th:if="${error}">Une session avec le nom  <strong><span th:text="${nom}"></span></strong> existe déjà!!</div>
		    	<div  class="alert alert-danger font-weight-bold" th:if="${compareEpreuve}">L'heure de fin doit être postérieure à l'heure de début</div>
		    	<div  class="alert alert-danger font-weight-bold" th:if="${compareConvoc}">L'heure de convocation doit être antérieure à l'heure de début</div>
		    	<div  class="alert alert-success font-weight-bold" th:if="${#ctx.containsVariable('duplicate')}">La Session a été dupliquée avec succès.</div>
		    	<div  class="alert alert-warning font-weight-bold" th:if="${#ctx.containsVariable('countExisting')}">le nom de session <span class="text-danger" th:text="${countExisting}"></span> 
		    		existe déjà dans la base de données de l'application, veuillez en trouver un autre.</div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/manager/sessionEpreuve/update/{id}(ctx=${eContext}, id=${sessionEpreuve.id})}" th:object="${sessionEpreuve}" method="post" enctype="multipart/form-data">
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="codSes" class="col-form-label">Année universitaire</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<select id="anneeUniv" name="anneeUniv" required="required" class="form-control"> 
									<option th:each="year : ${years}"
										th:value="${#strings.substringBefore(year,'/')}" th:text="${year}"  th:selected="${#strings.substringBefore(year,'/')==sessionEpreuve.anneeUniv}"></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="typeSession" class="col-form-label">*Type</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<select id="typeSession" name="typeSession" required="required" class="form-control">
									<option value="">----Choisir----</option>
									<option th:each="type : ${types}"
										th:value="${type.id}" th:text="${type.libelle}" th:selected="${type.key==sessionEpreuve.typeSession.key}"></option>
								</select>
							</div>
						</div>
	                    <div class="form-group row">
		                    <div class="col-lg-2">
		                    	<label for="campus" class="col-form-label">*Site</label>
		                    </div>
		                    <div class="col-lg-10">
								<select th:field="*{campus}" class="form-control" required="required">
									<option value="">----Choisir----</option>
									<option th:each="campus : ${allCampuses}"
										th:value="${campus.id}" th:text="${campus.site}"></option>
								</select>
							</div>
						</div>	 	                    
	                    <div class="form-group row">
		                    <div class="col-lg-2">
		                        <label for="nomSessionEpreuve" class="col-form-label">*Nom</label>
		                    </div>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{nomSessionEpreuve}" class="form-control" required="required">
		                    </div>
	                    </div>
	                    <div class="form-group row">
		                    <div class="col-lg-2">
		                        <label for="dateExamen" class="col-form-label">*Date</label>
		                    </div>
		                    <div class="col-lg-10">
		                        <input type="text" placeholder="dd/MM/YYYY" th:field="*{dateExamen}" class="form-control" required="required" id="dateSessionEpreuve" 
		                        	data-toggle="datetimepicker" data-target="#dateSessionEpreuve">
		                    </div>
	                    </div>   	                    
	                   <div class="form-group row">
		                   <div class="col-lg-2">
		                        <label for="heureConvocation" class="col-form-label">Convocation</label>
		                   </div>
		                   <div class="col-lg-10">
		                        <input type="time" th:field="*{heureConvocation}" class="form-control" id="heureConvocation"
		                        	data-toggle="datetimepicker" data-target="#heureConvocation" required="required">
		                    </div>
	                    </div>
	                    <div class="form-group row">
		                    <div class="col-lg-2">
		                        <label for="heureEpreuve" class="col-form-label">Début</label>
	                       	</div>
	                       	<div class="col-lg-10">
		                        <input type="time" th:field="*{heureEpreuve}" class="form-control" id="heureEpreuve"
		                        	data-toggle="datetimepicker" data-target="#heureEpreuve" required="required">
	                        </div>
	                    </div>
	                    <div class="form-group row">
	                    	<div class="col-lg-2">
	                        	<label for="finEpreuve" class="col-form-label">Fin</label>
	                        </div>
	                        <div class="col-lg-10">
	                        	<input type="time" th:field="*{finEpreuve}" class="form-control timepicker" id="finEpreuve"
	                        		data-toggle="datetimepicker" data-target="#finEpreuve" required="required">
	                        </div>
	                    </div>
	                    <div class="form-group row">
		                    <div class="col-lg-2">
		                    	<label for="file" class="col-form-label">Pièces jointes</label>
		                    </div>
		                    <div class="col-lg-10 file-loading">
			 					<input type="file" class="form-control-file" id="files" name="files[]" multiple>
			 				</div>
						</div>
	                    <div class="form-group row">
	                    	<div class="col-lg-2">
	                        	<label for="comment" class="col-form-label">Commentaire</label>
	                        </div>
	                        <div class="col-lg-10">
	                        	<textarea  th:field="*{comment}" class="form-control" ></textarea>
	                        </div>
	                    </div>
	                   <div class="form-group row">
							<div class="col-lg-2">
								<label class="form-check-label"  th:for="${isSessionLibre}">
							        Type de badgeage
							      </label>
							</div>
							<div class="col-lg-10">
 								<div class="form-check form-check-inline" th:each="type : ${T(org.esupportail.emargement.domain.SessionEpreuve.TypeBadgeage).values()}">
								  <input class="form-check-input" type="radio" th:field="*{typeBadgeage}" th:value="${type}" th:checked="${true}">
								  <label class="form-check-label" th:for="${#ids.prev('typeBadgeage')}" th:text="${type}"></label>
								</div>
						    </div>
						</div>	  	                    
	                   	<div class="form-group row">
							<div class="col-lg-2">
								<label class="form-check-label"  th:for="${isSessionLibre}">
							        Session Libre
							      </label>
							</div>
							<div class="col-lg-10">
								 <div class="form-check">
								      <input class="form-check-input" type="checkbox" th:field="*{isSessionLibre}" th:disabled="${isSessionLibreDisabled}">
								</div>
						    </div>
						</div>
						<div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="blackListGroupe" class="col-form-label">Groupe à exclure (session libre)</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<select id="blackListGroupe" name="blackListGroupe" >
									<option value="">----Choisir----</option>
									<option th:if="${sessionEpreuve.blackListGroupe!=null}" th:each="groupe : ${allGroupes}"
										th:value="${groupe.id}" th:text="${groupe.nom}" th:selected="${groupe.id==sessionEpreuve.blackListGroupe.id}"></option>
									<option th:unless="${sessionEpreuve.blackListGroupe!=null}" th:each="groupe : ${allGroupes}"
										th:value="${groupe.id}" th:text="${groupe.nom}"></option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-2">
								<label class="form-check-label"  th:for="${isProcurationEnabled}">
							        Procuration activée
							      </label>
							</div>
							<div class="col-lg-10">
								 <div class="form-check">
								      <input class="form-check-input" type="checkbox" th:field="*{isProcurationEnabled}">
								</div>
						    </div>
						</div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
