<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter une configuration</h2></div>
		    	<div  class="alert alert-danger" th:if="${error}">Le site avec le nom  <strong><span th:text="${nom}"></span></strong> existe déjà!!</div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/admin/appliConfig/create(ctx=${eContext})}" th:object="${appliConfig}" method="post" id="configForm">
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="key" class="form-label">Clé</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<input type="text" th:field="*{key}" class="form-control" required="required">
							</div>
						</div>	
	                    <div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="type" class="form-label">Type</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<label class="radio-inline">
							  		<input type="radio" name="type" id="typeText" value="TEXT" checked="checked"/> Texte
								</label>
								<label class="radio-inline">
								  	<input type="radio" name="type" id="typeHtml" value="HTML" /> Html
								</label>
								<label class="radio-inline">
								  	<input type="radio" name="type" id="typeBoolean" value="BOOLEAN" /> Booléen
								</label>
							</div>
						</div>
						<div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="value" class="form-label" id="suneditor">Valeur</label>
	                    	</div>
						</div>
						<div class="form-group row">
	                   		<div class="col-lg-2">
	                    		<label for="description" class="form-label">Description</label>
	                    	</div>
	                    	<div class="col-lg-10">
								<textarea  th:field="*{description}" class="form-control" ></textarea>
							</div>
						</div>						
	                    <input type="hidden" id="hiddenValeur" th:value="${appliConfig.value}"/>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
