<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid px-3 px-md-4 my-2">
			<div class="d-flex justify-content-between align-items-center mb-2 border-bottom pb-2 mb-3">
				<h2 class="fs-3 mb-0">Sites</h2>
				<div class="d-flex align-items-center gap-2">
					<a th:href="@{/{ctx}/admin/campus?form(ctx=${eContext})}" class="btn btn-primary" title="Ajouter un lieu"><i class="fa-solid fa-plus fa-lg"></i></a>
				</div>
			</div>
    		<div  class="alert alert-danger" th:if="${error}">Un lieu possède le site <span class="font-weight-bold" th:text="${item}"></span>, Veuillez supprimer ce lieu avant de supprimer ce site </div>
			<table class="table table-hover table-striped table-bordered">
				<thead class="sticky-top">
					<tr>
						<th scope="col"><a class="sorted" sd:pagination-sort="site">Site</a></th>
						<th scope="col">Description</th>
						<th class ="center" scope="col">Défaut</th>
						<th class ="center" scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="campus : ${campusPage}">
						<td th:text="${campus.site}"></td>
						<td th:text="${campus.description}"></td>
						<td class ="center"><i th:class="${campus.isDefault} ? 'fa-solid fa-check text-success' :''"></i></td>
						<td class ="center">
							<div class="dropdown">
								<button class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown">
									<i class="fa-solid fa-ellipsis-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end">
									<li><a class="dropdown-item" th:href="@{/{ctx}/admin/campus/{id}(id=${campus.id},ctx=${eContext})}">Voir</a>
									</li>
									<li><a class="dropdown-item" th:href="@{/{ctx}/admin/campus/{id}?form(id=${campus.id},ctx=${eContext})}">Modifier</a>
									</li>
									<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-warning" 
										th:attr="data-bs-target='#modal-warning'+${campus.id}" href="#">Supprimer</a>
									</li>
								</ul>
							</div>				
							<div class="modal modal-warning fade in" th:id="modal-warning+${campus.id}" >
							    <div class="modal-dialog">
							        <div class="modal-content">
							        	<form id="command" th:action="@{/{ctx}/admin/campus/{id}(id=${campus.id},ctx=${eContext})}" method="POST">
								        	<input type="hidden" name="_method" value="delete" />
								            <div class="modal-header">
								                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								            </div>
								            <div class="modal-body">
								                <div class="alert alert-danger text-center">Confirmez-vous la suppression de ce site : <br />
								                	 <span th:text="${campus.site}" class="font-weight-bold"></span> ?</div>
								            </div>
								            <div class="modal-footer">
								                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
								                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
								            </div>
							            </form>
							        </div>
							    </div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="fragments/pagination :: pagination"></nav>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
