<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
           	<div class="card">
		    	<div class="card-header"><h2>Ajouter un contexte</h2></div>
		    	<div  class="alert alert-danger" th:if="${error}">Le contexte avec le nom  <strong><span th:text="${item}"></span></strong> existe déjà!!</div>
  				<div class="card-body">
                    <form action="#" th:action="@{/{ctx}/superadmin/context/create(ctx=${eContext})}" th:object="${context}" method="post">
                    	<div class="row mb-3">
		                    <label for="contextUrl" class="col-lg-2 form-label">Clé</label>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{key}" class="form-control" placeholder="Pas d'espace et en minuscule" required="required">
		                    </div>
	                    </div>
                    	<div class="row mb-3">
		                    <label for="title" class="col-lg-2 form-label">Titre</label>
		                    <div class="col-lg-10">
		                        <input type="text" th:field="*{title}" class="form-control" required="required">
		                    </div>
	                    </div>
	                    <div class="row mb-3">
		                    <label for="pageFooter" class="col-lg-2 form-label">Footer</label>
		                    <div class="col-lg-10">
		                       <input type="text" th:field="*{pageFooter}" class="form-control">
		                    </div>
	                    </div>
	                    <div class="row mb-3">
		                    <label for="commentaire" class="col-lg-2 form-label">Commentaire</label>
		                    <div class="col-lg-10">
		                       <textarea th:field="*{commentaire}" class="form-control"></textarea>
		                    </div>
	                    </div>
                        <div class="row">
                            <div class="col-md-6 mt-5">
                                <input type="submit" class="btn btn-success" value="Valider">
                            </div>
                        </div>                  
                    </form>
                </div>
            </div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>
