<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data">
	<head th:replace="fragments/head :: head"></head>
	<body>
		<nav th:replace="fragments/menu :: menu(activeMenu)"></nav>
		<div th:replace="fragments/help :: help"></div>
		<div class="container-fluid">
         	<div class="card">
	    		<div class="card-header">
		    		<div class="row">
			    		<div class="col">
					    	<h2>Contextes</h2>
					    </div>
					    <div class="col">
						    <div class="row float-end">
						    	<div class="col-auto">
							    	 <a th:href="@{/{ctx}/superadmin/context?form(ctx=${eContext})}" class="btn btn-primary" title="Ajouter un contexte"><i class="fa fa-plus fa-lg"></i></a>
						    	</div>
						    </div>
					    </div>
	    			</div>
	    		 </div>          	
  				<div class="card-body">
		    			<div  class="alert alert-danger" th:if="${error}">Le contexte <span class="font-weight-bold" th:text="${item}"></span> est utilisé, Veuillez supprimer ses dépendances avant de le supprimer.</div>
						<table class="table table-hover table-striped table-bordered">
							<thead class="sticky-top">
								<tr>
									<th scope="col"><a class="sorted" sd:pagination-sort="key">Clé</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Titre</th>									
									<th scope="col" class="d-none d-sm-table-cell  d-md-table-cell d-lg-table-cell d-xl-table-cell">Commentaire</th>
									<th scope="col" class="d-none d-sm-table-cell  d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="createur">Créateur</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"><a class="sorted" sd:pagination-sort="dateCreation">Date de création</a></th>
									<th scope="col" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">Date de modification</th>
									<th class ="center" scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="context : ${contextPage}">
									<td th:text="${context.key}"></td>
									<td th:text="${context.title}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>										
									<td th:text="${context.commentaire}" class="d-none d-sm-table-cell  d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${context.createur}" class="d-none d-sm-table-cell  d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${#dates.format(context.dateCreation, 'dd-MM-yyyy HH:mm')}"  class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>
									<td th:text="${#dates.format(context.dateModification, 'dd-MM-yyyy HH:mm')}" class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell"></td>									
									<td class ="center"><a th:href="@{/{ctx}/superadmin/context/{id}(id=${context.id},ctx=${eContext})}"><i class="fa fa-eye text-primary"></i></a>
										<a th:href="@{/{ctx}/superadmin/context/{id}?form(id=${context.id},ctx=${eContext})}"><i class="fa fa-pen text-warning ms-2"></i></a>
										<a data-bs-toggle="modal" data-bs-target="#modal-warning" th:attr="data-bs-target='#modal-warning'+${context.id }"><i class="fa fa-trash text-danger ms-2"></i></a>
										<div class="modal modal-warning fade in" th:id="modal-warning+${context.id}" >
										    <div class="modal-dialog">
										        <div class="modal-content">
										        	<form id="command" th:action="@{/{ctx}/superadmin/context/{id}(id=${context.id},ctx=${eContext})}" method="POST">
											        	<input type="hidden" name="_method" value="delete" />
											            <div class="modal-header">
											                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											            </div>
											            <div class="modal-body">
											                <div class="alert alert-danger text-center">Confirmez-vous la suppression de ce contexte : <br />
											                	<br />
											                	<span th:text="${context.key}" class="font-weight-bold"></span> ?
											                	 <div class="alert alert-warning text-center mt-2">
																	<div class="form-check form-check-inline">
																	  <input class="form-check-input" type="radio" name="deleteContext" id="deleteContext1" value="true">
																	  <label class="form-check-label" for="inlineRadio1">Oui</label>
																	</div>
																	<div class="form-check form-check-inline">
																	  <input class="form-check-input" type="radio" name="deleteContext" id="deleteContext2" value="false" checked="checked">
																	  <label class="form-check-label" for="inlineRadio2">Non</label>
																	</div>
																</div>
														</div>												                	 
											            </div>
											            <div class="modal-footer">
											                <button type="button" class="btn btn-outline pull-left" data-bs-dismiss="modal">Fermer</button>
											                <button type="submit" class="btn btn-outline pull-left btn-danger">Valider</button>
											            </div>
										            </form>
										        </div>
										    </div>
										</div>
									</td>									
								</tr>
							</tbody>
						</table>
						<nav th:replace="fragments/pagination :: pagination"></nav>							
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>